@media (max-width : 767px) {
  .mostout {
    .contains {
      padding: 0;

      .secondContains {
        margin-top: 7.5vh;
        margin-bottom: 0;
        justify-content: space-around;
        padding: 4vw 0;

        .tag_item {
          height: unset;
          font-size: 3vw;
          padding: 1vw 3vw;
          border-radius: 3vw;
        }
      }
    }

    .real_news {
      display: none;
    }

    .pictureShow {
      width: 100vw;
      height: 100vw;
      margin: 0 0 2.67vw 0 !important;
      box-shadow: 0 2px 30px 0 rgba(79, 119, 202, 0.2);

      .onePicture-box {
        width: 100vw;
        height: 59.46vw;
        overflow: unset;
        position: relative;

        .tag {
          padding: 1vw 3vw;
          border-radius: 10vw;
          top: unset;
          bottom: -12vw;
          left: 4vw;
          z-index: 2;
          font-size: 2vw;
        }
      }

      .onePicture-box::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.1)
      }

      .details {
        margin: 4vw;
        margin-top: 15.4vw;
        font-size: 4.2vw;
        color: #222;
      }

      .mylogo {
        width: 14.8vw;
        height: 2.7vw;
        right: 4vw;
        bottom: 4vw;
      }
    }

    .overflow-auto {
      margin-top: 0;
      visibility: hidden;
    }
  }

  .update_time {
    font-family: DINPro-Light;
    font-size: 2vw;
    color: #666;
    margin-top: 1.3vw;
    letter-spacing: 0.1vw;
  }
}