<template>
  <div>
    <b-img class="headimg" :src="baseUrl+contents.banner" fluid></b-img>
    <div class="container">
      <b-img :src="baseUrl+contents.logo" fluid style="height: 68px;"></b-img>
      <h1 class="title">{{article.title}}</h1>
      <div style="text-align: center;">{{article.description}}</div>
      <div v-html="content"></div>
      <a class="link" :href="contents.homepage" target="_Blank">
        <span>{{contents.homepage}}</span>
      </a>
    </div>

    <template v-for="item in originators">
      <div class="bottom" :key="item.name">
        <span class="desc">
          <div class="info">
            <h2>{{item.name}}</h2>
            <h2>{{item.position}}</h2>
          </div>
          <div class="desc1">{{item.description}}</div>
        </span>
        <b-img class="headimg" src="http://www.yunqi.vc/Public/Home/images/informb1.png" fluid></b-img>
        <b-img class="avatar" :src="baseUrl+item.image" fluid></b-img>
      </div>
    </template>
  </div>
</template>

<script>
import { apiService, HTTP_TYPE } from "@/services/api";
import { BASE_URL, requestHttpName } from "@/services/config";
import { formatDate, HTMLEnCode, HTMLDeCode } from "@/services/util";

export default {
  layout: "none",
  name: "Footer",
  components: {},
  data() {
    return {
      baseUrl: BASE_URL,
      content: "",
      contents: {},
      article: {},
      originators: []
    };
  },
  created() {
    this.id = this.$route.params.id;
    apiService(
      HTTP_TYPE.POST,
      `${requestHttpName}/api/v1/portfolios/findOne`,
      {
        queryInfo: {
          id: this.id,
          visible: true
        }
      },
      false
    )
      .then(res => {
        if (!res.data.result.data) {
          console.log("文章不存在");
        } else {
          this.contents = res.data.result.data;
          this.article = this.contents.article;
          this.originators = this.contents.originators;
          if (this.originators[this.originators.length - 1].name === "") {
            this.originators.pop();
          }
          this.originators = this.contents.originators.map(item => ({
            description: HTMLDeCode(item.description),
            name: HTMLDeCode(item.name),
            position: HTMLDeCode(item.position),
            image: item.image
          }));
          this.content = HTMLDeCode(res.data.result.data.article.content);
        }
      })
      .catch(err => {
        console.error(err);
      });
  },
  methods: {}
};
</script>

<style scoped lang="scss">
@media (min-width: 768px) {
  .container {
    margin: 100px auto 50px;
    text-align: center;
  }
  .headimg {
    width: 100%;
  }
  .bottom {
    position: relative;
    background: #0795df
      url("http://www.yunqi.vc/Public/Home/images/informb1.png") no-repeat
      center center;
  }
  .avatar {
    position: absolute;
    top: 50px;
    right: 8%;
  }
  .title {
    margin: 30px 0 40px;
    text-align: center;
  }
  .desc {
    width: 46%;
    padding-top: 15%;
    float: left;
    padding-left: 8%;
  }
  .info {
    padding: 15px 0;
    padding-left: 90px;
    background: url("http://www.yunqi.vc/Public/Home/images/informb3.png")
      no-repeat left center;
  }
  .info h2 {
    font-size: 20px;
    color: #ffffff;
    line-height: 25px;
  }
  .desc1 {
    font-size: 16px;
    color: #ffffff;
    padding-top: 8%;
  }
  .link {
    text-decoration: none;
    cursor: pointer;
  }
  .link span {
    margin-top: 20px;
    border-radius: 30px;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    padding: 8px 25px 8px 30px;
    display: inline-block;
    background: #0795df
      url("http://www.yunqi.vc/Public/Home/images/inform3.png") no-repeat 10px
      center;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 100px auto 50px;
    text-align: center;
  }
  .headimg {
    width: 100%;
    padding-top: 4vw;
  }
  .bottom {
    position: relative;
    background: #0795df
      url("http://www.yunqi.vc/Public/Home/images/informb1.png") no-repeat
      center center;
  }
  .avatar {
    position: absolute;
    top: 50px;
    width: 30vw;
    right: 8%;
  }
  .title {
    margin: 30px 0 40px;
    text-align: center;
  }
  .desc {
    width: 90vw;
    text-align: justify;
    padding-top: 12%;
    float: left;
    padding-left: 8%;
  }
  .info {
    padding: 15px 0;
    padding-left: 90px;
    background: url("http://www.yunqi.vc/Public/Home/images/informb3.png")
      no-repeat left center;
    background-size: 18vw;
  }
  .info h2 {
    font-size: 3.6vw;
    color: #ffffff;
    line-height: 25px;
    width: 30vw;
  }
  .desc1 {
    font-size: 16px;
    color: #ffffff;
    padding-top: 12%;
  }
  .link {
    text-decoration: none;
    cursor: pointer;
  }
  .link span {
    margin-top: 20px;
    border-radius: 30px;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    padding: 8px 25px 8px 30px;
    display: inline-block;
    background: #0795df
      url("http://www.yunqi.vc/Public/Home/images/inform3.png") no-repeat 10px
      center;
  }
}
</style>