<template>
  <div style="background:#FBFBFB" class="page-company">
    <Header></Header>
    <div class="banner" :class="$i18n.locale === 'zh' ? '' : 'banner-e'">
      <div
        class="title_there"
        data-aos="fade-up"
        data-aos-delay="500"
        data-aos-duration="1000"
      >
        {{ title }}
      </div>
      <div
        class="title_four"
        style="margin-top: 14px;"
        data-aos="fade-up"
        data-aos-delay="800"
        data-aos-duration="1000"
      >
        {{
         msg
        }}
      </div>
    </div>
    <div class="body-container">
      <b-row class="brow">
        <div
          @click="onFindAll()"
          class="tag_item"
          :class="choosenSuperTag === '全部' ? 'tag_item_check' : ''"
        >
          {{ locale === "zh" ? "全部" : "All" }}
        </div>
        <template v-for="item in tagArr">
          <div
            @click="onSuperTagClick(item.super_tag)"
            class="tag_item"
            :key="item.super_tag"
            :class="choosenSuperTag === item.super_tag ? 'tag_item_check' : ''"
          >
            {{ item.super_tag }}
          </div>
        </template>
      </b-row>
      <b-row class="brow brow2">
        <template v-for="item in tagArr">
          <template v-if="item.super_tag == choosenSuperTag">
            <template v-for="item2 in item.tag">
              <div
                @click="onTagClick(item2.tagName)"
                class="tag_item tag_item2"
                :key="item2.tagName"
                :class="item2.selectd ? 'tag_item_check' : ''"
              >
                {{ item2.tagName }}
              </div>
            </template>
          </template>
        </template>
      </b-row>
      <div class="bdesc first-bdesc">
        {{
          $i18n.locale === "zh"
            ? "该排序按照企业首字母进行排序"
            : "Sort by company first letter"
        }}
      </div>
      <b-row
        class="bcol-box"
        :style="{
          height: [showAllData || portfolios.length <= 16 ? '' : '80vw']
        }"
      >
        <template v-for="(item, index) in tempList">
          <b-col
            :key="index"
            class="bcol"
            :class="index % 4 == 0 || index % 4 == 3 ? 'odd-col' : ''"
          >
            <b-img
              class="cover"
              fluid
              :src="baseUrl + item.show_picture"
              :alt="item.article.title"
              @click="onPortfolioClick(item.id)"
            ></b-img>
            <b-img
              class="bg"
              fluid
              :src="baseUrl + item.show_picture_hover"
              :alt="item.article.title"
            ></b-img>
          </b-col>
          <div v-if="(index + 1) % 4 === 0" :key="index"></div>
        </template>
      </b-row>
      <div
        class="bdesc last-bdesc"
        style="text-align: right"
        v-if="portfolios.length < 16 || showAllData"
      >
        {{
          $i18n.locale === "zh"
            ? "以上为云启部分被投企业"
            : "The above are some of the invested companies in Yunqi"
        }}
      </div>
      <div
        class="btn_hover_plus"
        style="margin: 5.5vw auto;position: relative;"
        v-if="portfolios.length > 16"
        @click="showAllData = !showAllData"
      >
        <span v-if="$i18n.locale === 'zh'">{{
          showAllData ? "收起" : "显示更多"
        }}</span>
        <span v-else>
          {{ showAllData ? "Less" : "More" }}
        </span>

        <span
          class="arrow"
          :class="showAllData ? 'el-icon-arrow-up' : 'el-icon-arrow-down'"
        />
      </div>

      <!-- 弹窗 -->
      <detail-dialog :show="popAppear" :contents="contents" @close="closePop" />
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import DetailDialog from "@/components/company/DetailDialog";
import { apiService, HTTP_TYPE } from "@/services/api";
import { BASE_URL, requestHttpName } from "@/services/config";
import { formatDate, HTMLEnCode, HTMLDeCode } from "@/services/util";
let AOS = null;
if (process.browser) {
  AOS = require("aos");
}

export default {
  layout: "none",
  components: {
    Header,
    Footer,
    DetailDialog
  },
  data() {
    return {
      locale: this.$i18n.locale,
      tagArr: [],
      portfolios: [],
      baseUrl: BASE_URL,
      viewMore: false,
      isHover: "",
      choosenSuperTag: "全部",
      choosenTag: "",
      contents: {
        logo: "",
        article: {
          title: "",
          description: "",
          content: ""
        },
        homepage: ""
      },
      popAppear: false,
      showAllData: false,
      title:"",
      msg:""
    };
  },
  created() {
    this.getHeadMsg()
  },
  mounted() {
    if (process.browser) {
      AOS.init();
    }
    if (this.$route.query.tag) {
      this.choosenTag = this.$route.query.tag;
    }
    this.init(this.locale);
  },
  computed: {
    tempList: function() {
      return this.showAllData ? this.portfolios : this.portfolios.slice(0, 16);
    }
  },
  watch: {
    locale() {
      this.init(this.locale);
    }
  },
  methods: {
    getHeadMsg(){
       apiService(HTTP_TYPE.POST, `${requestHttpName}/api/v1/common/head_msg/findAll`, {
        "queryInfo": {
            "language": this.locale,
            "visible": true,
            "pageInfo": {
                "currentPage": 1,
                "pageSize":99999
            }
        }
    })
        .then(res => {
          if (res.data.status == "success") {
            let contents = res.data.result.data.rows;
            let data = [];
            for (let i = 0; i < contents.length; i++) {
              if(contents[i].type=="portfolios"){
                 this.title = contents[i].title
                 this.msg = contents[i].msg
              }
            }
          } else {
            this.$message.error(res.data.error);
          }
        })
        .catch(err => {
          this.$message.error(err.status + err.statusText);
        });
    },
    async init(locale) {
      await apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/portfolios/findAllTags`,
        {
          queryInfo: {
            language: locale,
            visible: true
          }
        },
        false
      )
        .then(res => {
          let allTags = res.data.result.data;
          let tagArr = [];
          for (let i in allTags) {
            if (allTags[i]._id === "其他" || allTags[i]._id === "Others") {
              tagArr.push({ super_tag: allTags[i]._id, tag: [] });
            } else if (tagArr.find(t => t.super_tag == allTags[i].super_tag)) {
              let idx = tagArr.findIndex(
                t => t.super_tag == allTags[i].super_tag
              );
              tagArr[idx].tag.push({ tagName: allTags[i]._id, selectd: false });
            } else {
              tagArr.push({
                super_tag: allTags[i].super_tag,
                tag: [{ tagName: allTags[i]._id, selectd: true }]
              });
            }
          }
          tagArr[0].super_tag='科技创新'//本是后端接收的数据 因为一些原因后端无法修改故在前端写死
          tagArr[1].super_tag='产业升级'
          this.tagArr = tagArr;
        })
        .catch(err => {
          console.error(err);
        });

      if (this.choosenTag === "") {
        this.onFindAll();
      } else {
        this.findByTag(this.choosenTag);
        this.tagArr.forEach(t => {
          if (t.tag.find(tt => tt.tagName == this.choosenTag)) {
            this.choosenSuperTag = t.super_tag;
            t.tag.forEach(ttt => {
              ttt.selectd = ttt.tagName == this.choosenTag;
            });
          }
        });
      }
    },

    viewMor(torf) {
      this.viewMore = torf;
    },

    onFindAll() {
      this.choosenSuperTag = "全部";
      apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/portfolios/findAll`,
        {
          queryInfo: {
            language: this.locale,
            visible: true,
            pageInfo: {
              currentPage: 1,
              pageSize: 500
            }
          }
        },
        false
      )
        .then(res => {
          let list = res.data.result.data.rows;
          list.sort((a, b) => {
            let sortA = a.companyName.toLowerCase()
            let sortB = b.companyName.toLowerCase()
            return sortA > sortB ? 1 : -1
          })
          this.portfolios = list
        })
        .catch(err => {
          console.error(err);
        });
    },

    findByTag(tag) {
      apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/portfolios/findByTag`,
        {
          queryInfo: {
            tag: tag,
            language: this.locale,
            visible: true,
            pageInfo: {
              currentPage: 1,
              pageSize: 500
            }
          }
        },
        false
      )
        .then(res => {
          this.portfolios = res.data.result.data.rows;
        })
        .catch(err => {
          console.error(err);
        });
    },
    onSuperTagClick(e) {
      this.choosenSuperTag = e;
      if (e == "其他" || e == "Others") {
        this.findByTag(e);
      } else {
        let tag = {};
        this.tagArr.forEach(t => {
          if (t.super_tag == e) {
            tag = t.tag.find(tt => tt.selectd);
          }
        });
        this.findByTag(tag.tagName);
      }
      this.showAllData = false;
    },

    onTagClick(e) {
      this.choosenTag = e;
      this.findByTag(e);
      this.tagArr.forEach(t => {
        if (t.tag.find(tt => tt.tagName == e)) {
          t.tag.forEach(ttt => {
            ttt.selectd = ttt.tagName == e;
          });
        }
      });
      this.showAllData = false;
    },

    onPortfolioClick(id) {
      let contents = this.portfolios.find(p => p.id == id);
      Object.keys(contents.article).forEach(function(key) {
        contents.article[key] = HTMLDeCode(contents.article[key]);
      });
      this.contents = contents;
      // console.log(contents);
      this.popAppear = true;
    },

    closePop() {
      this.popAppear = false;
    }
  }
};
</script>

<style scoped lang="scss">
@import "./mobile/index.scss";
@import "~aos/src/sass/aos";
.btn_hover {
  border: 2px solid rgba(9, 50, 100, 1);
  background-color: rgba(9, 50, 100, 1);
  color: #fff;
  width: 10vw;
  text-align: center;
  font-size: 1.1vw;
  letter-spacing: 0.1vw;
  border-radius: 1vw;
  line-height: 1.5;
  margin: 2vh auto;
  transition: 0.5s;
  cursor: pointer;
}
.btn_hover:hover {
  color: rgba(9, 50, 100, 1);
  background-color: #fff;
}
.banner {
  width: 100vw;
  height: 27vw;
  margin-top: 90px;
  background-image: url("~static/portfolios/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10vw;
  padding-right: 30vw;
  .title {
    font-size: 3.9vw;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 1.78px;
    margin-bottom: 4vh;
    line-height: 1.3;
  }
  .msg {
    width: 60vw;
    font-size: 1.67vw;
    color: #ffffff;
    letter-spacing: 0.84px;
    line-height: 5vh;
  }
}
.banner-e {
  padding-right: 10vw;
}
.body-container {
  width: 100vw;
  padding: 0 10vw;
  position: relative;
  min-height: calc(100vh - 166px);
}
.brow {
  padding: 40px 0 30px;
  margin: 0;
  justify-content: flex-start;
}
.brow2 {
  padding: 0 0 30px;
}
.bcol-box {
  padding-bottom: 20px;
  margin: 0;
  overflow: hidden;
}
.showMore {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-size: 1.5625vw;
  color: #4f77ca;
  cursor: pointer;
}
.bcol {
  width: 20vw;
  flex: inherit;
  height: 20vw;
  padding: 0;
  cursor: pointer;
  position: relative;
  background-color: #f3f3f3;
  .cover {
    width: calc(20vw * 0.85);
    height: calc(20vw * 0.85);
    margin: calc(20vw * 0.075);
    transition: 0s;
  }
  .bg {
    position: absolute;
    // top: calc(20vw * 0.075);
    // left: calc(20vw * 0.075);
    top: 7.5%;
    left: 7.5%;
    width: 85%;
    height: 85%;
    z-index: -1;
    transition: 0.5s;
  }
}

.bcol:nth-of-type(odd) {
  background-color: #eaeaea;
}
.bcol:hover {
  background-color: rgba(9, 50, 100, 1);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.18);
  z-index: 1;
  .cover {
    opacity: 0;
    width: 20vw;
    height: 20vw;
    margin: 0;
  }
  .bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.button {
  margin: 0 1%;
  padding: 0;
  background-color: transparent;
  border: none;
  font-weight: bold;
  height: 40px;
  border-radius: 20px;
  color: #333333;
}

.tag {
  font-size: 0.9375vw;
  padding: 0 1.04vw;
  margin: 0;
  height: 1.97vw;
  color: #222222;
  margin-right: 1vw;
}
.pb {
  background: #337ab7;
  height: 100%;
  cursor: pointer;
}
.pb span {
  font-size: 2.4vw;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
.bdesc {
  font-size: 0.6vw;
  margin-bottom: 10px;
  color: #c0c0c0;
}

.pop-window-mark {
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  .cancel-pop-img {
    z-index: 9;
    position: absolute;
    top: 40%;
    left: calc(45.6vw - 33px);
    cursor: pointer;
  }
  .portfolio-container {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 45.6vw;
    background-color: #e6eaf3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 100px 5vw 0;
    .portfolio-logo {
      height: 40px;
    }
    .title {
      font-size: 1.3vw;
      font-weight: bold;
      margin-top: 16px;
      margin-bottom: 0;
    }
    .portfolio-desc {
      font-size: 0.8vw;
      color: #616161;
      font-weight: bold;
      margin-top: 23px;
    }
    .portfolio-content {
      font-size: 1vw;
      color: #000;
      margin-top: 32px;
    }
    .link {
      background-color: #2e89d5;
      font-size: 12px;
      color: #ffffff;
      margin-top: 55px;
      padding: 10rpx 10px;
      display: block;
      padding: 5px 15px;
      border-radius: 20px;
      font-weight: bold;
      margin-bottom: 50px;
    }
  }
}
.pop-disappear {
  opacity: 0;
  visibility: hidden;
}
.pop-appear {
  opacity: 1;
  visibility: visible;
}
.tag_item2 {
  font-size: 15px;
  padding: 0px 15px;
  height: 30px;
}
</style>
