<template>
  <!-- 关于云启 -->
  <div>
    <Header></Header>
    <div class="banner" :class="$i18n.locale === 'zh' ? '' : 'page-e'">
      <div class="buto" id="aboutus">
        <div class="body-container">
          <b-card  class="mcard" v-for="(item,index) in pData" v-bind:key="index">
            <h4 v-for="(h,idex) in item.title" v-bind:key="idex" :style="{'margin-bottom':idex==item.title.length-1?'4.4vh':'0vh'}">{{ h }}</h4>
            <b-card-text class="cardtext" v-for="(p,idx) in item.msg" v-bind:key="idx" >
              <p :style="{'text-align':$i18n.locale === 'zh'?'center':'left'}">{{ p }}</p>
            </b-card-text>

           <!--  <b-card-text class="cardtext">
              <p>创立于2014年，专注To B早中期投资</p>
              <p>围绕“技术赋能产业升级”上下游布局</p>
              <p>已投资近100家创业公司，共建云启生态</p>
            </b-card-text>
          </b-card>
          <b-card title="深扎行业 厚积薄发" class="mcard">
            <b-card-text class="cardtext">
              <p class="pp">
                投资团队专业背景多元，深扎技术产业领域
              </p>
              <p class="pp">
                投后服务系统多维立体，高效赋能被投企业
              </p>
              <p class="pp">
                携手科技公司、顶尖高校和创业者合作交流
              </p>
            </b-card-text>
          </b-card>
          <b-card title="守正用奇 把握周期" class="mcard">
            <b-card-text class="cardtext">
              <p class="pp">
                两位创始合伙人已有20余年的风险投资经验
              </p>
              <p class="pp">
                见证和经历周期，专注于互联网、新技术领域
              </p>
              <p class="pp">
                投资上百家优秀创业公司，市值超500亿美元
              </p>
            </b-card-text> -->
          </b-card>
        </div>
        <!-- <div class="body-container" v-else>
          <b-card class="mcard">
            <h4>Technology-focused <br />and systematic coverage</h4>
            <b-card-text class="cardtext" style="text-align: left;">
              Founded in 2014, Yunqi has been successfully partnering with tech
              entrepreneurs to make an impact on the tech startup landscape in
              China. Yunqi has long focused on early and mid-term investment
              opportunities in the fields of Enterprise Internet and IoT. Its
              portfolios feature almost 100 outstanding startups.
            </b-card-text>
          </b-card>
          <b-card class="mcard">
            <h4>
              Industry insights <br />from profound <br />industry knowledge
            </h4>
            <b-card-text class="cardtext" style="text-align: left;">
              Yunqi builds a diverse team with yearly industry expertise, and
              provides high-quality post-investment services for Yunqi portfolio
              through brand building, financing assistance, and talent
              acquisition. Meanwhile, Yunqi collaborates with leading tech
              companies, pre-eminent universities, and top entrepreneurs.
            </b-card-text>
          </b-card>
          <b-card class="mcard">
            <h4>Opportunities grasping throughout the cycle</h4>
            <b-card-text class="cardtext" style="text-align: left;">
              Two founding partners both have over 20-year investment experience
              through multiple cycles.They have invested over 100 companies,
              valuing more than 50 billion USD with deep understanding of the
              evolving trends in internet and technology sectors.
            </b-card-text>
          </b-card>
        </div> -->
      </div>

      <div class="honour">
        <div class="title_one">
          {{ $i18n.locale === "zh" ? "云启捷报" : "Awards" }}
        </div>
        <div class="heng"></div>

        <div class="hon-contain-box">
          <div class="icon-box">
            <div
              class="point"
              :class="current == 0 ? 'point_plus' : ''"
              @click="current = 0"
            ></div>
            <div
              class="point"
              :class="current == 1 ? 'point_plus' : ''"
              @click="current = 1"
            ></div>
          </div>
          <b-carousel v-model="current" class="swiper">
            <b-carousel-slide class="swiper-item">
              <dir class="hon-contain">
                <div
                  v-for="(item, index) in dataAll"
                  :key="index"
                >
                  <div
                    class="lilcar"
                    :class="$i18n.locale === 'zh' ? '' : 'lilcar-e'"
                    v-if="index < 10"
                  >
                    <b-img
                      class="lilcar_bg"
                      :src="item.img"
                      fluid
                    ></b-img>
                    <div class="lilcar_content">
                      <span class="year">{{ item.year }}</span>
                      <div class="details">
                        <p class="detBold">{{ item.type }}</p>
                        <div class="detCon">{{ item.details }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </dir>
            </b-carousel-slide>
            <b-carousel-slide class="swiper-item">
              <dir class="hon-contain">
                <div
                  v-for="(item, index) in dataAll"
                  :key="index"
                >
                  <div
                    class="lilcar"
                    :class="$i18n.locale === 'zh' ? '' : 'lilcar-e'"
                    :key="index"
                    v-if="index >= 10"
                  >
                    <b-img
                      class="lilcar_bg"
                      :src="item.img"
                      fluid
                    ></b-img>
                    <div class="lilcar_content">
                      <span class="year">{{ item.year }}</span>
                      <div class="details">
                        <p class="detBold">{{ item.type }}</p>
                        <p class="detCon">{{ item.details }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </dir>
            </b-carousel-slide>
          </b-carousel>
        </div>
        <div class="hon-contain-box-m">
          <div
            class="swiper-item"
            :class="hiddenPartTwo ? 'swiper-item-show' : 'swiper-item-hide'"
          >
            <dir class="hon-contain">
              <div
                v-for="(item2, index) in dataAll"
                :class="$i18n.locale === 'zh' ? '' : 'lilcar-e'"
                :key="index"
              >
                <div class="lilcar">
                  <b-img
                    class="lilcar_bg"
                    :src="item2.img"
                    fluid
                  ></b-img>
                  <div class="lilcar_content">
                    <span class="year">{{ item2.year }}</span>
                    <div class="details">
                      <p class="detBold">{{ item2.type }}</p>
                      <div class="detCon">{{ item2.details }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </dir>
          </div>
          <div class="btn_hover_plus btn_hover_plus_p" @click="showMoreTwo">
            <span v-if="$i18n.locale === 'zh'">{{
              hiddenPartTwo ? "收起" : "显示更多"
            }}</span>
            <span v-else>{{ hiddenPartTwo ? "Less" : "More" }}</span>

            <span
              class="arrow"
              :class="hiddenPartTwo ? 'el-icon-arrow-up' : 'el-icon-arrow-down'"
            />
          </div>
        </div>
      </div>

      <div class="history-box">
        <div class="title_one title_one-m">
          {{
            $i18n.locale === "zh"
              ? "主要投资赛道 获得专业认可"
              : "Awards in Sub-Sector"
          }}
        </div>
        <div class="heng"></div>

        <div class="p-none">
          <div
            class="history-content"
            :class="$i18n.locale === 'zh' ? '' : 'history-content-e'"
          >
            <div class="content-header">
              <div
                class="history-tag"
                v-for="(tag, index) in $i18n.locale === 'zh'
                  ? tracklist
                  : tracklistEn"
                :key="index"
              >
                {{ tag }}
              </div>
            </div>

            <div
              class="content-box"
              :class="hiddenPart ? '' : 'content-box-hide'"
            >
              <div
                class="annualYear"
                v-for="(item, index) in trackData
                  "
                :key="index"
              >
                <div class="yearBox">{{ item.year }}</div>
                <div
                  class="conBox"
                  v-for="(item2, index2) in item.content"
                  :key="index2"
                >
                  <div
                    class="neirong"
                    v-for="(item3, index3) in item2"
                    :key="index3"
                  >
                    <h5>{{ item3.organization }}</h5>
                    <p>{{ item3.awards }}</p>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="btn_hover_plus btn_hover_plus-m"
              style="margin:5.5vw auto 0;position: relative;"
              @click="showMore"
            >
              <span v-if="$i18n.locale === 'zh'">{{
                hiddenPart ? "收起" : "显示更多"
              }}</span>
              <span v-else>{{ hiddenPart ? "Less" : "More" }}</span>

              <span
                class="arrow"
                :class="hiddenPart ? 'el-icon-arrow-up' : 'el-icon-arrow-down'"
              />
            </div>
          </div>
        </div>

        <div class="m-none">
          <div
            class="history-tag-m-box"
            :class="$i18n.locale === 'zh' ? '' : 'history-tag-m-box-e'"
          >
            <div class="history-tag-m">{{ tracklist[0] }}</div>
            <div class="history-tag-m-outside">
              <div
                v-for="(tag, index) in $i18n.locale === 'zh'
                  ? tracklist
                  : tracklistEn"
                :key="index"
              >
                <div
                  class="history-tag-m"
                  :class="
                    currentRight == index - 1
                      ? 'history-tag-m-check'
                      : 'history-tag-m-nocheck'
                  "
                  :style="{
                    transform: 'translateX(-' + 30 * currentRight + 'vw)'
                  }"
                  v-if="index > 0"
                >
                  {{ tag }}
                </div>
              </div>
            </div>
          </div>
          <div class="scroll">
            <div class="content-m">
              <div class="content-left">
                <div class="content-over">
                  <div class="content-box">
                    <div
                      class="annualYear"
                      v-for="(item, index) in trackData
                        "
                      :key="index"
                    >
                      <div class="yearBox">{{ item.year }}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="content-right">
                <div class="content-header-m"></div>
                <div class="content-box-right">
                  <b-carousel
                    id="history"
                    v-model="currentRight"
                    :interval="0"
                    class="swiper_right"
                  >
                    <div v-for="(tag, index) in tracklist" :key="index">
                      <b-carousel-slide
                        v-if="index < tracklist.length - 1"
                        class="swiper-cell-box"
                      >
                        <div class="swiper_cell">
                          <div
                            class="conBox"
                            v-for="(item2, index2) in trackData"
                            :key="index2"
                          >
                            <div
                              class="neirong"
                              v-for="(item3, index3) in item2.content[index]"
                              :key="index3"
                            >
                              <h5>{{ item3.organization }}</h5>
                              <p>{{ item3.awards }}</p>
                            </div>
                          </div>
                        </div>
                      </b-carousel-slide>
                    </div>
                  </b-carousel>
                </div>
              </div>
            </div>
          </div>
          <div
            style="font-size: 3.46vw;text-align:center;color: #C0C0C0;margin-top: 3vw;"
          >
            &lt;&lt;
            {{
              $i18n.locale === "zh"
                ? "左右滑动查看更多"
                : "Swipe left or right to see more"
            }}
            &gt;&gt;
          </div>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>
<script>
import Header from "@/components/Header";
import Footer from "@/components/Footer.vue";
import { apiService, HTTP_TYPE } from "@/services/api";
import { requestHttpName } from "@/services/config";
import { mapState, mapActions } from "vuex";
import { formatDate, HTMLEnCode, HTMLDeCode } from "@/services/util";
// import lujing from "@/assets/img/aaa/more.png"
export default {
  layout: "none",
  data() {
    return {
      pData:[],
      current: 0,
      currentRight: 0,
      hiddenPart: false,
       locale: this.$i18n.locale,
       dataAll:[],
      // dataAll: [
      //   {
      //     year: "2019",
      //     type: "福布斯",
      //     details: "中国百佳创投人\n(毛丞宇、黄榆镔)",
      //     img: 1
      //   },
      //   {
      //     year: "2019",
      //     type: "界面",
      //     details: "中国顶尖风险投资机构 TOP 50",
      //     img: 2
      //   },
      //   {
      //     year: "2019",
      //     type: "界面",
      //     details: "中国顶尖风险投资人 TOP 50（毛丞宇）",
      //     img: 3
      //   },
      //   {
      //     year: "2019",
      //     type: "36氪",
      //     details: "最受关注创业投资机构",
      //     img: 4
      //   },
      //   {
      //     year: "2019",
      //     type: "东沙湖创·投",
      //     details: "年度最佳募资机构",
      //     img: 5
      //   },
      //   {
      //     year: "2019",
      //     type: "华兴资本",
      //     details: "最受欢迎菁英投资人（陈昱）",
      //     img: 6
      //   },
      //   {
      //     year: "2019",
      //     type: "中国母基金联盟",
      //     details: "中国最佳创业投资基金 TOP 100",
      //     img: 7
      //   },
      //   {
      //     year: "2019",
      //     type: "CVCRI",
      //     details: "中国成长型VC投资机构 TOP 20",
      //     img: 8
      //   },
      //   {
      //     year: "2019",
      //     type: "张江科投",
      //     details: "年度荣耀合伙人",
      //     img: 13
      //   },
      //   {
      //     year: "2019",
      //     type: "36氪",
      //     details: "中国黑马基金 TOP 20",
      //     img: 14
      //   },
      //   {
      //     year: "2018",
      //     type: "清科集团",
      //     details: "创业投资机构50强",
      //     img: 9
      //   },
      //   {
      //     year: "2018",
      //     type: "投中信息",
      //     details: "中国最佳创业投资机构 TOP 100",
      //     img: 10
      //   },
      //   {
      //     year: "2018",
      //     type: "第一财经周刊",
      //     details: "中国创投机构 TOP 30",
      //     img: 11
      //   },
      //   {
      //     year: "2018",
      //     type: "财经峰会",
      //     details: "最佳投资机构",
      //     img: 12
      //   },
      //   {
      //     year: "2018",
      //     type: "福布斯",
      //     details: "中国百佳创投人\n(毛丞宇，黄榆镔)",
      //     img: 15
      //   },
      //   {
      //     year: "2018",
      //     type: "界面",
      //     details: "中国顶级风险投资机构 TOP 50",
      //     img: 16
      //   },
      //   {
      //     year: "2018",
      //     type: "36氪",
      //     details: "最受创业者欢迎投资机构 TOP 40",
      //     img: 18
      //   },
      //   {
      //     year: "2018",
      //     type: "36氪",
      //     details: "最受创业者欢迎投资人（毛丞宇）",
      //     img: 17
      //   },
      //   {
      //     year: "2018",
      //     type: "华兴",
      //     details: "最受欢迎菁英投资人 陈昱",
      //     img: 19
      //   },
      //   {
      //     year: "2018",
      //     type: "母基金研究中心",
      //     details: "中国最佳创业投资基金 TOP 50",
      //     img: 20
      //   }
      // ],
      dataAllEn: [
        {
          year: "2019",
          type: "Forbes China",
          details: "Midas 100 List, Michael Mao, Yipin Ng",
          img: 1
        },
        {
          year: "2019",
          type: "Jiemian",
          details: "China TOP 50 VC Firms",
          img: 2
        },
        {
          year: "2019",
          type: "Jiemian",
          details: "China VC Investors TOP 50, Michael Mao",
          img: 3
        },
        {
          year: "2019",
          type: "36Kr",
          details: "Most concerned VC Firms",
          img: 4
        },
        {
          year: "2019",
          type: "Sandlake Fund",
          details: "Best Fundraiser of the Year",
          img: 5
        },
        {
          year: "2019",
          type: "China Renaissance",
          details: "The Most Popular VC Investors in China, Yu Chen",
          img: 6
        },
        {
          year: "2019",
          type: "China FOF Alliance",
          details: "China's Best VC Firms TOP 100",
          img: 7
        },
        {
          year: "2019",
          type: "CVCRI",
          details: "China Growth VC Firms TOP 20",
          img: 8
        },
        {
          year: "2019",
          type: "ZJ Venture",
          details: "Glory Partner of the Year",
          img: 13
        },
        {
          year: "2019",
          type: "36Kr",
          details: "China  Dark Horse VC Firms TOP 20",
          img: 14
        },
        {
          year: "2018",
          type: "Zero2IPO",
          details: "China VC Firms TOP 50",
          img: 9
        },
        {
          year: "2018",
          type: "ChinaVenture",
          details: "China VC Firms TOP 100",
          img: 10
        },
        {
          year: "2018",
          type: "YiMagazine",
          details: "China TOP 30 VC Firms",
          img: 11
        },
        {
          year: "2018",
          type: "CFS ",
          details: "China's Best VC Firms",
          img: 12
        },
        {
          year: "2018",
          type: "Forbes China",
          details: "Midas 100 List, Michael Mao, Yipin Ng",
          img: 15
        },
        {
          year: "2018",
          type: "Jiemian",
          details: "China TOP 50 VC Firms",
          img: 16
        },
        {
          year: "2018",
          type: "36Kr",
          details: "China's TOP 40 VC Firms Voted by Entrepreneurs",
          img: 18
        },
        {
          year: "2018",
          type: "36Kr",
          details:
            "China's TOP VC Investors Voted by Entrepreneurs, Michael Mao",
          img: 17
        },
        {
          year: "2018",
          type: "China Renaissance",
          details: "China's Most Popular VC Investors , Yu Chen",
          img: 19
        },
        {
          year: "2018",
          type: "China-FOF",
          details: "China VC Firms TOP 50",
          img: 20
        }
      ],
      tracklist: ["YEAR", "人工智能", "企业服务", "供应链", "智能制造"],
      trackData:[],
      // trackData: [
      //   {
      //     year: "2019",
      //     content: [
      //       [
      //         {
      //           organization: "CVCRI",
      //           awards: "中国AI投资 TOP 20"
      //         },
      //         {
      //           organization: "36Kr",
      //           awards: "人工智能VC TOP 10"
      //         },
      //         {
      //           organization: "融资中国",
      //           awards: "AI投资机构 TOP 10"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "投中",
      //           awards: "企业服务投资机构 TOP 20"
      //         },
      //         {
      //           organization: "亿欧",
      //           awards: "企服科技行业投资机构 TOP 10"
      //         },
      //         {
      //           organization: "猎云网",
      //           awards: "企业服务投资 TOP 10"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "36Kr",
      //           awards: "物流及供应链 TOP 5"
      //         },
      //         {
      //           organization: "托比网",
      //           awards: "产业互联网投资十强"
      //         },
      //         {
      //           organization: "B2B内参",
      //           awards: "B2B投资机构 30强"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "融资中国",
      //           awards: "5G及物联网产业 TOP 10"
      //         },
      //         {
      //           organization: "融资中国",
      //           awards: "5G及物联网十强-黄榆镔"
      //         }
      //       ]
      //     ]
      //   },
      //   {
      //     year: "2018",
      //     content: [
      //       [
      //         {
      //           organization: "中关村股权投资",
      //           awards: "AI最佳投资机构"
      //         },
      //         {
      //           organization: "甲子光年",
      //           awards: "最具慧眼科技投资者"
      //         },
      //         {
      //           organization: "融资中国",
      //           awards: "AI TOP 10"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "36Kr",
      //           awards: "企业服务投资机构 TOP 20"
      //         },
      //         {
      //           organization: "猎云网",
      //           awards: "企业服务投资 TOP 10"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "托比网",
      //           awards: "产业互联网投资十强"
      //         },
      //         {
      //           organization: "B2B内参",
      //           awards: "中国大宗商品电商行业VC 30强"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "爱分析",
      //           awards: "汽车科技投资机构10强"
      //         }
      //       ]
      //     ]
      //   },
      //   {
      //     year: "2017",
      //     content: [
      //       [
      //         {
      //           organization: "阿里研究院",
      //           awards: "AI投资人 TOP 20"
      //         },
      //         {
      //           organization: "36Kr",
      //           awards: "AI投资机构15强"
      //         },
      //         {
      //           organization: "创业邦",
      //           awards: "AI最佳投资机构15强"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "猎云网",
      //           awards: "最佳企业服务投资机构"
      //         },
      //         {
      //           organization: "融资中国",
      //           awards: "大数据企业服务十强"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "中国电商协会",
      //           awards: "B2B十佳机构"
      //         },
      //         {
      //           organization: "B2B内参",
      //           awards: "B2B十佳投资机构"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "投资家",
      //           awards: "智能制造 VC TOP 10"
      //         }
      //       ]
      //     ]
      //   },
      //   {
      //     year: "2016",
      //     content: [
      //       [
      //         {
      //           organization: "清科",
      //           awards: "大数据投资机构 TOP 10"
      //         },
      //         {
      //           organization: "投中信息",
      //           awards: "AI投资机构 TOP 10"
      //         },
      //         {
      //           organization: "融资中国",
      //           awards: "中国AI最佳投资机构"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "融资中国",
      //           awards: "Fintech投资-毛丞宇"
      //         }
      //       ],
      //       [],
      //       [
      //         {
      //           organization: "投中",
      //           awards: "先进制造投资 TOP 10-毛丞宇"
      //         },
      //         {
      //           organization: "投中",
      //           awards: "先进制造与高科技 TOP 10"
      //         }
      //       ]
      //     ]
      //   }
      // ],
      tracklistEn: [
        "YEAR",
        "Artificial Intelligence",
        "Enterprise Software",
        "Logistics & Supply Chain",
        "Advance Manufacturing "
      ],
      // trackDataEn: [
      //   {
      //     year: "2019",
      //     content: [
      //       [
      //         {
      //           organization: "CVCRI",
      //           awards: "TOP 20 VC in AI"
      //         },
      //         {
      //           organization: "36Kr",
      //           awards: "TOP 10 VC in AI"
      //         },
      //         {
      //           organization: "China Bridge",
      //           awards: "TOP 10 VC in AI"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "ChinaVenture",
      //           awards: "TOP 20 VC in Enterprise Software"
      //         },
      //         {
      //           organization: "Yiou",
      //           awards: "TOP 10 VC in Enterprise Software"
      //         },
      //         {
      //           organization: "Lieyue",
      //           awards: "TOP 10 VC in Enterprise Software"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "36Kr",
      //           awards: "TOP 5 VC in Logistics & Supply Chain"
      //         },
      //         {
      //           organization: "2B",
      //           awards: "TOP 10 VC in B2B"
      //         },
      //         {
      //           organization: "B2Bneican",
      //           awards: "TOP 30 VC in B2B"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "China Bridge",
      //           awards: "Top 10 VC in 5G/ IoT"
      //         },
      //         {
      //           organization: "China Bridge",
      //           awards: "Top 10 Investors  in 5G/ IoT, Yipin Ng"
      //         }
      //       ]
      //     ]
      //   },
      //   {
      //     year: "2018",
      //     content: [
      //       [
      //         {
      //           organization: "ZVCPE",
      //           awards: "TOP VC in AI"
      //         },
      //         {
      //           organization: "Jazzyear",
      //           awards: "China's Best Tech Investors"
      //         },
      //         {
      //           organization: "China Bridge",
      //           awards: "TOP 10 VC in AI"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "36Kr",
      //           awards: "TOP 20 VC in Enterprise Software"
      //         },
      //         {
      //           organization: "Lieyue",
      //           awards: "TOP 10 VC in Enterprise Software"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "2B",
      //           awards: "TOP 10 VC in B2B"
      //         },
      //         {
      //           organization: "B2Bneican",
      //           awards: "TOP 30 VC in B2B"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "IFENXI",
      //           awards: "Top 10 VC in Automotive Technology"
      //         }
      //       ]
      //     ]
      //   },
      //   {
      //     year: "2017",
      //     content: [
      //       [
      //         {
      //           organization: "AliResearch",
      //           awards: "TOP 20 Investors in AI"
      //         },
      //         {
      //           organization: "36Kr",
      //           awards: "TOP 10 VC in AI"
      //         },
      //         {
      //           organization: "Cyzone",
      //           awards: "TOP 15 VC in AI"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "Lieyue",
      //           awards: "Best VC in Enterprise Software"
      //         },
      //         {
      //           organization: "China Bridge",
      //           awards: "TOP 10 VC in Big Data Enterprise Software"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "CECA",
      //           awards: "TOP 10 VC in B2B"
      //         },
      //         {
      //           organization: "B2Bneican",
      //           awards: "TOP 10 VC in B2B"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "Investors",
      //           awards: "Top 10 VC  in Advance manufacturing "
      //         }
      //       ]
      //     ]
      //   },
      //   {
      //     year: "2016",
      //     content: [
      //       [
      //         {
      //           organization: "Zero2IPO",
      //           awards: "TOP 10 VC in Big Data"
      //         },
      //         {
      //           organization: "ChinaVenture",
      //           awards: "TOP 10 VC in AI"
      //         },
      //         {
      //           organization: "China Bridge",
      //           awards: "Best VC in AI"
      //         }
      //       ],
      //       [
      //         {
      //           organization: "China Bridge",
      //           awards: "TOP Investors in Fintech, Michael Mao"
      //         }
      //       ],
      //       [],
      //       [
      //         {
      //           organization: "ChinaVenture",
      //           awards:
      //             "TOP 10 Investors  in Advance Manufacturing, Michael Mao"
      //         },
      //         {
      //           organization: "ChinaVenture",
      //           awards: "TOP 10 VC in Advance Manufacturing and Technology"
      //         }
      //       ]
      //     ]
      //   }
      // ],
      history: [],
      txt: "显示更多",
      isShow: false,
      hiddenPart: false,
      hiddenPartTwo: false
    };
  },
  components: {
    Header,
    Footer
  },
  created() {
    this.getAll();
    this.getAboutUs();
    this.getVictory();
    this.getOrganization();
  },
  mounted() {},
  methods: {
    getOrganization(){
       apiService(HTTP_TYPE.POST, `${requestHttpName}/api/v1/common/organization_approval/findAll`, {
        "queryInfo": {
            "language": this.locale,
            "visible": true,
            "pageInfo": {
                "currentPage": 1,
                "pageSize":99999
            }
        }
    })
        .then(res => {
          if (res.data.status == "success") {
            let contents = res.data.result.data.rows;
            let data = [];
            for (let i = 0; i < contents.length; i++) {
              data.push({
                id: contents[i].id,
                year: contents[i].year,
                type: contents[i].type,
                organization: contents[i].organization,
                awards: contents[i].awards,
              });
            }
            let years = ['2019','2018','2017','2016']
            let trackLists = this.locale=='zh'?["人工智能", "企业服务", "供应链", "智能制造"]:
            ["Artificial Intelligence",
        "Enterprise Software",
        "Logistics & Supply Chain",
        "Advance Manufacturing"];
            
            for (let i = 0;i<years.length;i++){
              let c = {
                year:years[i],
                content:[]
              }
              for(let j = 0;j<trackLists.length;j++){
                 let tmp = []
                for(let z=0;z<data.length;z++){
                  if(data[z].year==years[i] && data[z].type==trackLists[j]){
                    tmp.push(data[z])
                  }
                }
                c.content.push(tmp)
              }
               this.trackData.push(c)
            }
          } else {
            this.$message.error(res.data.error);
          }
        })
        .catch(err => {
          this.$message.error(err.status + err.statusText);
        });
    },
    getVictory(){
       apiService(HTTP_TYPE.POST, `${requestHttpName}/api/v1/common/victory_new/findAll`, {
        "queryInfo": {
            "language": this.locale,
            "visible": true,
            "pageInfo": {
                "currentPage": 1,
                "pageSize":99999
            }
        }
    })
        .then(res => {
          if (res.data.status == "success") {
            let contents = res.data.result.data.rows;
            let data = [];
            for (let i = 0; i < contents.length; i++) {
              data.push({
                id: contents[i].id,
                year: contents[i].year,
                type: contents[i].type,
                details: contents[i].details,
                img: contents[i].img,
                language: contents[i].language,
                create_time: contents[i].create_time,
                update_time: formatDate(contents[i].update_time),
              });
            }
            this.dataAll = data;
          } else {
            this.$message.error(res.data.error);
          }
        })
        .catch(err => {
          this.$message.error(err.status + err.statusText);
        });
    },
    handleMore() {
      this.txt = "";
    },
    showMore() {
      this.hiddenPart = !this.hiddenPart;
    },
    showMoreTwo() {
      this.hiddenPartTwo = !this.hiddenPartTwo;
    },
    getAboutUs(){
       apiService(HTTP_TYPE.POST, `${requestHttpName}/api/v1/common/about_us/findAll`, {
        "queryInfo": {
            "language": this.locale,
            "visible": true,
            "pageInfo": {
                "currentPage": 1
            }
        }
    })
        .then(res => {
          if (res.data.status == "success") {
            let contents = res.data.result.data.rows;
            let data = [];
            for (let i = 0; i < contents.length; i++) {
              data.push({
                  id:contents[i].id,
                title: contents[i].title,
                msg: contents[i].msg,
                create_time: contents[i].create_time,
                update_time: formatDate(contents[i].update_time),
              });
            }
            this.pData = data;
          } else {
            this.$message.error(res.data.error);
          }
        })
        .catch(err => {
          this.$message.error(err.status + err.statusText);
        });
    },
    getAll() {
      let param = {
        queryInfo: {
          pageInfo: {
            currentPage: 1,
            pageSize: 500
          }
        }
      };
      // 请求数据
      apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/honor/findAll`,
        param,
        false
      )
        .then(res => {
          if (res.data.status == "success") {
            let tmpData = res.data.result.data.rows;
            // this.dataAll = tmpData.map(item => ({
            //   year: item.year,
            //   details: HTMLDeCode(item.content)
            // }));
          } else {
            this.$message.error(res.data.error);
          }
        })
        .catch(err => {
          this.$message.error(err.status + err.statusText);
        });
    }
  }
};
</script>

<style scoped lang="scss">
.blue {
  color: #6f8dda;
}

.btn_hover {
  border: 2px solid #093264;
  background-color: #093264;
  color: #fff;
  width: 15vw;
  text-align: center;
  font-size: 1.6vw;
  letter-spacing: 0.5vw;
  border-radius: 2vw;
  line-height: 2;
  margin: 4vh auto;
  transition: 0.5s;
  cursor: pointer;
}
.btn_hover:hover {
  color: rgba(9, 50, 100, 1);
  background-color: #fff;
}
.content-header {
  width: 100vw;
  display: flex;
  padding: 0 6vw;
  justify-content: space-between;
  .history-tag {
    width: 18.75vw;
    font-family: "DINPro-Regular";
    font-size: 1.77vw;
    color: rgba(9, 50, 100, 1);
    border-bottom: 2.5px solid rgba(9, 50, 100, 1);
    line-height: 1.8;
    &:nth-of-type(1) {
      width: 4.5vw;
      margin-left: 0;
      flex-grow: unset;
    }
  }
}
@media (min-width: 767px) {
  .history-box {
    padding: 7.7vw 0 5.5vw;
    // display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .history-content {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2.4rem;
    }
    .history-content-e {
      .history-tag {
        font-size: 1.5vw;
      }
    }
  }
  .content-box {
    // display: flex;
    flex-wrap: wrap;
    padding: 0 6vw;
    width: 100vw;
    overflow: hidden;
  }
  .content-box-hide {
    height: 40vw;
  }
  .title_one {
    margin-bottom: 1rem;
    font-size: 3.3vw;
    color: #414141;
    letter-spacing: 1.2px;
    text-align: center;
  }
  .annualYear {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
  .yearBox {
    margin-left: 0;
    width: 4.5vw;
    margin-top: 1.7vw;
    font-family: "DINPro-Regular";
    font-size: 1.8vw;
    line-height: 2.4vw;
    color: rgba(9, 50, 100, 1);
    border-bottom: 1px solid rgba(9, 50, 100, 1) e;
  }
  .conBox {
    width: 18.75vw;
    text-align: left;
    font-size: 1.354vw;
    color: #2a2a2a;
    letter-spacing: 0;
    line-height: 2.4vw;
    border-bottom: 1px solid rgba(9, 50, 100, 1);
    padding-top: 0.7vw;
    h5 {
      font-size: 1.354vw;
      font-weight: 400;
      margin-top: 1vw;
      line-height: 2.2vw;
      letter-spacing: 0vw;
      color: #222222;
      margin-bottom: 0;
    }
    p {
      font-size: 1.354vw;
      line-height: 2.2vw;
      letter-spacing: 0vw;
      margin-top: 0vw;
      font-weight: 300;
    }
  }

  .annualYear:last-child {
    .yearBox {
      border-bottom: 0;
    }
    .conBox {
      border-bottom: 0;
    }
  }

  .body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    margin: 90px auto 0vw;
  }
  .hon-contain-box {
    width: 100vw;
    position: relative;
    .icon-box {
      position: absolute;
      bottom: -4vw;
      left: 0;
      width: 100%;
      height: 4vw;
      display: flex;
      align-items: center;
      justify-content: center;
      .point {
        width: 1vw;
        height: 1vw;
        border-radius: 2vw;
        background-color: #999;
        transition-duration: 0.5s;
        margin: 0 0.4vw;
        cursor: pointer;
      }
      .point_plus {
        width: 1.8vw;
        height: 1.8vw;
        background-color: rgba(9, 50, 100, 1);
      }
    }
    .swiper-item {
      height: 40vw;
    }
    .swiper-item /deep/ .carousel-caption {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      text-align: left;
      padding: 0;
    }
  }
  .hon-contain-box-m {
    display: none;
  }
  .hon-contain-box::-webkit-scrollbar {
    height: 2px;
    background: #ddd;
  }
  .hon-contain-box::-webkit-scrollbar-thumb {
    background: rgba(9, 50, 100, 1);
    // box-shadow: 0 2px 10px 0 rgba(9, 50, 100, 0.31);
    border-radius: 0.4vw;
  }
  .hon-contain {
    // display: grid;
    // grid-template-columns: repeat(5, 17.6vw);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 3vw 0;
    padding: 0 5vw;
    width: 100vw;
  }
  .banner {
    position: relative;
    min-height: calc(100vh - 166px);
  }

  .mcard {
    width: 30vw;
    background-color: rgba(225, 225, 225, 0.85);
    box-shadow: 0vh 1.2vh 4.7vh 0vh rgba(84, 121, 202, 0.4);
    margin: 6.4vw 1vw;
    transition: 0.5s;
    display: inline-block;
    text-align: justify;
    border-radius: 0;
    border: none;
    > div {
      padding: 6vw 4vw 4vw;
    }
    h4 {
      padding: 0;
      text-align: center;
      margin: 0vh auto 0vh;
      font-size: 2.2vw;
      font-weight: 600;
      font-stretch: normal;
      color: #093264;
      font-family: DINPro-Light;
    }
    p {
      line-height: 1.8;
      font-size: 1.04vw;
      text-align: center;
    }
    .pp {
      white-space: nowrap;
    }
  }

  .mcard:hover {
    background-color: rgba(9, 50, 100, 0.85);
    color: #fff;
    h4 {
      color: #fff;
    }
  }

  .buto {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url("~static/about/01_BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .honour {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(175, 164, 164, 0.1);
    padding: 6vw 0;
  }
  .heng {
    content: "";
    left: 50%;
    margin: 0 auto;
    width: 3.25rem;
    height: 5px;
    background: #093264;
  }
  .cardtext {
    // font-family: DINPro-Light;
    font-size: 1.041vw;
  }
  .cardtext2 {
    text-align: center;
  }

  .lilcar {
    width: 17.6vw;
    height: 17.6vw;
    margin-left: 0.4vw;
    flex: auto;
    background-color: #fff;
    margin-bottom: 0.5vw;
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.16);
    overflow: hidden;
    position: relative;
    .lilcar_bg {
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: 0.3s;
    }
    .lilcar_content {
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to top,
        #093264,
        rgba(9, 50, 100, 0.21)
      );
      // background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0.31));
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2vw 2vw 0vw 2vw;
      .year {
        font-family: DINPro-Light;
        font-size: 1.6vw;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0vw;
        // color: rgba(9, 50, 100, 1);
        color: #fff;
        font-weight: bold;
        padding-bottom: 5px;
        // border-bottom: 2px solid rgba(9, 50, 100, 1);
        border-bottom: 2px solid #fff;
        align-self: flex-start;
      }

      .details {
        font-size: 1.354vw;
        font-stretch: normal;
        line-height: 2.2vw;
        letter-spacing: 0vw;
        // color: #222222;
        color: #fff;
        min-height: 8.5vw;
        font-family: DINPro-Light;
        .detBold {
          margin-bottom: 0;
        }
        .detCon {
          margin-top: 0.6vw;
          font-weight: 300;
          white-space: pre-wrap;
        }
        .detBlue {
          color: rgba(79, 119, 202, 0.5);
        }
      }
    }
  }
  .lilcar:hover {
    .lilcar_bg {
      transform: scale(1.1);
    }
  }
  .lilcar-e {
    .lilcar_content .details {
      min-height: 10vw;
      font-family: DINPro-Regular;
    }
    .detBold {
      font-weight: 600;
    }
    .detCon {
      line-height: 1.3;
    }
  }
  // en
  .page-e {
    .mcard h4 {
      text-align: left;
    }
  }
}

@media (max-width: 767px) {
  .history-box {
    padding: 12.8vw 0 5.5vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .history-content {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2.4rem;
    }
  }
  .btn_hover_plus_p {
    margin: 5.5vw auto 0;
    position: relative;
  }
  .scroll {
    height: 130vw;
    overflow-y: scroll;
  }
  .m-none {
    position: relative;
    padding-top: 1vw;
  }
  .m-none::after {
    content: "";
    position: absolute;
    bottom: 8vw;
    left: 0;
    width: 100%;
    height: 4vw;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(168, 168, 168, 0.42) 100%
    );
  }
  .content-m {
    position: relative;
    display: flex;
    background-color: #efefef;
    .content-over {
      width: 27.333vw;
      overflow: hidden;
      .content-box {
        width: 100vw;
        font-family: DINPro-Light;
        .yearBox {
          min-width: 21.333vw;
          text-align: right;
          border-bottom: 1px solid #093264;
          margin-left: 6vw;
          box-sizing: border-box;
          padding: 5vw 2vw;
          color: #093264;
          height: 66vw;
        }
      }
    }
  }
  .content-m::after {
    content: "";
    position: absolute;
    left: 27.33vw;
    top: 0;
    width: 4vw;
    height: 100%;
    background-image: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(168, 168, 168, 0.42) 100%
    );
  }
  .content-right {
    width: 100%;
    .content-header-m {
      width: max-content;
      display: flex;
      background-color: #fff;
    }

    .content-box-right {
      height: 100%;
    }
  }
  .history-tag-m-box {
    display: flex;
    border-bottom: 2px solid #093264;
  }
  .history-tag-m-box-e {
    .history-tag-m {
      font-size: 4vw;
      line-height: 1.6;
      margin-bottom: 1vw;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  .history-tag-m-outside {
    display: flex;
    overflow: hidden;
    .history-tag-m {
      width: 30vw;
      text-align: left;
    }
  }
  .history-tag-m {
    transition: 0.5s;
    padding-left: 4vw;
    font-size: 4.8vw;
    line-height: 2.1;
    box-sizing: border-box;
    color: #093264;
  }
  .history-tag-m-check {
    color: #093264;
  }
  .history-tag-m-nocheck {
    color: #c0c0c0;
  }
  .history-tag-m {
    text-align: right;
    padding-right: 2vw;
    min-width: 27.333vw;
  }
  .annualYear {
    display: flex;
    width: fit-content;
  }
  .conBox {
    margin: 6vw 4.73vw 0;
    border-bottom: 1px solid #093264;
    width: 62.667vw;
    height: 60vw;
    box-sizing: border-box;
    .neirong {
      h5 {
        font-size: 3.46vw;
        color: #666666;
      }
      p {
        font-size: 3.46vw;
        color: #2a2a2a;
        margin-bottom: 7vw;
        font-weight: 300;
        font-family: DINPro-Light;
      }
    }
  }
  .swiper_cell {
    width: 72.667vw;
  }
  .swiper-cell-box /deep/ .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    text-align: left;
  }
  .content-box-right /deep/ .carousel {
    height: 100%;
  }
  .content-box-right /deep/ .carousel-inner {
    height: 100%;
  }
  .content-box-right /deep/ .carousel-item {
    height: 100%;
  }

  .body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: middle;
    margin: 7.5vh auto 4vw;
    margin-top: calc(7.5vh + 6.4vw);
    margin-bottom: 12.8vw;
  }
  .hon-contain-box {
    display: none;
  }
  .hon-contain-box-m {
    width: 100vw;
    position: relative;
    .icon-box {
      position: absolute;
      bottom: -4vw;
      left: 0;
      width: 100%;
      height: 4vw;
      display: flex;
      align-items: center;
      justify-content: center;
      .point {
        width: 1vw;
        height: 1vw;
        border-radius: 2vw;
        background-color: #999;
        transition-duration: 0.5s;
        margin: 0 0.4vw;
        cursor: pointer;
      }
      .point_plus {
        width: 1.8vw;
        height: 1.8vw;
        background-color: rgba(9, 50, 100, 1);
      }
    }
    .swiper-item {
      overflow: hidden;
      transition: 0.3s;
    }

    .swiper-item-hide {
      height: 93vw;
    }

    .swiper-item /deep/ .carousel-caption {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      text-align: left;
      padding: 0;
    }
  }
  .hon-contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3vw 0;
    padding: 0 5vw;
    width: 100vw;
  }
  .banner {
    position: relative;
    min-height: calc(100vh - 166px);
  }

  .mcard {
    width: 73vw;
    min-height: 73vw;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0vh 1.2vh 4.7vh 0vh rgba(84, 121, 202, 0.4);
    margin: 6.4vw 1vw;
    margin-bottom: 3.4vw;
    transition: 0.5s;
    display: flex;
    text-align: justify;
    border-radius: 0;
    border: none;
    > div {
      padding: 6vw 10vw 4vw;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h4 {
      padding: 0;
      text-align: left;
      margin: 0vh auto 4.4vw;
      font-size: 4.267vw;
      font-weight: normal;
      font-stretch: normal;
      color: #093264;
      font-family: DINPro-Light;
    }
    p {
      line-height: 1.8;
      font-size: 3vw;
      margin-bottom: 0;
    }
  }

  .mcard:active {
    background-color: rgba(9, 50, 100, 0.85);
    color: #fff;
    h4 {
      color: #fff;
    }
  }

  .buto {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url("~static/about/01_BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .honour {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(175, 164, 164, 0.1);
    padding: 12.8vw 0;
  }
  .heng {
    content: "";
    left: 50%;
    margin: 0 auto;
    width: 3.25rem;
    height: 5px;
    background: #093264;
    margin-top: 3vw;
    margin-bottom: 1vw;
  }

  .cardtext {
    // font-family: DINPro-Light;
    font-size: 1.041vw;
  }
  .lilcar {
    width: 42.4vw;
    height: 42.4vw;
    margin-left: 0.4vw;
    flex: auto;
    background-color: #fff;
    margin: 1.3vw;
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.16);
    overflow: hidden;
    position: relative;
    .lilcar_bg {
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: 0.3s;
    }
    .lilcar_content {
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to top,
        #093264,
        rgba(9, 50, 100, 0.21)
      );
      // background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0.31));
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5.73vw 5.73vw 0vw 5.73vw;
      .year {
        font-family: DINPro-Light;
        font-size: 4vw;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0vw;
        // color: rgba(9, 50, 100, 1);
        color: #fff;
        font-weight: bold;
        padding-bottom: 5px;
        // border-bottom: 2px solid rgba(9, 50, 100, 1);
        border-bottom: 2px solid #fff;
        align-self: flex-start;
      }

      .details {
        font-size: 4vw;
        font-stretch: normal;
        letter-spacing: 0vw;
        // color: #222222;
        color: #fff;
        min-height: 20vw;
        font-family: DINPro-Light;
        .detBold {
          margin-bottom: 0;
        }
        .detCon {
          margin-top: 0.6vw;
          font-weight: 300;
          white-space: pre-wrap;
          font-size: 3vw;
        }
        .detBlue {
          color: rgba(79, 119, 202, 0.5);
        }
      }
    }
  }
  .lilcar:hover {
    .lilcar_bg {
      transform: scale(1.1);
    }
  }
  .lilcar-e {
    .lilcar_content .details {
      min-height: 22vw;
      line-height: 1.3;
      font-family: DINPro-Regular;
    }
    .detBold {
      font-weight: 600;
    }
    .detCon {
      line-height: 1.3;
    }
  }
  .title_one-m {
    font-size: 6.13vw;
  }
  .btn_hover_plus_p {
    margin: 7vw auto 0px;
    position: relative;
  }
  .btn_hover_plus-m {
    display: none;
  }
  // en
  .page-e {
    .mcard h4 {
      margin: 0vh 0 4.4vw;
    }
  }
}
</style>
