<template>
<!-- foot部分 -->
  <div class="inner-container">
    <div class="relative" id="index" ref="index">
      <Index></Index>
    </div>
    <div class="appear">
      <div class="relative" id="portfolios" ref="portfolios">
        <Portfolios ></Portfolios>
      </div>
      <div class="relative" id="team" ref="team">
        <Team></Team>
      </div>
      <div class="relative" id="thinkTank" ref="thinkTank">
        <ThinkTank></ThinkTank>
      </div>
      <Footer></Footer>
    </div>
  </div>
</template>

<script>

import Index from "@/components/Index";
import Portfolios from "@/components/Portfolios";
import Team from "@/components/Team";
import ThinkTank from "@/components/ThinkTank";
import Footer from "@/components/Footer";
import AOS from "aos";

export default {
  layout: "none",
  data() {
    return {
      url: "",
    };
  },
  components: {
    Index,
    Portfolios,
    Team,
    ThinkTank,
    Footer
  },
  created() {
    
  },
  beforeMount() {},
  mounted() {
    if (process.client) {
      AOS.init();
    }
    // this.outBox = this.$refs.outBox;
    this.observer = new IntersectionObserver(
      (entries, observer) => {
        for (let entry of entries) {
          // 这段逻辑，是每一个商品进入视窗时都会触发的
          if (entry.isIntersecting) {
            let frontRoute = entry.target.id;
            this.$store.commit("setFrontRoute", frontRoute);
            break;
          }
        }
      },
      {
        root: null,
        rootMargin: "0px",
        threshold: 0.5 // 不一定非得全部露出来  这个阈值可以小一点点
      }
    );
    this.observer.observe(this.$refs.index);
    // this.observer.observe(this.$refs.portfolios);
    // this.observer.observe(this.$refs.team);
    // this.observer.observe(this.$refs.thinkTank);
  },
  methods: {
  },
  beforeDestroy() {},
  destroyed() {
    this.observer.disconnect();
  }
};
</script>

<style scoped lang="scss">
@import "~aos/src/sass/aos";
// @media (min-width: 767px) {
  body::-webkit-scrollbar {
    display: none;
  }
  .next {
    opacity: 0;
    transition: 1s;
  }
  .appear {
    opacity: 1;
    transition: 1s;
  }
// }
@media (min-width: 767px) {
.relative {
    padding-top: 90px;
    margin-top: -90px;
  }
}
@media (max-width: 767px) {
}
</style>
