@media (max-width: 767px) {

  .page-area {
    background-color: white !important;

    .banner {
      height: 92.6vw;
      margin-top: 0;
      padding: 7.5vh 0 0;

      .title_there {
        font-size: 8.8vw;
        text-shadow: 0 0.2vw 2.2vw rgba(0, 0, 0, 0.27);
        color: #fff;
        text-align: center;
        margin: 0 10vw;
        word-break: break-word;
      }

      .title_four {
        margin-left: 10.9vw;
        margin-right: 9.6vw;
        font-size: 2.93vw;
        line-height: 6.4vw;
        text-shadow: 0 0.2vw 1.3vw rgba(0, 0, 0, 0.51);
        color: #fff;
      }
    }

    .chooseTag {
      margin: 7.3vw 0;
      justify-content: space-between;

      .tag_item {
        font-size: 2.93vw;
        color: #222;
        padding: 0;
        width: 10vw;
        height: 5vw;
        border-radius: 2.5vw;
      }

      .tag_item.tag_item_check {
        color: #fff;
      }
    }

    .twoPerson {
      margin: 0;
      margin-top: 4vw;

      .boss {
        width: 90vw;
        height: 81vw;

        .boss-bg {
          width: 100% !important;
          height: 60vw !important;
          margin-left: 0 !important;
        }

        .table {
          padding: 0;
          margin-bottom: 0;

          .name {
            font-size: 4.43vw;
            line-height: 6.26vw;
            margin-top: 2.34vw;
            margin-bottom: 0.78vw;
          }

          .job {
            font-size: 3.13vw;
          }
        }
      }
    }

    .person-detail {
      width: 90vw;
      height: 81vw;
      margin: 2vw 0 !important;

      .boss-bg {
        width: 100% !important;
        height: 60vw !important;
      }

      .teamate-text {
        width: 100%;
        >p:first-of-type {
          font-size: 4.43vw;
          line-height: 6.26vw;
          margin-top: 2.34vw;
          margin-bottom: 0.78vw;
        }

        >p:nth-of-type(2) {
          font-size: 3.13vw;
        }
      }
    }

    .show-all-members {
      display: block !important;

      p {
        cursor: pointer;
        font-size: 3.9vw;
        color: #093264;
      }
    }

    .title_two {
      font-size: 5.21vw;
      color: #414141;
      margin-bottom: 4.04vw;
    }

    .title-small {
      font-size: 4.1vw;
      color: #c0c0c0;
      margin-bottom: 3.82vw;
    }
  }


  .btn_hover_plus {
    display: none;
  }

  .picturesShow {
    height: unset !important;
    margin-bottom: 10vw;
  }

  .show-all-partners {
    display: block !important;
    margin-bottom: 11.86vw;

    p {
      cursor: pointer;
      font-size: 3.9vw;
      color: #093264;
    }
  }
}