<template>
  <div>
    <b-img-lazy :src="imageName" style="width:100%"></b-img-lazy>
    <div style="text-align:center;margin-top:20px">
      <b-img
        src="http://www.yunqi.vc/Public/Home/images/team2.png"
        style="margin-right:40px"
        @click="leftArrow()"
      ></b-img>
      <nuxt-link :to="{path:'/'+this.locale+'/team/teamShow'}">
        <b-img src="http://www.yunqi.vc/Public/Home/images/team4.png"></b-img>
      </nuxt-link>
      <b-img
        src="http://www.yunqi.vc/Public/Home/images/team3.png"
        style="margin-left:40px"
        @click="rightArrow()"
      ></b-img>
    </div>
    <div style="text-align:center">
      <div class="namejob" v-html="nameJob"></div>
      <div class="introduction" v-html="introduction"></div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import { apiService, HTTP_TYPE } from "@/services/api";
import { YOU_ZAN, BASE_URL, requestHttpName } from "@/services/config";
import { mapState, mapActions } from "vuex";
import { formatDate, HTMLEnCode, HTMLDeCode } from "@/services/util";
export default {
  layout: "none",
  data() {
    return {
      imageName: "",
      nameJob: "",
      introduction: "",
      // locale: this.$i18n.locale,
      currentId: ""
    };
  },
  computed: mapState({
    locale: state => state.locale
  }),
  watch: {
    locale() {
      this.getMember(this.$route.query.id + "");
    }
  },
  created() {
    this.currentId = this.$route.query.id;
    this.getMember(this.$route.query.id + "");
  },
  mounted() {},
  methods: {
    async getMember(id) {
      let param = {
        queryInfo: {
          id: id
        }
      };
      let res = await apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/team/findOne`,
        param,
        false
      );
      if (res.data.status == "success") {
        let receiveParam = res.data.result.data;
        this.imageName = this.wwwOrNot(receiveParam.banner);
        this.nameJob = receiveParam.name + "," + receiveParam.job;
        this.introduction = HTMLDeCode(receiveParam.introduction);
      } else {
        this.$message.error(res.data.error);
      }
    },
    async getAll(language, visible, isUs, nowId, lastOrNext) {
      let that = this;

      let param = {
        queryInfo: {
          language: language,
          visible: visible,
          isUs: isUs,
          pageInfo: {
            currentPage: 1,
            pageSize: 30 //可选，默认为6
          }
        }
      };
      let res = await apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/team/findAll`,
        param,
        false
      );
      if (res.data.status == "success") {
        let tmpData = res.data.result.data.rows;
        for (let i = 0; i < tmpData.length; i++) {
          if (tmpData[i].id == nowId) {
            if (nowId == tmpData[0].id && lastOrNext == -1) {
              this.currentId = nowId;
            } else if (
              nowId == tmpData[tmpData.length - 1].id &&
              lastOrNext == 1
            ) {
              this.currentId = nowId;
            } else {
              this.currentId = tmpData[i + lastOrNext].id;
            }
          }
        }
      }
    },
    async leftArrow() {
      await this.getAll(this.locale, true, true, this.currentId, -1);
      this.getMember(this.currentId + "");
    },
    async rightArrow() {
      await this.getAll(this.locale, true, true, this.currentId, +1);
      this.getMember(this.currentId + "");
    },
    wwwOrNot(str) {
      if (str.substring(0, 4) == "http") {
        return str;
      } else {
        return "http://www.yunqi.vc" + str;
      }
    }
  },
  components: {
    Header
  }
};
</script>

<style scoped>
@media (min-width: 767px) {
  .namejob {
    text-align: center;
    font-size: 36px;
    margin-top: 3vh;
    font-weight: bold;
    color: #212121;
  }
  .introduction {
    text-align: justify;
    width: 900px;
    margin: 3vh auto 5vh;
    font-size: 18px;
    color: #585858;
  }
}
@media (max-width: 767px) {
  .namejob {
    text-align: center;
    font-size: 24px;
    margin-top: 3vh;
    font-weight: bold;
  }
  .introduction {
    text-align: justify;
    margin: 3vh 10vw 5vh;
  }
}
</style>
