<template>
  <div style="background: #f7f7f7" class="page-area">
    <Header></Header>
    <div class="banner">
      <div
        class="title_there"
        data-aos="fade-up"
        data-aos-delay="500"
        data-aos-duration="1000"
      >
        <!-- {{
          $i18n.locale === "zh"
            ? "创业者的同行者"
            : "Entrepreneurship Companion"
        }} -->
        {{ title }}
      </div>
      <div
        class="title_four p-none"
        style="margin-top: 14px"
        data-aos="fade-up"
        data-aos-delay="800"
        data-aos-duration="1000"
      >
        {{ msg }}
      </div>
      <div
        class="title_four m-none"
        style="margin-top: 14px"
        data-aos="fade-up"
        data-aos-delay="800"
        data-aos-duration="1000"
        v-html="
          $i18n.locale === 'zh'
            ? '云启团队拥有丰富的投资、创业、技术经验和行业背景，是To B创业者成长之路上值得信赖的同行者，希望携手创业者一同云程高启'
            : 'Yunqi builds a diverse team with rich experience in investment, entrepreneurship and technology development. We would like to support and partner with entrepreneurs from day one.'
        "
      ></div>
    </div>

    <div class="contains">
      <!-- <div class="ourTeam">我们的团队</div>
      <div class="enOurTeam">OUR TEAM</div> -->
      <div class="chooseTag">
        <div
          class="tag_item"
          :class="selected == index ? 'tag_item_check' : ''"
          v-for="(item, index) in btnData"
          :key="index"
          @click="btnChoose(index)"
        >
          {{ item }}
        </div>
      </div>
      <div class="images">
        <!-- 创始合伙人 单独展示 -->
        <div v-if="showOrNot" class="twoPerson">
          <div @click="currentId = locale == 'zh' ? '12' : '630'" class="boss">
            <div
              class="boss-bg showStyle bossSolo"
              :style="{ backgroundImage: 'url(' + maoPic + ')' }"
            >
              <div class="boss-mark"></div>
            </div>

            <!-- <div class="blackShadow" v-if="hideShadow"></div> -->
            <div class="table">
              <div class="name">{{ locale == "zh" ? maoname : maoEnName }}</div>
              <div class="job">{{ maoJob }}</div>
            </div>
          </div>
          <div @click="currentId = locale == 'zh' ? '10' : '652'" class="boss">
            <div
              class="boss-bg showStyle bossSolo"
              :style="{ backgroundImage: 'url(' + huangPic + ')' }"
            >
              <div class="boss-mark"></div>
            </div>
            <div class="table">
              <div class="name">
                {{ locale == "zh" ? huangname : huangEnName }}
              </div>
              <div class="job">{{ huangJob }}</div>
            </div>
          </div>
        </div>
        <div class="partner-title title-small title-left">
          （{{
            $i18n.locale === "zh"
              ? "按姓氏字母顺序排列"
              : "Alphabetical order by last name"
          }}）
        </div>
        <div class="picturesShow">
          <div
            class="person-detail showStyle2"
            v-for="(item, index) in fullTeam"
            :key="index"
            :style="{ 'margin-left': index % 4 > 0 ? '0.8vw' : '0vw' }"
            @click="currentId = item.id"
          >
            <!-- 可以定义图片大小，margin值 -->
            <div
              class="boss-bg showStyle"
              :style="{ backgroundImage: 'url(' + item.srcTrue + ')' }"
            >
              <div class="boss-mark"></div>
            </div>
            <div class="teamate-text">
              <p>{{ item.name }}</p>
              <p>{{ item.job }}</p>
            </div>
          </div>
          <div
            class="show-all-members"
            style="display: none; text-align: center; width: 100%"
          >
            <p @click="showAllMembers = !showAllMembers">
              <span v-if="$i18n.locale === 'zh'">{{
                !showAllMembers ? "显示更多" : "收起"
              }}</span>
              <span v-else>
                {{ !showAllMembers ? "More" : "Less" }}
              </span>
              <span
                :class="
                  showAllMembers ? 'el-icon-arrow-up' : 'el-icon-arrow-down'
                "
              />
            </p>
          </div>
        </div>

        <p class="title_two">
          {{
            $i18n.locale === "zh"
              ? "与我们共事的优秀创业者（部分）"
              : "Selected prominent Entrepreneurs "
          }}
        </p>
        <p class="partner-title title-small">
          （{{
            $i18n.locale === "zh"
              ? "按姓氏字母顺序排列"
              : "Alphabetical order by last name"
          }}）
        </p>
        <div
          class="picturesShow"
          :style="{ height: [showAllData ? '' : '46vw'] }"
          style="overflow: hidden"
        >
          <template v-for="(p, index) in allPartners">
            <div
              class="person-detail"
              :key="index"
              v-if="p.nameZn != '' || locale != 'zh'"
              :style="{ 'margin-left': index % 4 > 0 ? '0.8vw' : '0vw' }"
            >
              <div
                class="boss-bg showStyle"
                :style="{ backgroundImage: 'url(' + p.src + ')' }"
              >
                <div class="boss-mark"></div>
              </div>
              <div class="teamate-text">
                <p>{{ p.name }}</p>
                <p>{{ p.title }}</p>
              </div>
            </div>
          </template>
        </div>
        <p
          class="btn_hover_plus"
          style="margin: 5.5vw auto; position: relative"
          @click="showAllData = !showAllData"
          v-if="$i18n.locale === 'zh'"
        >
          <span v-if="$i18n.locale === 'zh'">{{
            showAllData ? "收起" : "显示更多"
          }}</span>
          <span v-else>
            {{ showAllData ? "Less" : "More" }}
          </span>
          <span
            class="arrow"
            :class="showAllData ? 'el-icon-arrow-up' : 'el-icon-arrow-down'"
          ></span>
        </p>
        <p
          class="btn_hover_plus"
          style="margin: 5.5vw auto"
          @click="showAllData = !showAllData"
          v-else
        >
          {{ showAllData ? "Less" : "More" }}
          <span
            :class="showAllData ? 'el-icon-arrow-up' : 'el-icon-arrow-down'"
          ></span>
        </p>
        <div
          class="show-all-partners"
          style="display: none; text-align: center; width: 100%"
        >
          <p @click="showAllPartners = !showAllPartners">
            <span v-if="$i18n.locale === 'zh'">{{
              !showAllPartners ? "显示更多" : "收起"
            }}</span>
            <span v-else>
              {{ !showAllPartners ? "More" : "Less" }}
            </span>
            <span
              :class="
                showAllPartners ? 'el-icon-arrow-up' : 'el-icon-arrow-down'
              "
            />
          </p>
        </div>
      </div>
    </div>
    <Footer />
    <DetailDialog :show="showDialog" :id="currentId" @close="closePop" />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import DetailDialog from "@/components/team/DetailDialog";
import { apiService, HTTP_TYPE } from "@/services/api";
import { BASE_URL, requestHttpName } from "@/services/config";
import { mapState, mapActions } from "vuex";
import { formatDate, HTMLEnCode, HTMLDeCode } from "@/services/util";
let AOS = null;
if (process.browser) {
  AOS = require("aos");
}

export default {
  layout: "none",
  data() {
    return {
      title: "",
      msg: "",
      select: "",
      showDialog: false,
      hideShadow: false,
      hideShadow2: false,
      hideShadow3: true,
      partners: [],
      // partners: [
      //   {
      //     nameZn: "卜广齐／易迅网",
      //     nameEn: "Bu Guangqi/ Yixun.com ",
      //     imgUrl: "/Uploads/20170301/58b65d6fcb088.jpg",
      //     titleZn: "创始人&CEO",
      //     titleEn: "Founder and CEO"
      //   },
      //   {
      //     nameZn: "程天纵／中国惠普",
      //     nameEn: "Cheng Tianzong/ HP",
      //     imgUrl: "/Uploads/20170316/58ca615d5e844.jpg",
      //     titleZn: "前总裁",
      //     titleEn: "Former President"
      //   },
      //   {
      //     nameZn: "邓华金／齐家网",
      //     nameEn: "Deng Huajin/ Jia.com",
      //     imgUrl: "/Uploads/20170301/58b65d3f8dff8.jpg",
      //     titleZn: "创始人&CEO",
      //     titleEn: "Founder and CEO"
      //   },
      //   {
      //     nameZn: "傅政军／ 天鸽9158（香港上市）",
      //     nameEn: "Fu Zhengjun/ 9158.com (HK listed)",
      //     imgUrl: "/Uploads/20170301/58b65d1613ed8.jpg",
      //     titleZn: "创始人&CEO",
      //     titleEn: "Founder and CEO"
      //   },
      //   {
      //     nameZn: "黄嘉曦／Immotor",
      //     nameEn: "Daniel Huang/Immotor",
      //     imgUrl: "/Uploads/20170324/58d511ac7f7e7.jpg",
      //     titleZn: "创始人&CEO",
      //     titleEn: "Founder and CEO"
      //   },
      //   {
      //     nameZn: "江南春／分众传媒（A股上市）",
      //     nameEn: "Jason Jiang/ Focus Media (A-share listed)",
      //     imgUrl: "/Uploads/20170301/58b65ce5865e6.jpg",
      //     titleZn: "创始人&CEO",
      //     titleEn: "Founder and CEO"
      //   },
      //   {
      //     nameZn: "林奇／游族网络",
      //     nameEn: "Lin Qi/ Youzu.com",
      //     imgUrl: "/Uploads/20170301/58b65ca091d01.jpg",
      //     titleZn: "创始人&CEO",
      //     titleEn: "Founder and CEO"
      //   },
      //   {
      //     nameZn: "李岩／旺pos",
      //     nameEn: "Li Yan/Wang-pos",
      //     imgUrl: "/Uploads/20170316/58ca624b9f5dd.jpg",
      //     titleZn: "创始人",
      //     titleEn: "Founder"
      //   },
      //   {
      //     nameZn: "李璟／大众点评",
      //     nameEn: "Li Jing/Dianping.com",
      //     imgUrl: "/Uploads/20170419/58f745984cea0.jpg",
      //     titleZn: "联合创始人",
      //     titleEn: "Co-founder"
      //   },
      //   {
      //     nameZn: "倪正东／清科集团",
      //     nameEn: "Gavin Ni/Zero2IPO",
      //     imgUrl: "/Uploads/20170301/58b65c50232fc.jpg",
      //     titleZn: "创始人&CEO",
      //     titleEn: "Founder and CEO"
      //   },
      //   {
      //     nameZn: "潘政民／瑞声科技",
      //     nameEn: "Benjamin Pan/AAC",
      //     imgUrl: "/Uploads/20170301/58b65c22232fc.jpg",
      //     titleZn: "创始人&CEO",
      //     titleEn: "Founder and CEO"
      //   },
      //   {
      //     nameZn: "庞升东／ 2345.com",
      //     nameEn: "Pang Shengdong/2345.com",
      //     imgUrl: "/Uploads/20170301/58b65bf9a4e2e.jpg",
      //     titleZn: "创始人&CEO",
      //     titleEn: "Founder and CEO"
      //   },
      //   {
      //     nameZn: "",
      //     nameEn: "Shao Genhuo/Da Bei Nong Group",
      //     imgUrl: "/Uploads/2017-05-03/5909d1573b15e.jpg",
      //     titleZn: "",
      //     titleEn: "Founder and Chairman"
      //   },
      //   {
      //     nameZn: "魏恺言／兆日科技",
      //     nameEn: "Charley Wei/Sinosun Technology",
      //     imgUrl: "/Uploads/20170301/58b6599ba8b37.jpg",
      //     titleZn: "创始人&CEO",
      //     titleEn: "Founder and CEO"
      //   },
      //   {
      //     nameZn: "杨炯纬／聚胜万合",
      //     nameEn: "Yang Chongwai/MediaV",
      //     imgUrl: "/Uploads/20170117/587e000bd4297.jpg",
      //     titleZn: "创始人&CEO",
      //     titleEn: "Founder and CEO"
      //   },
      //   {
      //     nameZn: "叶树蕻／大众点评",
      //     nameEn: "Ye Shuhong/Dianping.com",
      //     imgUrl: "/Uploads/2017-04-19/58f7462806654.jpg",
      //     titleZn: "联合创始人",
      //     titleEn: "Co-founderO"
      //   },
      //   {
      //     nameZn: "张洪禹／PPS视频",
      //     nameEn: "Zhang Hongyu/PPS TV",
      //     imgUrl: "/Uploads/20170301/58b658e400dab.jpg",
      //     titleZn: "创始人",
      //     titleEn: "Founder"
      //   },
      //   {
      //     nameZn: "张涛／大众点评",
      //     nameEn: "Zhang Tao/Dianping.com",
      //     imgUrl: "/Uploads/20170301/58b658c164095.jpg",
      //     titleZn: "创始人",
      //     titleEn: "Founder"
      //   },
      //   {
      //     nameZn: "张晔／易果网",
      //     nameEn: "Zhang Ye/Yiguo.com",
      //     imgUrl: "/Uploads/20170308/58bfd6e6232fc.jpg",
      //     titleZn: "创始人&CEO",
      //     titleEn: "Founder and CEO"
      //   }
      // ],
      locale: this.$i18n.locale,
      huangname: "",
      maoname: "",
      maoPic: "",
      huangPic: "",
      maoEnName: "",
      huangEnName: "",
      maoJob: "",
      huangJob: "",
      showOrNot: true,
      btnData: ["全部", "上海", "北京", "深圳"],
      currentId: "",
      selected: 0,
      mainProps1: {},
      mainProps2: {},
      Myteam: [],
      maoPic: "",
      huangPic: "",
      nuxtStyle1: "",
      nuxtStyle2: "max-width:25%",
      showAllMembers: false,
      showAllPartners: false,
      isMobile: false,
      showAllData: false,
      baseUrl: BASE_URL,
    };
  },
  components: {
    Header,
    Footer,
    DetailDialog,
  },
  created() {
    this.getHeadMsg();
  },
  computed: {
    fullTeam: function () {
      return this.showAllMembers || !this.isMobile
        ? this.Myteam
        : this.Myteam.slice(0, 4);
    },
    allPartners: function () {
      if (!this.isMobile) {
        return this.partners;
      } else {
        return this.showAllPartners ? this.partners : this.partners.slice(0, 3);
      }
    },
  },
  mounted() {
    if (process.browser) {
      AOS.init();
    }
    if (window.screen.width < 767) {
      this.isMobile = true;
    }
    this.getMember(this.locale, true, true);
    this.getMemberNotUs(this.locale, true, false);
  },

  methods: {
    getHeadMsg() {
      apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/common/head_msg/findAll`,
        {
          queryInfo: {
            language: this.locale,
            visible: true,
            pageInfo: {
              currentPage: 1,
              pageSize: 99999,
            },
          },
        }
      )
        .then((res) => {
          if (res.data.status == "success") {
            let contents = res.data.result.data.rows;
            let data = [];
            for (let i = 0; i < contents.length; i++) {
              if (contents[i].type == "team") {
                this.title = contents[i].title;
                this.msg = contents[i].msg;
              }
            }
          } else {
            this.$message.error(res.data.error);
          }
        })
        .catch((err) => {
          this.$message.error(err.status + err.statusText);
        });
    },
    //点击变换tag
    async btnChoose(index) {
      this.nuxtStyle1 = "";
      this.selected = index;
      if (index != 0) {
        await this.getByTag(this.btnData[index], this.locale, true);
        this.showOrNot = false;
        if (index == 3) {
          this.nuxtStyle1 = "margin-left:-4.7vw";
        }
      } else {
        this.Myteam = [];
        await this.getMember(this.locale, true, true);
        await this.getMemberNotUs(this.locale, true, false);
        this.showOrNot = true;
      }
    },
    async getMemberNotUs(language, visible, isUs) {
      let that = this;
      if (language == "en") {
        this.btnData = ["ALL", "SHANGHAI", "BEIJING", "SHENZHEN"];
      }
      let param = {
        queryInfo: {
          language: language,
          visible: visible,
          isUs: isUs,
          pageInfo: {
            currentPage: 1,
            pageSize: 99, //可选，默认为6
          },
        },
      };
      await apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/team/findAll`,
        param,
        false
      )
        .then((res) => {
          if (res.data.status == "success") {
            let tmpData = res.data.result.data.rows;
            for (let i = 0; i < tmpData.length; i++) {
              this.partners.push({
                src: this.wwwOrNot(tmpData[i].picture),
                name: HTMLDeCode(tmpData[i].name),
                title: HTMLDeCode(tmpData[i].description),
              });
            }
          } else {
            this.$message.error(res.data.error);
          }
        })
        .catch((err) => {
          this.$message.error(err.status + err.statusText);
        });
    },
    //获得所有团队信息
    async getMember(language, visible, isUs) {
      let that = this;
      if (language == "en") {
        this.btnData = ["ALL", "SHANGHAI", "BEIJING", "SHENZHEN"];
      }
      let param = {
        queryInfo: {
          language: language,
          visible: visible,
          isUs: isUs,
          pageInfo: {
            currentPage: 1,
            pageSize: 30, //可选，默认为6
          },
        },
      };
      this.maoPic = require("@/assets/img/team/01.jpg");
      this.huangPic = require("@/assets/img/team/02.jpg");
      await apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/team/findAll`,
        param,
        false
      )
        .then((res) => {
          if (res.data.status == "success") {
            let tmpData = res.data.result.data.rows;
            let myteamData = [];
            for (let i = 0; i < tmpData.length; i++) {
              myteamData.push({
                src: this.wwwOrNot(tmpData[i].picture),
                name: HTMLDeCode(tmpData[i].name),
                job: HTMLDeCode(tmpData[i].job),
                url: "/" + this.locale + "/team/" + tmpData[i].id,
                id: tmpData[i].id,
              });
            }
            let maoData = tmpData.find((t) => t.id == 12 || t.id == 630);
            let huangData = tmpData.find((t) => t.id == 10 || t.id == 652);
            if (HTMLDeCode(tmpData[0].language) == "en") {
              this.maoEnName = HTMLDeCode(maoData.name);
              this.huangEnName = HTMLDeCode(huangData.name);
            } else {
              this.maoname = HTMLDeCode(maoData.name);
              this.huangname = HTMLDeCode(huangData.name);
            }

            this.maoJob = HTMLDeCode(maoData.job);
            this.huangJob = HTMLDeCode(huangData.job);
            this.myteamCompare(myteamData);
          } else {
            this.$message.error(res.data.error);
          }
        })
        .catch((err) => {
          this.$message.error(err.status + err.statusText);
        });
      this.hideShadow = true;
      this.hideShadow2 = true;
    },
    //根据tag获取数据
    async getByTag(tag, language, visible) {
      let that = this;
      let param = {
        queryInfo: {
          tag: tag,
          language: language,
          visible: visible,
          pageInfo: {
            currentPage: 1,
            pageSize: 20, //可选，默认为6
          },
        },
      };
      try {
        let res = await apiService(
          HTTP_TYPE.POST,
          `${requestHttpName}/api/v1/team/findByTag`,
          param,
          false
        );
        if (res.data.status == "success") {
          let tmpData = res.data.result.data.rows;
          let myteamData = tmpData.map((item) => ({
            src: that.wwwOrNot(item.picture),
            name: HTMLDeCode(item.name),
            job: HTMLDeCode(item.job),
            url: "/" + this.locale + "/team/" + item.id,
            id: item.id,
          }));
          this.myteamCompare(myteamData);
        } else {
          this.$message.error(res.data.error);
        }
      } catch (err) {
        this.$message.error(err.status + err.statusText);
      }
    },
    showPartners() {
      this.isMobile = true;
      this.showAllPartners = !this.showAllPartners;
    },
    toggleShow() {
      this.hideShadow = false;
    },
    toggleHide() {
      this.hideShadow = true;
    },
    toggleShow2() {
      this.hideShadow2 = false;
    },
    toggleHide2() {
      this.hideShadow2 = true;
    },
    toggleShow3(index) {
      this.select = index;
    },
    toggleHide3(index) {
      this.select = "";
    },
    wwwOrNot(str) {
      if (str.substring(0, 4) == "http") {
        return str;
      } else {
        return "http://www.yunqi.vc" + str;
      }
    },
    closePop() {
      // let m = function(e) {
      //   e.preventDefault();
      // };
      // document.body.style.overflow = ""; //出现滚动条
      // document.removeEventListener("touchmove", m, { passive: true });
      this.showDialog = false;
      this.contents = {};
      this.currentId = "showNothing";
    },
    //姓氏排序
    myteamCompare(myteamData) {
      let Myteam = [];
      if (this.locale == "en") {
        Myteam = myteamData.sort(function compareFunction(param1, param2) {
          let p1 = param1["name"].split(" ");
          let p2 = param2["name"].split(" ");
          return p1[1].localeCompare(p2[1]);
        });
      } else {
        Myteam = myteamData.sort(function compareFunction(param1, param2) {
          return param1["name"].localeCompare(param2["name"], "zh");
        });
      }
      Myteam.forEach((m) => {
        m.srcTrue=m.src.replace('/www/web/new/','')
        console.log(m.srcTrue);
      });
      this.Myteam =
        Myteam.filter(
          (item) => item.name != "毛丞宇" && item.name != "黄榆镔"
        ) || [];
    },
  },
};
</script>

<style scoped lang="scss">
// @media (min-width: 767px) {
@import "~aos/src/sass/aos";
@import "./mobile/teamShow.scss";
.banner {
  width: 100vw;
  height: 27vw;
  margin-top: 90px;
  background-image: url("~static/team/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5.3125vw;
  padding-right: 30vw;
  .title {
    font-size: 3.9vw;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 1.78px;
    margin-bottom: 4vh;
    line-height: 1.3;
  }
  .msg {
    width: 60vw;
    font-size: 1.67vw;
    color: #ffffff;
    letter-spacing: 0.84px;
    line-height: 5vh;
  }
}

a {
  color: black;
}
.picturesItem {
  display: none;
}
.blackShadow {
  display: inline-block;
  position: absolute;
  margin-left: -36vw;
  width: 36vw;
  height: 18vw;
  background: #000;
  opacity: 0.4;
}
.blackShadow3 {
  display: inline-block;
  position: absolute;
  margin-left: -21.4vw;
  margin-top: 2.6vw;
  width: 21.4vw;
  background: #000;
  opacity: 0.4;
  height: 7.4vw;
}
.blackShadow4 {
  display: inline-block;
  position: absolute;
  margin-left: -21.4vw;
  margin-top: 2.6vw;
  width: 21.4vw;
  background: #000;
  opacity: 0.4;
  height: 7.4vw;
}
.contains {
  text-align: center;
  padding: 0 5.3125vw;
}
.images {
  padding-bottom: 1.8vw;
}
button {
  border: 0px;
  padding: 0;
  margin: 0;
}
.ourTeam {
  margin-top: 3.2vw;
  font-size: 1.7vw;
  font-weight: bold;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #282828;
}
.enOurTeam {
  margin-top: 0.5vw;
  font-size: 0.6vw;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #999999;
}
.twoPerson {
  margin: 6vh 0;
  // display: grid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // justify-content: space-between;
  justify-content: flex-start;
  // grid-template-columns: repeat(2,49.5%);
}
.boss {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0.8vw;
}
.boss-bg {
  position: relative;
}

.boss-mark {
  background: rgba(0, 0, 0, 0.24);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.person-detail:hover {
  box-shadow: 0 2px 30px 0 rgba(9, 50, 100, 0.2);
}
.boss:hover {
  box-shadow: 0 2px 30px 0 rgba(9, 50, 100, 0.2);
}
.boss:hover .boss-mark {
  opacity: 0;
}

.person-detail:hover .boss-mark {
  opacity: 0;
}
.table {
  padding: 0 2vw;
  border-radius: 0 0 5px 5px;
}
.name {
  margin-top: 1vw;
  font-size: 1.77vw;
  font-weight: 500;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #222222;
}
.enName {
  margin-top: 0.5vw;
  font-size: 1.77vw;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #666666;
}
.job {
  margin-top: 0.2vw;
  font-size: 1.3vw;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #666666;
}
.name,
.enName,
.job {
  text-align: left;
}
.btnBgColor {
  font-size: 0.9375vw;
  padding: 0 1.04vw;
  margin: 0;
  height: 1.97vw;
  color: #fff;
  background: rgba(9, 50, 100, 1);
  margin-right: 4vw;
  border-radius: 1vw;
}
.btnStyle {
  font-size: 0.9375vw;
  padding: 0 1.04vw;
  margin: 0;
  height: 1.97vw;
  color: #222222;
  margin-right: 4vw;
  border-radius: 1vw;
}
.chooseTag {
  margin-left: -4.4vw;
  margin-top: 2.9vw;
  margin-bottom: 1.5vw;
  text-align: left;
  margin-left: 0;
  display: flex;
}
.picturesShow {
  // display: grid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // justify-content: space-between;
  justify-content: flex-start;
  width: 100%;
  // grid-template-columns: repeat(4, 21.667vw);
}
.teamate-text {
  padding: 1vw 0 1vw 1.6vw;
  width: 21.667vw;
  font-weight: 500;
  background: #fff;
  border-radius: 0 0 5px 5px;
}
.teamate-text p {
  font-size: 1.3583vw;
  text-align: left;
  font-weight: 500;
  margin-bottom: 4px;
  color: #222;

  &:nth-of-type(2) {
    font-size: 1.0458vw;
    color: #666;
  }
}
.showStyle {
  width: 21.667vw;
  height: 14.427vw;
  background-size: cover;
  background-position: center center;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.showStyle2 {
  cursor: pointer;
}
.huang-mao {
  display: inline-block;
  margin-left: 5.8vw;
}
.person-detail {
  margin-bottom: 3vw;
  border-radius: 5px;
  background-color: #fff;
}

.partner-title {
  text-align: center;
  margin-top: 2vw;
  color: #414141;
  font-size: 1.6vw;
  margin-bottom: 1vw;
}

.title-small {
  color: #c0c0c0;
  font-size: 0.9vw;
  margin-top: 0;
  margin-bottom: 2vw;
}
.title-left {
  margin-bottom: 1vw;
  text-align: left;
}
.show-all-data {
  font-size: 1.5625vw;
  color: #4f77ca;
  cursor: pointer;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bossSolo {
  width: 43.27vw;
  height: 24.479vw;
  background-position-y: inherit;
}
// }
// 移动端
@media (max-width: 767px) {
}
</style>
