@media (max-width : 767px) {
  .page-company {
    .banner {
      height: 92.6vw;
      margin-top: 0;
      padding: 7.5vh 0 0;
      background-image: url("~static/portfolios/company.png");
      background-size: 101% auto;
      background-repeat: no-repeat;

      .title_there {
        font-size: 8.8vw;
        text-shadow: 0 0.2vw 2.2vw rgba(0, 0, 0, 0.27);
        color: #fff;
        text-align: center;
        word-break: break-word;
        margin: 0
      }

      .title_four {
        margin-left: 10.9vw;
        margin-right: 9.6vw;
        font-size: 2.93vw;
        line-height: 6.4vw;
        text-shadow: 0 0.2vw 1.3vw rgba(0, 0, 0, 0.51);
        color: #fff;
      }
    }

    .banner-e{
      .title_there{
        margin: 0 3vw;
      }
    }

    .brow {
      padding: 8.13vw 7vw 0;
      justify-content: space-between;
    }

    .tag_item {
      font-size: 2.93vw;
      padding: 0.5vw 3vw;
      height: unset;
      line-height: 5.6vw;
      margin-right: unset;
      margin-bottom: 3.5vw;
      border-radius: 10vw;
    }

    .first-bdesc {
      margin: 3.83vw 0 2.26vw 4.26vw;
      font-size: 3vw;
    }

    .body-container {
      padding: 0;

      .bcol {
        width: 50vw;
        height: 50vw;
        background-color: #f3f3f3;

        .cover {
          width: 42.5vw;
          height: 42.5vw;
          margin: 3.75vw;
        }
      }

      .odd-col {
        background-color: #eaeaea !important;
      }

      .bcol-box {
        height: unset !important;
        padding-bottom: 0;
      }

      .btn_hover_plus {
        width: 100%;
        height: unset;
        text-align: center;
        background: unset;
        border: none;
        margin-top: 7.5vw !important;
        margin-bottom: 10.53vw !important;

        span {
          position: static !important;
          color: #093264;
          font-size: 4vw !important;

          &:nth-of-type(2) {
            margin-left: 1.93vw;
          }
        }
      }

      .last-bdesc {
        font-size: 2.66vw;
        margin-top: 2.93vw;
        margin-bottom: 0;
        margin-right: 4vw;
      }
    }
  }
}