<template>
  <div class="full-container" v-if="show">
    <div class="dialog-body">
      <div class="close-btn" @click="hideDialog">&times;</div>
      <div class="info-box">
        <b-img class="logo-img" :src="baseUrl + contents.logo" fluid></b-img>
        <div class="info-container">
          <div class="detail-box">
            <h3 class="title">{{ contents.article.title }}</h3>
            <div class="desc">
              {{
                contents.article.description == "none"
                  ? " "
                  : contents.article.description
              }}
            </div>
            <div class="content" v-html="contents.article.content"></div>
          </div>
          <div class="about-box">
            <div class="date-box">
              <p>
                {{
                  $i18n.locale === "zh" ? "云启已同行" : "Yunqi has been with"
                }}
              </p>
              <p class="date-count">
                <span style="fontSize:30px;marginBottom:18px">{{
                  dateCount || ""
                }}</span>
                {{ $i18n.locale === "zh" ? "天" : "days" }}
              </p>
            </div>
            <div class="about-site">
              <p>
                {{ $i18n.locale === "zh" ? "官方网站" : "Official website" }}
              </p>

              <a class="link" :href="contents.homepage" target="_Blank">
                <span>{{ contents.homepage }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BASE_URL, requestHttpName } from "@/services/config";
export default {
  props: {
    show: {
      type: Boolean,
      value: false
    },
    contents: [Object, null, undefined]
  },
  data() {
    return {
      baseUrl: BASE_URL
    };
  },
  methods: {
    hideDialog: function() {
      this.$emit("close");
    }
  },
  computed: {
    dateCount: function() {
      let now = Date.now();
      let createTime = this.contents.create_time;
      if (createTime) {
        let timestamp = new Date(createTime).getTime();
        return Math.round((now - timestamp) / (1000 * 60 * 60 * 24));
      }

      return "";
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./mobile/DetailDialog.scss";
.content /deep/ * {
  text-align: justify !important;
}
.full-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: show 0.5s ease-in-out;
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .dialog-body {
    position: relative;
    width: 68.34375vw;
    height: 79.3vh;
    padding: 3vh 6vw;
    background-color: white;

    .info-container {
      display: flex;
      border-top: 1px solid #093264;
      padding-top: 2.5vw;
    }

    .logo-img {
      height: 30vh;
      display: block;
      margin: 0 auto;
    }

    .detail-box {
      flex: 3;
    }

    .about-box {
      flex: 1.2;
      padding-left: 4vw;

      p,
      span {
        color: #414141;
        margin-bottom: 1.2vw;
      }

      a > span {
        color: rgba(9, 50, 100, 1);
      }

      .date-count {
        font-family: DINPro-Regular;
        font-size: 1vw;
        margin-bottom: 1.4vw;
        padding-bottom: 1.4vw;
        border-bottom: 1px solid rgba(9, 50, 100, 1);
      }
    }

    .title {
      font-size: 2vw;
      margin-bottom: 1vw;
    }

    .desc {
      color: #414141;
      font-size: 1.2vw;
      margin-bottom: 1.5vw;
      font-weight: 500;
    }

    .content {
      width: 100%;
      text-align: left;
      font-size: 1.1vw;
      font-weight: 300;
      line-height: 1.8;
      overflow-y: scroll;
      height: 20vh;
      padding-right: 3vw;
    }
    .content::-webkit-scrollbar {
      width: 2px;
      background: #ddd;
    }
    .content::-webkit-scrollbar-thumb {
      background: rgba(9, 50, 100, 1);
      // box-shadow: 0 2px 10px 0 rgba(9, 50, 100, 0.31);
      border-radius: 0.4vw;
    }
    .content /deep/ * {
      text-align: justify !important;
    }
  }

  .close-btn {
    position: absolute;
    top: 2vw;
    right: 2vw;
    font-size: 2.5vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
    font-weight: 200;
    cursor: pointer;
    color: #093264;
    border: 1px solid #e2e8f9;
    &:hover {
      background-color: rgba(9, 50, 100, 1);
      color: white;
    }
  }
}
</style>
