@media (max-width: 767px) {
  .dialog-body {
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
    left: 0 !important;
    top: 0 !important;

    .info-box {
      display: block;
      height: 80vh;

      .info-left {
        width: 100vw;
        height: 66.7vw;
      }

      .info-content {
        padding: 6.4vw 12.93vw 17.33vw 12.93vw;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 66vw);

        .title_one {
          font-size: 4.53vw;
          text-align: center !important;
          color: #222;
          margin-bottom: 0.9vw !important;
        }

        .title_two {
          font-size: 4vw;
          text-align: center !important;
          color: #666;
          margin-bottom: 3.3vw;
        }

        .blue-line {
          margin: 0 auto 6.97vw;
          width: 8vw;
          height: 0.53vw;
        }

        .introduction {
          margin: 0;
          font-size: 2.9vw;
          line-height: 1.5;
          height: 44vh;

          p {
            margin-bottom: 0.5rem;
          }
        }

        .close-btn {
          width: 8.53vw;
          height: 8.53vw;
          border-width: 0.2vw;
          line-height: 1;
          font-size: 7.2vw;
          right: 5vw;
          top: 5vw;
        }
      }
    }
  }
}