.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
.ant-layout-content{
  padding: 20px;
  margin: 16px!important;
  background: white;
}

.ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  height: auto !important;
  outline: none !important;
  overflow-y: auto !important;
  padding: 0 !important;
  -o-tab-size: 4;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}
@font-face {
  font-family: "DINPro-Light";
  src: url('~assets/font/DINPro-Light.otf');
  font-weight: normal;
  font-style: normal;
 }
 @font-face {
  font-family: "DINPro-Regular";
  src: url('~assets/font/DINPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
 }
