<template>
  <div class="full-container" v-if="show">
    <div class="dialog-body">
      <div class="info-box">
        <div
          class="info-left"
          :style="{ backgroundImage: 'url(' + imageName + ')' }"
        >
          <!-- <b-img-lazy
            :src="imageName"
            style="height: 100%;
    opacity: 1;
    max-width: fit-content;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;"
            fluid
            :style="{ opacity: [imageName != '' ? 1 : 0] }"
          ></b-img-lazy> -->
        </div>
        <div class="info-content">
          <p class="title_one" style="text-align: left; margin-bottom: 0">
            {{ nameJob[0] }}
          </p>
          <p class="title_two" style="text-align: left">{{ nameJob[1] }}</p>
          <div class="blue-line" />
          <div class="introduction" v-html="introduction"></div>
          <div class="close-btn" @click="hideDialog">&times;</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import { apiService, HTTP_TYPE } from "@/services/api";
import { YOU_ZAN, BASE_URL, requestHttpName } from "@/services/config";
import { mapState, mapActions } from "vuex";
import { formatDate, HTMLEnCode, HTMLDeCode } from "@/services/util";
export default {
  props: {
    show: {
      type: Boolean,
      value: false,
    },
    id: String,
  },
  layout: "none",
  data() {
    return {
      imageName: "",
      nameJob: [],
      introduction: "",
      // locale: this.$i18n.locale,
      currentId: "",
    };
  },
  computed: mapState({
    locale: (state) => state.locale,
  }),
  watch: {
    id: function (id) {
      if (id !== "showNothing") {
        this.getMember(id + "");
        this.$parent.$data.showDialog = true;
        // console.log(contents);
        let m = function (e) {
          e.preventDefault();
        };
        // document.body.style.overflow = "hidden";
        // document.addEventListener("touchmove", m, { passive: false }); //禁止页面滑动
      }
    },
    locale() {
      this.getMember(this.id + "");
    },
  },
  methods: {
    hideDialog() {
      this.$emit("close");
      this.imageName = "";
      this.nameJob = [];
      this.introduction = "";
      this.currentId = "";
    },
    async getMember(id) {
      let param = {
        queryInfo: {
          id: id,
        },
      };
      let res = await apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/team/findOne`,
        param,
        false
      );
      if (res.data.status == "success") {
        let receiveParam = res.data.result.data;
        receiveParam.bannerTrue = receiveParam.banner.replace(
          "/www/web/new/",
          ""
        );
        console.log(receiveParam.bannerTrue);
        this.imageName = this.wwwOrNot(receiveParam.bannerTrue);
        this.nameJob = [
          HTMLDeCode(receiveParam.name),
          HTMLDeCode(receiveParam.job),
        ];
        this.introduction = HTMLDeCode(receiveParam.introduction);
      } else {
        this.$message.error(res.data.error);
      }
    },
    async getAll(language, visible, isUs, nowId, lastOrNext) {
      let that = this;

      let param = {
        queryInfo: {
          language: language,
          visible: visible,
          isUs: isUs,
          pageInfo: {
            currentPage: 1,
            pageSize: 30, //可选，默认为6
          },
        },
      };
      let res = await apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/team/findAll`,
        param,
        false
      );
      if (res.data.status == "success") {
        let tmpData = res.data.result.data.rows;
        for (let i = 0; i < tmpData.length; i++) {
          if (tmpData[i].id == nowId) {
            if (nowId == tmpData[0].id && lastOrNext == -1) {
              this.currentId = nowId;
            } else if (
              nowId == tmpData[tmpData.length - 1].id &&
              lastOrNext == 1
            ) {
              this.currentId = nowId;
            } else {
              this.currentId = tmpData[i + lastOrNext].id;
            }
          }
        }
      }
    },
    async leftArrow() {
      await this.getAll(this.locale, true, true, this.currentId, -1);
      this.getMember(this.id + "");
    },
    async rightArrow() {
      await this.getAll(this.locale, true, true, this.currentId, +1);
      this.getMember(this.id + "");
    },
    wwwOrNot(str) {
      if (str.substring(0, 4) == "http") {
        return str;
      } else {
        return "http://www.yunqi.vc" + str;
      }
    },
  },
  components: {
    Header,
  },
};
</script>

<style lang="scss" scoped>
@import "./mobile/DetailDialog.scss";
.full-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: show 0.5s ease-in-out;
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .dialog-body {
    position: absolute;
    width: 78vw;
    overflow: hidden;
    left: 11vw;
    top: 10vh;
    z-index: 1000;
    background-color: white;
    border: 1px solid rgba(9, 50, 100, 1);
    box-shadow: 0 2px 30px 0 rgba(9, 50, 100, 0.21);
  }
}

.info-box {
  display: flex;
  width: 100%;
  align-items: end;
  max-height: 100%;
  .info-left {
    width: 71.893vh;
    height: 80vh;
    background-size: cover;
  }
  .info-content {
    flex: 1;
    padding: 6vh 2.7vw 0 5vw;
    position: relative;
  }
}

.name-p {
  font-weight: bold;
  font-size: 6.9vh;
  letter-spacing: 1.33px;
  margin-bottom: 5px;
  color: #333;
}

.job-p {
  color: #666;
  font-size: 3.5vh;
  letter-spacing: 0.87px;
  margin-bottom: 5.9vh;
}

.blue-line {
  width: 2vw;
  height: 5px;
  background-color: #093264;
}

.close-btn {
  position: absolute;
  top: 2vw;
  right: 2vw;
  font-size: 2.5vw;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  text-align: center;
  line-height: 1;
  font-weight: 200;
  cursor: pointer;

  border: 1px solid #e2e8f9;
  background-color: rgba(9, 50, 100, 1);
  color: white;
  &:hover {
    color: #093264;
    background-color: #fff;
  }
}
// @media (min-width: 767px) {
.namejob {
  text-align: center;
  font-size: 36px;
  margin-top: 3vh;
  font-weight: bold;
  color: #212121;
}
.introduction {
  text-align: justify;
  display: inline-block;
  margin: 7vh auto 5vh;
  font-size: 1.2vw;
  color: #585858;
  overflow-y: scroll;
  padding-right: 4vw;
  height: 39vh;
  line-height: 2;
  font-weight: 300;
}
.introduction::-webkit-scrollbar {
  width: 2px;
  background: #ddd;
}
.introduction::-webkit-scrollbar-thumb {
  background: rgba(9, 50, 100, 1);
  // box-shadow: 0 2px 10px 0 rgba(9, 50, 100, 0.31);
  border-radius: 0.4vw;
}
// }
</style>
