<template>
  <div>
    <Header />
    <div class="container">
      <b-form @submit="onSubmit" v-if="show" style="margin-top:20px">
        <!-- 输入框 -->
        <div class="col-md-10">
          <span class="col-md-1"
            >{{ locale === "zh" ? "姓名" : "Name" }}：</span
          >
          <b-form-input
            id="input-1"
            v-model="form.name"
            type="text"
            required
            :placeholder="locale === 'zh' ? '输入姓名' : 'Enter the name'"
            class="col-md-4"
            style="display:inline-block"
          ></b-form-input>

          <span class="col-md-1"
            >{{ locale === "zh" ? "微信" : "Wechat" }}：</span
          >
          <b-form-input
            id="input-1"
            v-model="form.wechat"
            type="text"
            required
            :placeholder="locale === 'zh' ? '输入微信' : 'Enter the Wechat'"
            class="col-md-4"
            style="display:inline-block"
          ></b-form-input>
        </div>
        <div class="col-md-10">
          <span class="col-md-1">{{ locale === "zh" ? "手机" : "Tel" }}：</span>
          <b-form-input
            id="input-1"
            v-model="form.tel"
            type="tel"
            required
            :placeholder="
              locale === 'zh' ? '输入手机号' : 'Input mobile phone number'
            "
            class="col-md-4"
            style="display:inline-block"
          ></b-form-input>
          <span class="col-md-1"
            >{{ locale === "zh" ? "邮箱" : "Email" }}：</span
          >
          <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            required
            :placeholder="locale === 'zh' ? '输入邮箱' : 'Enter your email'"
            class="col-md-4"
            style="display:inline-block"
          ></b-form-input>
        </div>

        <b-form-group>
          <div class="mar-top">
            <span class="col-md-2" style="display:inline-block"
              >{{ locale === "zh" ? "项目地域" : "Location" }}：</span
            >
            <span class="col-md-4">
              <b-form-radio
                v-model="selected.location"
                name="locations"
                :value="item.val"
                style="display:inline-block"
                size="sm"
                class="rd"
                v-for="(item, index) in location"
                :key="index"
                >{{ item.loca }}</b-form-radio
              >
            </span>
          </div>
          <div class="mar-top">
            <span class="col-md-2" style="display:inline-block"
              >{{ locale === "zh" ? "项目轮次" : "Financing Round" }}：</span
            >
            <span class="col-md-4">
              <b-form-radio
                v-model="selected.turn"
                name="turns"
                :value="item.val"
                style="display:inline-block"
                size="sm"
                class="rd"
                v-for="(item, index) in Turn"
                :key="index"
                >{{ item.name }}</b-form-radio
              >
            </span>
          </div>
          <div class="mar-top">
            <span class="col-md-2" style="display:inline-block"
              >{{ locale === "zh" ? "币 种" : "Currency" }}：</span
            >
            <span class="col-md-4">
              <b-form-radio
                v-model="selected.money"
                name="moneys"
                :value="item.val"
                style="display:inline-block"
                size="sm"
                class="rd"
                v-for="(item, index) in money"
                :key="index"
                >{{ item.name }}</b-form-radio
              >
            </span>
          </div>

          <div class="mar-top">
            <span class="col-md-2" style="display:inline-block"
              >{{ locale === "zh" ? "项目行业类型" : "Industry" }}：</span
            >
            <span class="col-md-4">
              <b-form-radio
                v-model="selected.type"
                name="types"
                :value="item.val"
                style="display:inline-block"
                size="sm"
                class="rd"
                v-for="(item, index) in type"
                :key="index"
                >{{ item.name }}</b-form-radio
              >
            </span>
          </div>

          <b-form-file
            v-model="files"
            class="col-md-4"
            :placeholder="locale == 'zh' ? '未选择文件' : 'No file chosen'"
            :browse-text="locale == 'zh' ? '选择' : 'Select'"
            style="margin-top:2vh"
          ></b-form-file>
        </b-form-group>

        <b-button
          type="submit"
          variant="primary"
          style="margin-bottom:2vw;background-color:#093264;border-color:#093264"
          >{{ locale === "zh" ? "提交" : "Confirm" }}</b-button
        >
      </b-form>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import { apiService, HTTP_TYPE } from "@/services/api";
import {
  YOU_ZAN,
  BASE_URL,
  requestHttpName,
  localhost
} from "@/services/config";
import Footer from "@/components/Footer.vue";
import { request } from "http";
export default {
  layout: "none",
  data() {
    return {
      locale: this.$i18n.locale,
      form: {
        email: "",
        name: "",
        tel: "",
        wechat: "",
        newUrl: ""
      },
      files: "",
      selected:
        this.$i18n.locale == "zh"
          ? {
              location: "北京",
              turn: "天使",
              money: "人民币",
              type: "人工智能"
            }
          : {
              location: "Beijing",
              turn: "Angel Investment",
              money: "RMB",
              type: "Autonomous"
            },
      location:
        this.$i18n.locale == "zh"
          ? [
              {
                loca: "北京",
                val: "北京"
              },
              {
                loca: "上海",
                val: "上海"
              },
              {
                loca: "深圳",
                val: "深圳"
              },
              {
                loca: "杭州",
                val: "杭州"
              },
              {
                loca: "广州",
                val: "广州"
              },
              {
                loca: "其他",
                val: "其他"
              }
            ]
          : [
              {
                loca: "Beijing",
                val: "Beijing"
              },
              {
                loca: "Shanghai",
                val: "Shanghai"
              },
              {
                loca: "Shenzhen",
                val: "Shenzhen"
              },
              {
                loca: "Hangzhou",
                val: "Hangzhou"
              },
              {
                loca: "Guangzhou",
                val: "Guangzhou"
              },
              {
                loca: "Others",
                val: "Others"
              }
            ],
      Turn:
        this.$i18n.locale == "zh"
          ? [
              {
                name: "天使",
                val: "天使"
              },
              {
                name: "早期",
                val: "早期"
              },
              {
                name: "成长期",
                val: "成长期"
              }
            ]
          : [
              {
                name: "Angel Investment",
                val: "Angel Investment"
              },
              {
                name: "Early Stage",
                val: "Early Stage"
              },
              {
                name: "Growth Stage",
                val: "Growth Stage"
              }
            ],
      money:
        this.$i18n.locale == "zh"
          ? [
              {
                name: "人民币",
                val: "人民币"
              },
              {
                name: "美金",
                val: "美金"
              }
            ]
          : [
              {
                name: "RMB",
                val: "RMB"
              },
              {
                name: "US",
                val: "US"
              }
            ],
      type:
        this.$i18n.locale == "zh"
          ? [
              {
                name: "人工智能",
                val: "人工智能"
              },
              {
                name: "B2B服务",
                val: "B2B服务"
              },
              {
                name: "金融科技",
                val: "金融科技"
              },
              {
                name: "企业服务",
                val: "企业服务"
              },
              {
                name: "教育科技",
                val: "教育科技"
              },
              {
                name: "医疗科技",
                val: "医疗科技"
              },
              {
                name: "消费升级",
                val: "消费升级"
              },
              {
                name: "其他",
                val: "其他"
              }
            ]
          : [
              {
                name: "Autonomous",
                val: "Autonomous"
              },
              {
                name: "Robotics",
                val: "Robotics"
              },
              {
                name: "Componen",
                val: "Componen"
              },
              {
                name: "Infrastructure SaaS",
                val: "Infrastructure SaaS"
              },
              {
                name: "Enterprise SaaS",
                val: "Enterprise SaaS"
              },
              {
                name: "Industry B2B Platform",
                val: "Industry B2B Platform"
              },
              {
                name: "Others",
                val: "Others"
              }
            ],
      show: true
    };
  },
  methods: {
    async onSubmit(evt) {
      evt.preventDefault();
      //现获取返回的图片信息
      if (this.files) {
        let param = new FormData();
        param.append("singleFile", this.files);
        await this.uploadFile(param);
      } else {
        this.newUrl = "none";
      }

      //上传信息
      let newParam = {
        businessPlan: {
          name: this.form.name,
          weixin: this.form.wechat,
          phone: this.form.tel,
          plan_file: this.newUrl,
          email: this.form.email,
          project: {
            project_area: this.selected.location,
            project_rounds: this.selected.turn,
            currency: this.selected.money,
            project_industry_types: this.selected.type
          },
          read: false,
          target: false
        }
      };
      await this.sendBusinessPlan(newParam);
    },
    async uploadFile(file) {
      await apiService(
        HTTP_TYPE.UPLOAD,
        `${requestHttpName}/api/v1/upload/single`,
        file
      )
        .then(res => {
          if (res.data.status == "success") {
            this.newUrl = "www.yunqi.vc/" + res.data.result.data;
          } else {
            this.$message.error(res.data.error);
          }
        })
        .catch(err => {
          this.$message.error(err.status + err.statusText);
        });
    },
    async sendBusinessPlan(param) {
      await apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/businessPlan/insert`,
        param,
        false
      )
        .then(res => {
          if (res.data.status == "success") {
            this.$message.success("投递成功");
            this.$router.push("/index");
          } else {
            this.$message.error(res.data.error);
          }
        })
        .catch(err => {
          this.$message.error(err.status + err.statusText);
        });
    }
  },
  components: {
    Header,
    Footer
  }
};
</script>

<style scoped>
.mar-left {
  margin-left: 30px;
}
.container {
  margin-top: 90px;
  min-height: calc(100vh - 14.53vw);
}
.mar-top {
  margin-top: 10px;
}
.mar-top /deep/ .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #093264;
  background-color: #093264;
}
.rd{
  margin-right: 1vw
}

</style>
