<template>
  <div
    class="relative"
    id="footer"
    :class="$i18n.locale === 'zh' ? '' : 'page-e'"
  >
    <footer class="foot">
      <div class="foot-left">
        <b-img
          class="foot-logo"
          src="@/assets/img/logo-white.png"
          fluid
          v-if="$i18n.locale === 'zh'"
        ></b-img>
        <b-img
          class="foot-logo"
          src="@/assets/img/logo-white-e.png"
          fluid
          v-else
        ></b-img>
        <div>
          <div class="title">
            {{ $i18n.locale === "zh" ? "联系我们" : "Contact Us" }}
          </div>
          <div class="text">
            {{ $i18n.locale === "zh" ? "邮箱" : "Email" }}
            <p>{{ $i18n.locale === "zh" ? "|" : "" }}</p>
            bp@yunqi.vc
          </div>
          <div class="text">
            {{ $i18n.locale === "zh" ? "电话" : "Phone" }}
            <p>{{ $i18n.locale === "zh" ? "|" : "" }}</p>
            (021)64681818
          </div>
          <div class="text">
            {{ $i18n.locale === "zh" ? "传真" : "Fax" }}
            <p>{{ $i18n.locale === "zh" ? "|" : "" }}</p>
            (021)64681818-8010
          </div>
        </div>
      </div>
      <div class="foot-right">
        <div class="title">
          ©2020{{ $i18n.locale === "zh" ? "云启资本" : " Yunqi Partners" }}
        </div>
        <div class="text text-address">
          {{ $i18n.locale === "zh" ? "北京" : "Beijing" }}
          <p>|</p>
          {{ $i18n.locale === "zh" ? "上海" : "Shanghai" }}
          <p>|</p>
          {{ $i18n.locale === "zh" ? "深圳" : "Shenzhen" }}
        </div>
        <div class="text">
          {{ $i18n.locale === "zh" ? "微信关注" : "WeChat" }}
        </div>
        <div class="qrcode-area">
          <b-img
            class="foot-qrcode"
            src="@/assets/img/qrcode.png"
            fluid
          ></b-img>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "Footer",
  components: {}
};
</script>

<style scoped lang="scss">
@media (min-width: 767px) {
  .foot {
    width: 100vw;
    padding: 5.7vw 14vw;
    height: 24vw;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background: #032d68;
    color: #ffffff;
    font-size: 1vw;
    .foot-left {
      display: flex;
      flex-direction: column;
      .foot-logo {
        width: 9.4vw;
      }
      .title {
        margin-top: 2.6vw;
        margin-bottom: 2vw;
      }
      .text {
        margin-bottom: 7px;
        > p {
          display: inline-block;
          margin: 0 1em;
        }
      }
    }
    .foot-right {
      display: flex;
      flex-direction: column;
      text-align: right;
      height: 10vw;
      .title {
        margin-bottom: 0.6vw;
      }
      .text {
        margin-bottom: 0.6vw;
      }
      .text.text-address {
        margin-bottom: 1vw;
      }
      .text-address > p {
        display: inline-block;
        margin: 0 0.7vw;
      }
      .qrcode-area {
        width: 100%;
        text-align: right;
        .foot-qrcode {
          width: 5.45vw;
          height: 5.45vw;
        }
      }
    }
  }
  // en
  .page-e {
    .foot .foot-left .foot-logo {
      width: 11.4vw;
      margin-left: -1.1vw;
    }
    .foot .foot-left .text {
      display: flex;
      width: 14vw;
      justify-content: space-between;
    }
    .foot .foot-left .title {
      margin-top: 1vw;
      margin-bottom: 0.7vw;
    }
  }
}
@media (max-width: 767px) {
  .foot {
    text-align: center;
    background-color: #093264;
    color: #fff;
    padding-top: 13.06vw;
    padding-bottom: 14.66vw;
    font-size: 2.66vw;

    .foot-logo {
      width: 24.13vw;
    }

    .text p {
      display: inline-block;
      margin-bottom: 0;
    }

    .foot-left {
      .title {
        margin-top: 11.33vw;
        margin-bottom: 4.53vw;
      }
      .text {
        margin-bottom: 1vw;

        p {
          margin: 0 2vw;
        }
      }
    }

    .foot-right {
      .title {
        margin-top: 10.8vw;
        margin-bottom: 1.46vw;
      }

      .text {
        margin-bottom: 3vw;
      }

      .text.text-address {
        margin-bottom: 6.8vw;
      }
    }
  }
  // en
  .page-e {
    .foot .foot-logo{
      width: 40vw
    }
    .foot .foot-left .text {
      margin: 0 auto 1vw;
      width: 44vw;
      display: flex;
      justify-content: space-between;
    }
  }
}
</style>
