<template>
  <div :class="$i18n.locale === 'zh' ? '' : 'page-e'">
    <nav class="navbar-expand-sm head" :class="headClass">
      <nuxt-link :to="$i18n.path('index#index')">
        <b-img
          src="@/assets/img/logo.png"
          fluid
          class="logo"
          v-if="$i18n.locale === 'zh'"
        ></b-img>
        <b-img
          src="@/assets/img/logo-e.png"
          fluid
          class="logo logo-e"
          v-else
        ></b-img>
      </nuxt-link>

      <!-- 宽度小于767   -->
      <div @click="hide ? showFloat() : hideFloat()" class="menu-box">
        <div class="hr" :class="hide ? 'hr1' : 'hr1-cancel'"></div>
        <div class="hr" :class="hide ? 'hr2' : 'hr2-cancel'"></div>
        <div class="hr" :class="hide ? 'hr3' : 'hr3-cancel'"></div>
      </div>

      <ul
        class="navbar-nav float"
        style="transition:0.3s"
        :class="[$i18n.locale === 'zh' ? '' : 'navbar-nav-e']"
      >
        <!-- 首页 -->
        <nuxt-link
          :to="$i18n.path('index#index')"
          :class="
            (frontRoute == 'index#index' || frontRoute == 'index') &&
            headClass == 'white'
              ? 'active-route'
              : ''
          "
        >
          <li class="nav-item">
            <div class="nav-item-text">{{ $t("header.home") }}</div>
            <div class="nav-item-line"></div>
          </li>
        </nuxt-link>

        <!-- 关于云启 -->
        <nuxt-link
          :to="$i18n.path('index/aboutUs')"
          :class="
            (frontRoute == '/index/aboutUs' || frontRoute == 'aboutUs') &&
            headClass == 'white'
              ? 'active-route'
              : ''
          "
        >
          <li class="nav-item">
            <div class="nav-item-text">{{ $t("header.aboutUs") }}</div>
            <div class="nav-item-line"></div>
          </li>
        </nuxt-link>

        <!-- 被投企业 -->
        <nuxt-link
          :to="$i18n.path('portfolios/company')"
          :class="
            (frontRoute == 'index#portfolios' || frontRoute == 'portfolios') &&
            headClass == 'white'
              ? 'active-route'
              : ''
          "
        >
          <li class="nav-item">
            <div class="nav-item-text">{{ $t("header.portfolios") }}</div>
            <div class="nav-item-line"></div>
          </li>
        </nuxt-link>

        <!-- 云启团队 -->
        <nuxt-link
          :to="$i18n.path('team/teamShow')"
          :class="
            (frontRoute == 'index#team' || frontRoute == 'team') &&
            headClass == 'white'
              ? 'active-route'
              : ''
          "
        >
          <li class="nav-item">
            <div class="nav-item-text">{{ $t("header.team") }}</div>
            <div class="nav-item-line"></div>
          </li>
        </nuxt-link>
        <!-- 加入我们 -->
        <a class="we-a-class" href="https://app.mokahr.com/social-recruitment/yunqi/43954#/" target="_blank">
          <li class="nav-item">
            <div class="nav-item-text">
              {{$t("header.joinUs")}}
              </div>
            <div class="nav-item-line"></div>
          </li>
        </a>
        <!-- 动态 -->
        <nuxt-link
          :to="$i18n.path('thinkTank/more')"
          :class="
            (frontRoute == 'index#thinkTank' || frontRoute == 'thinkTank') &&
            headClass == 'white'
              ? 'active-route'
              : ''
          "
        >
          <li class="nav-item">
            <div class="nav-item-text">{{ $t("header.thinkTank") }}</div>
            <div class="nav-item-line"></div>
          </li>
        </nuxt-link>

        <!-- EN -->
        <NuxtLink
          :to="`/en` + $route.fullPath"
          active-class="none"
          exact
          v-if="$i18n.locale === 'zh'"
          class="m-none"
        >
          <li class="nav-item">
            <div class="nav-item-text">
              {{ $i18n.locale === "zh" ? "EN" : "中文" }}
            </div>
          </li>
        </NuxtLink>
        <NuxtLink
          :to="$route.fullPath.replace(/^\/[^\/]+/, '')"
          active-class="none"
          exact
          v-else
          class="m-none"
        >
          <li class="nav-item">
            <div class="nav-item-text">
              {{ $i18n.locale === "zh" ? "EN" : "中文" }}
            </div>
          </li>
        </NuxtLink>

        <!-- 投递商业计划书 -->
        <nuxt-link
          class="senmes"
          :to="
            $i18n.locale === 'zh'
              ? $i18n.path('sendBusinessPlan')
              : $i18n.path('sendBusinessPlan')
          "
        >
          <div
            class="btn_hover1"
            :class="$i18n.locale === 'zh' ? 'businessPlan' : 'businessEn'"
          >
            {{ $t("header.sendBusinessPlan") }}
          </div>
        </nuxt-link>
        <!-- 中英文切换 -->
        <NuxtLink
          :to="`/en` + $route.fullPath"
          active-class="none"
          exact
          v-if="$i18n.locale === 'zh'"
          class="p-none"
        >
          <div class="langu">
            {{ $i18n.locale === "zh" ? "EN" : "中文" }}
          </div>
        </NuxtLink>
        <NuxtLink
          :to="$route.fullPath.replace(/^\/[^\/]+/, '')"
          active-class="none"
          exact
          v-else
          class="p-none"
        >
          <div class="langu">
            {{ $i18n.locale === "zh" ? "EN" : "中文" }}
          </div>
        </NuxtLink>
      </ul>
    </nav>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { sendEmail } from "@/services/config";
import { debug } from "util";

export default {
  name: "Header",
  components: {},
  props: {
    headClass: {
      type: String,
      default: "white"
    }
  },
  data() {
    return {
      hide: true
    };
  },
  created() {},
  mounted() {
    let m = function(e) {
      e.preventDefault();
    };
    document.body.style.overflow = ""; //出现滚动条
    document.removeEventListener("touchmove", m, { passive: true });
  },
  methods: {
    // 三个横线显示与隐藏
    hideFloat() {
      document.getElementsByClassName("float")[0].style.right = "-100vw";
      this.hide = !this.hide;
    },
    showFloat() {
      document.getElementsByClassName("float")[0].style.right = "0%";
      this.hide = !this.hide;
    },
    //
    good() {
      this.$router.push("/index#team");
    },
    //
    changeRoute(route) {
      this.$store.commit("setFrontRoute", route);
      if (this.$route.path == "/index") {
        sessionStorage.setItem("isIndex", true);
      } else {
        sessionStorage.setItem("isIndex", false);
      }
    }
  },
  computed: {
    ...mapState(["frontRoute"])
  }
};
</script>

<style scoped lang="scss">
@media (min-width: 767px) {
  .langu {
    color: #093264;
  }
  a {
    text-decoration: none;
  }

  .nav-item {
    padding-right: 3.33vw;
    color: #222222;
    text-align: center;
    transition: 0.3s;
    .nav-item-text {
      font-size: 18px;
      line-height: 46px;
      text-align: center;
      color: #222222;
    }
    .nav-item-line {
      width: 100%;
      height: 4px;
      margin: 0 auto;
    }
  }
  .navbar-nav-e {
    .nav-item {
      width: 7vw;
    }
  }
  .head {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    z-index: 99;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .white {
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 1s;
    // box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.18);
  }
  .nav-item:hover {
    color: #000000;
    font-weight: bold;
  }
  .nav-item h3 {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #222222;
    white-space: nowrap;
  }
  .logo {
    height: 35px;
    margin-left: 5vw;
  }
  .logo-e {
    height: 60px;
  }
  .btn {
    padding: 0;
    margin: 0;
    height: 30px;
    white-space: nowrap;
  }

  .senmes {
    cursor: pointer;
    border-radius: 30px;
    margin-right: 2vw;
    background-color: rgba(9, 50, 100, 1);
    .plane {
      display: none;
    }
    .btn_hover1 {
      border: 2px solid rgba(9, 50, 100, 1);
      background-color: rgba(9, 50, 100, 1);
      text-align: center;
      border-radius: 5vw;
      transition: 0.5s;
      letter-spacing: 0px;
      color: #ffffff;
      font-size: 16px;
      width: 250px;
    }
    .btn_hover1:hover {
      color: rgba(9, 50, 100, 1);
      background-color: #fff;
      font-size: 18px;
    }
    .businessPlan {
      width: 117px;
      text-align: center;
      line-height: 46px;
      border-radius: 30px;
    }
    .businessEn {
      padding: 0 20px;
      line-height: 46px;
    }
  }
  .float {
    position: absolute;
    right: 5vw;
    top: 15px;
    height: 60px;
    display: flex;
    align-items: center;
  }
  .active-route .nav-item-text {
    font-weight: bold;
  }
  .active-route .nav-item-line {
    background: rgba(9, 50, 100, 1);
    border-radius: 3px;
  }
  .menu-box {
    display: none;
  }
}
//phone
@media only screen and (max-width: 767px) {
  .nav-item {
    height: 7vh;
    text-align: center;
    line-height: 7vh;
  }
  .head {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7.5vh;
    z-index: 99;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .white {
    background-color: #ffffff;
    // box-shadow: 0px 0px 30px 0.5px rgba(186, 186, 186, 0.23);
    transition: 1s;
  }
  .nav-item h3 {
    font-size: 3.7vw;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0vw;
    line-height: 7vh;
    color: #222222;
    white-space: nowrap;
  }
  .logo {
    margin: 0 0 0 3.3vw;
    height: 3vh;
  }
  //en
  .logo-e {
    height: 6vh;
  }
  .btn {
    padding: 0;
    height: 30px;
    white-space: nowrap;
  }
  .senmes {
    height: 25.6vw;
    background-color: #2595f4;
    border-radius: 0.3vw;
    cursor: pointer;
    border-radius: 0.8vw;
    text-align: center;
    a {
      text-align: center;
    }
    .plane {
      margin-top: 4.5vw;
      width: 5.2vw;
      display: inline-block;
    }
    .businessPlan {
      display: inline-block;
      color: white;
      max-width: 17.3vw;
      height: 10.7vw;
      margin-top: 0.9vw;
      font-size: 3.6vw;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0vw;
    }
    .businessEn {
      display: inline-block;
      color: white;
      max-width: 17.3vw;
      height: 10.7vw;
      margin-top: 0.9vw;
      font-size: 3.3vw;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0vw;
    }
  }
  .dropdownClass {
    font-size: 18px;
    font-weight: 500;
  }
  .float {
    right: -100vw;
    position: absolute;
    top: 7.5vh;
    height: 100vh;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  .active-route {
    background-color: #e0e7f6;
  }
  .menu-box {
    margin: 0 0 0 auto;
    .hr {
      background-color: #134774;
      border-radius: 10px;
      height: 8px;
      transition: 0.3s;
      margin: 10px;
    }
    .hr1 {
      width: 50px;
      transform-origin: right;
    }
    .hr1-cancel {
      width: 50px;
      transform-origin: right;
      transform: rotate(-45deg);
    }
    .hr2 {
      width: 50px;
      margin: 0 auto;
    }
    .hr2-cancel {
      width: 0;
      margin: 0 auto;
    }
    .hr3 {
      width: 50px;
      transform-origin: right;
    }
    .hr3-cancel {
      width: 50px;
      transform: rotate(45deg);
      transform-origin: right;
    }
  }

  //  后续增加样式

  .menu-box {
    zoom: 0.6;
    margin-right: 6.3vw;
  }

  .navbar-nav.float {
    width: 100vw;
    top: 7.4vh;
    background-image: url("../assets/img/nav.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 14vw;
    padding-top: 3vw;

    .nav-item {
      font-size: 5.32vw;
      color: #222;
      text-align: right;
      margin-right: 12vw;
      position: relative;
      height: 14vw;
      line-height: 14vw;
    }
    .active-route {
      background-color: unset;

      .nav-item {
        color: #093264;

        .nav-item-text {
          display: inline-block;
          border-bottom: 0.4vw solid #093264;
        }
      }
    }
  }
  .senmes {
    width: 56.26vw;
    height: 13vw;
    border-radius: 13vw;
    position: absolute;
    left: 50%;
    bottom: calc(17vw + 7.4vh);
    transform: translateX(-50%);
    line-height: 11vw;
    background-color: #093264;

    .businessPlan {
      font-size: 4.8vw;
    }
  }
}
.we-a-class{
  color: #222;
}
.we-a-class:visited{
  color: #222;
}
</style>
