<template>
  <div>
    <div
      class="header-class"
      :data-aos="headClass == 'white' ? 'fade-down' : ''"
      data-aos-duration="1000"
    >
      <Header></Header>
    </div>
    <div id="box" class="box" ref="box">
      <div class="banner">
        <div class="vidage p-none">
          <video
            id="vidage"
            ref="video"
            class="vidage-video"
            autoplay
            muted
            loop
          >
            <source
              src="http://image.lemonbox.com.cn/tmp/index/first.mp4"
              type="video/mp4"
            />
          </video>
        </div>
        <div class="vidage m-none">
          <!-- <video
            id="vidage"
            class="vidage-video"
            preload="autoplay"
            autoplay
            muted
            loop
            x5-video-player-type="h5"
          >
            <source
              src="http://image.lemonbox.com.cn/tmp/index/first.mp4"
              type="video/mp4"
            />
          </video>因为某些手机无法播放视频，所以移动端不播放视频 -->
        </div>
        <!-- banner标题这块非常的乱 -->
        <div class="ban-decs">
          <b-img
            class="ban-head"
            :class="[$i18n.locale === 'zh' ? '' : 'ban-head-e']"
            :src="
              '/index/banner/banner_title' +
                [$i18n.locale === 'zh' ? '' : '_e'] +
                '.png'
            "
            fluid
            :data-aos="headClass == 'white' ? 'fade-up' : ''"
            data-aos-delay="500"
            data-aos-duration="1000"
          ></b-img>
          <div
            class="ban-head-m1"
            :data-aos="headClass == 'white' ? 'fade-up' : ''"
            data-aos-delay="200"
            data-aos-duration="1000"
            v-if="$i18n.locale === 'zh'"
          ></div>
          <div
            class="ban-head-m2"
            :data-aos="headClass == 'white' ? 'fade-up' : ''"
            data-aos-delay="500"
            data-aos-duration="1000"
            v-if="$i18n.locale === 'zh'"
          ></div>
          <b-img
            class="ban-head-m-e m-none"
            :class="[$i18n.locale === 'zh' ? '' : 'ban-head-e']"
            src="/index/banner/banner_title_e_m.png"
            fluid
            :data-aos="headClass == 'white' ? 'fade-up' : ''"
            data-aos-delay="500"
            data-aos-duration="1000"
            v-if="$i18n.locale === 'en'"
          ></b-img>
          <b-img
            class="ban-head2 p-none"
            :class="[$i18n.locale === 'zh' ? '' : 'ban-head2-e']"
            :src="
              '/index/banner/banner_title_next' +
                [$i18n.locale === 'zh' ? '' : '_e'] +
                '.png'
            "
            fluid
            :data-aos="headClass == 'white' ? 'fade-up' : ''"
            data-aos-delay="800"
            data-aos-duration="1000"
          ></b-img>
          <b-img
            class="ban-head2-m m-none"
            :class="[$i18n.locale === 'zh' ? 'ban-head2-z-m' : '']"
            :src="
              '/index/banner/banner_title_next' +
                [$i18n.locale === 'zh' ? '' : '_e_m'] +
                '.png'
            "
            fluid
            :data-aos="headClass == 'white' ? 'fade-up' : ''"
            data-aos-delay="800"
            data-aos-duration="1000"
          ></b-img>

          <nuxt-link :to="$i18n.path('index/aboutUs')">
            <div
              class="btn_hover_plus"
              :data-aos="headClass == 'white' ? 'fade-up' : ''"
              data-aos-delay="1100"
              data-aos-duration="1000"
            >
              {{ $i18n.locale === "zh" ? "关于我们" : "About" }}
            </div>
          </nuxt-link>
        </div>
      </div>
      <div class="slide" id="bannerTrue" ref="bannerTrue"></div>
      <div style="height:10px;width:100%;"></div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header";
import { apiService, HTTP_TYPE } from "@/services/api";
import { BASE_URL, requestHttpName } from "@/services/config";
import { mapState, mapActions } from "vuex";
import { debug, debuglog } from "util";
import { setTimeout } from "timers";
import { win32 } from "path";
import { fcall } from "q";
// import Vidage from "vidage";
import AOS from "aos";

export default {
  layout: "none",
  components: {
    Header
  },
  data() {
    return {
      articles: [],
      allTags: [],
      baseUrl: BASE_URL,
      headClass: "white",
      showArrow: true
    };
  },
  created() {},
  beforeMount() {},
  mounted() {
    // new Vidage("#vidage");
    if (process.client) {
      AOS.init();
    }
    this.init();
  },
  watch: {},
  methods: {
    init() {
      let video = document.getElementById("vidage");
      video.addEventListener("canplaythrough", function() {
        document.getElementsByClassName("ban-decs")[0].style.display = "flex";
      });
    }
  }
};
</script>

<style scoped lang="scss">
// set the fallback-cover image
$vdg-fallback-image: url("http://image.lemonbox.com.cn/tmp/first_cover.png");
// import package
@import "~vidage/src/styles/vidage";
@import "~aos/src/sass/aos";
.header-class {
  z-index: 20;
  position: fixed;
  width: 100vw;
  height: 90px;
  top: 0;
}
.box {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: relative;
}

.boxFixed {
  position: fixed;
  z-index: 80;
  top: 0;
}
.up {
  top: -100vh;
  transition: 0.5s;
}

.boxRelative {
  position: relative;
  top: 0;
}

.banner {
  position: relative;
  height: 100vh;
  z-index: 10;
  left: 0;
  top: 0;
  .vidage {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .vidage::before {
    background-color: white;
  }

  .mark {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 100vh;
  }
}

.opacity {
  top: 0px;
}

.white {
  top: calc(-100vh + 90px);
}

.opacity2 {
  opacity: 0;
}

.white2 {
  opacity: 1;
  transition: 1s;
}

.mouse {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  width: 1.3vw;
  height: 3.6vh;
}

@media (min-width: 767px) {
  .ban-decs {
    position: absolute;
    left: 5vw;
    top: 40vh;
    right: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .ban-head {
    font-family: PingFangSC-Regular;
    font-size: 3.75vw;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    height: 11vh;
  }
  .ban-head-e {
    height: 16vh;
  }
  .ban-head2 {
    height: 4.4vh;
  }
  .ban-head2-e {
    height: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .ban-head-m1 {
    display: none;
  }
  .ban-head-m2 {
    display: none;
  }
  .next_cell {
    color: #093264;
    transform: scale(1.4);
    display: block;
    margin-bottom: -6px;
  }
  .vidage-video {
    top: 50%;
    left: 50%;
    width: auto;
    display: block;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .btn_hover_plus {
    transition-duration: 0.5s;
    margin-top: 3vw;
    margin-left: 1vw;
  }
}
@media (max-width: 767px) {
  .ban-decs {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ban-head {
    display: none;
  }
  .ban-head2 {
    height: 6vw;
  }
  .ban-head2-m {
    width: 80vw
  }
  .ban-head-m1 {
    width: 60vw;
    height: 13vw;
    background-image: url("/index/banner/banner_title.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .ban-head-m2 {
    width: 43vw;
    height: 13vw;
    background-image: url(/index/banner/banner_title.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: right;
  }
  .ban-head-m-e{
    width: 80vw;
  }
  .next_cell {
    color: #093264;
    transform: scale(0.6);
    display: block;
    margin-bottom: -10px;
  }
  .vidage-video {
    position: absolute;
    top: 0;
    left: 0%;
    width: auto;
    height: 100vh;
    display: block;
    z-index: -1;
    transform: translateX(-60%) translateY(0);
  }
  .vidage::before {
    z-index: -2;
    background-position: center right -60vw;
  }
  .btn_hover_plus {
    transition-duration: 0.5s;
    width: 40vw;
    margin-top: 20vw;
  }
}
</style>
