<template>
  <div
    ref="portfoliosPage"
    id="pageP"
    :class="$i18n.locale === 'zh' ? '' : 'page-e'"
  >
    <div class="head">
      <b-carousel
        ref="headSwiper"
        id="head-swiper"
        v-model="current"
        no-hover-pause
        no-touch
        @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd"
      >
        <!-- 轮播开始和结束 -->
        <b-carousel-slide
          class="swiper-box"
          v-for="(item, i) in pData"
          v-bind:key="i"
        >
          <b-img
            class="inside"
            :class="
              current == 4
                ? i == 0
                  ? ''
                  : 'inside-ani'
                : current == i - 1
                ? ''
                : 'inside-ani'
            "
            :src="item.imgUrl"
            fluid
          ></b-img>
          <div
            class="middle"
            :class="
              current == 4
                ? i == 0
                  ? ''
                  : 'middle-ani'
                : current == i - 1
                ? ''
                : 'middle-ani'
            "
          >
            <div class="msg">
              <div class="title">
                {{
                  $i18n.locale === "zh"
                    ? "科技创新 产业升级"
                    : "Technology Driven"
                }}
              </div>
              <div class="date">
                0{{ i + 1 }}
                <span style="margin: 0 1vw 0 0; opacity: 0.6">/</span>05
              </div>
              <div class="hr">
                <div
                  :class="current == i && !swiperAnimate ? 'hr-ani' : ''"
                ></div>
              </div>
            </div>
          </div>
          <div
            class="outside"
            :class="
              current == 4
                ? i == 0
                  ? ''
                  : 'outside-ani'
                : current == i - 1
                ? ''
                : 'outside-ani'
            "
          >
            <div class="title">
              <span>{{ item.name }}</span>
            </div>
            <div v-if="item.nameSM" class="titleSm">
              {{ item.nameSM }}
            </div>
            <div class="text">
              <span>
                <!-- 全球最大的一次性手套生产商之一。2020上半年A股“涨幅王”，净利润预计为
                  <span style="color: rgba(9, 50, 100, 1);font-size: 1.99vw;">19-21亿元</span>
              </span>
              <span v-else> -->
                {{ item.msg }}
              </span>
            </div>
            <div class="foot">
              <div v-if="$i18n.locale === 'zh'">
                云启已与{{ item.name }}同行
              </div>
              <div v-else>Yunqi has been with {{ item.name }} for</div>
              <div>
                <span class="day">
                  {{
                    Math.floor(
                      (new Date().getTime() - new Date(item.day).getTime()) /
                        86400000
                    )
                  }}
                </span>
                {{ $i18n.locale === "zh" ? "天" : "days" }}
              </div>
            </div>
          </div>
        </b-carousel-slide>
      </b-carousel>
    </div>

    <div class="top" ref="top" @mousemove="topmove">
      <div
        class="first"
        :style="'background-position: 4% ' + topoffsetY + '%'"
      ></div>

      <div
        class="second"
        :style="'top:' + secondMY + '% ; left:' + secondMX + '%'"
      >
        <!-- :style="'top:' + secondMY + '% ; left:' + secondMX + '%'" -->
        <div class="box">
          <span
            class="title"
            :style="'top:' + thirdMY + '% ; left:' + thirdMX + '%'"
            >{{ $i18n.locale === "zh" ? "投资企业总数" : "Portfolio" }}</span
          >
          <div class="btn-bg"></div>
        </div>

        <div class="box">
          <span
            class="title"
            :style="'top:' + thirdMY + '% ; left:' + thirdMX + '%'"
            v-html="
              $i18n.locale === 'zh'
                ? 'To B独角兽、领头羊'
                : 'Unicorns and leaders <br/>in enterprise internet'
            "
          >
          </span>
          <div class="btn-bg"></div>
        </div>

        <div class="box">
          <span
            class="title"
            :style="'top:' + thirdMY + '% ; left:' + thirdMX + '%'"
          >
            {{ $i18n.locale === "zh" ? "创造工作机会" : "Jobs creation" }}
          </span>
          <div class="btn-bg"></div>
        </div>
      </div>

      <div class="third">
        <div class="box">
          <div class="btn-msg">
            <span class="s">{{ $i18n.locale === "zh" ? "近" : "nearly" }}</span>
            <span class="xl">{{ cFirst }}</span>
            <span class="l l-e">+</span>
          </div>
        </div>

        <div class="box">
          <div class="btn-msg">
            <span class="xl">{{ cThird }}</span>
            <span class="l">+</span>
          </div>
        </div>
        <div class="box">
          <div class="btn-msg">
            <span class="xl">{{
              $i18n.locale === "zh" ? cFourth : cFirst
            }}</span>
            <span :class="$i18n.locale === 'zh' ? 'm' : 's'">{{
              $i18n.locale === "zh" ? "w" : "thousand"
            }}</span>
            <span class="l l-e">+</span>
          </div>
        </div>
      </div>
    </div>

    <div class="inves">
      <div class="title-box" id="title-box">
        <div class="title_one" style="margin-bottom: 1rem">
          {{ $i18n.locale === "zh" ? "投资领域" : "Investment Sector" }}
        </div>
        <div class="lanheng"></div>

        <!-- <div class="title_two" style="margin-top:1.5rem">
          {{
            $i18n.locale === "zh"
              ? "企业服务及相关软硬件技术"
              : "Enterprise services and related software and hardware technologies"
          }}
        </div> -->
      </div>
      <div class="accordion">
        <div class="item-box">
          <div class="item">
            <b-img
              class="item-bg"
              src="/index/fengqingzhe_01.png"
              fluid
            ></b-img>
            <div class="mark"></div>
            <div class="mark"></div>
            <div class="msg" v-if="$i18n.locale === 'zh'">
              <span class="title title_there">科技创新</span>
              <!-- <div class="hr"></div> -->
              <nuxt-link
                :to="$i18n.path('portfolios/company?tag=人工智能大数据')"
              >
                <span class="title_four">人工智能大数据</span>
              </nuxt-link>
              <nuxt-link :to="$i18n.path('portfolios/company?tag=智联设备')">
                <span class="title_four">智联设备</span>
              </nuxt-link>
              <nuxt-link :to="$i18n.path('portfolios/company?tag=先进制造')">
                <span class="title_four">先进制造</span>
              </nuxt-link>
            </div>
            <div class="msg" v-else>
              <div class="title_there_box">
                <span class="title_there">IoT</span>
              </div>
              <!-- <div class="hr"></div> -->
              <nuxt-link :to="$i18n.path('portfolios/company?tag=Autonomous')">
                <span class="title_four">Autonomous</span>
              </nuxt-link>
              <nuxt-link :to="$i18n.path('portfolios/company?tag=Robotics')">
                <span class="title_four">Robotics</span>
              </nuxt-link>
              <nuxt-link :to="$i18n.path('portfolios/company?tag=Robotics')">
                <span class="title_four">Component</span>
              </nuxt-link>
            </div>
          </div>
          <div class="item">
            <b-img
              class="item-bg"
              src="/index/fengqingzhe_02.png"
              fluid
            ></b-img>
            <div class="mark"></div>
            <div class="msg" v-if="$i18n.locale === 'zh'">
              <span class="title title_there">产业升级</span>
              <nuxt-link
                :to="$i18n.path('portfolios/company?tag=企业SaaS及服务')"
              >
                <span class="title_four">企业 SaaS 及服务</span>
              </nuxt-link>
              <nuxt-link
                :to="$i18n.path('portfolios/company?tag=B2B供应链平台')"
              >
                <span class="title_four">B2B 供应链平台</span>
              </nuxt-link>
            </div>
            <div class="msg" v-else>
              <div class="title_there_box">
                <span class="title_there title_there_e"
                  >Enterprise Internet</span
                >
              </div>
              <!-- <div class="hr"></div> -->
              <nuxt-link
                :to="$i18n.path('portfolios/company?tag=Infrastructure SaaS')"
              >
                <span class="title_four">Infrastructure SaaS</span>
              </nuxt-link>
              <nuxt-link
                :to="$i18n.path('portfolios/company?tag=Enterprise SaaS')"
              >
                <span class="title_four">Enterprise SaaS</span>
              </nuxt-link>
              <nuxt-link
                :to="$i18n.path('portfolios/company?tag=Industry B2B Platform')"
              >
                <span class="title_four">Industry B2B Platform</span>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
      <div class="title-box">
        <div class="title_two">
          {{
            $i18n.locale === "zh"
              ? "部分云启家族成员展示"
              : "Portfolio Spotlight"
          }}
        </div>
      </div>
      <!-- pc -->
      <div
        class="starcom-box p-none"
        :class="hiddenPart ? '' : 'starcom-box-hide'"
        id="new"
      >
        <div class="starcom">
          <template>
            <b-img
              v-for="(n, i) in 17"
              class="starcom-img"
              :src="'/index/logo/' + (i + 1) + '.png'"
              :key="n"
            ></b-img>
          </template>
        </div>
      </div>
      <!-- m -->
      <div
        class="starcom-box m-none"
        :class="hiddenPart ? '' : 'starcom-box-hide'"
      >
        <div class="starcom">
          <template>
            <b-img
              v-for="(n, i) in 17"
              class="starcom-img"
              :src="'/index/logo/' + (i + 1) + '.png'"
              :key="n"
            ></b-img>
          </template>
        </div>
      </div>
      <div class="btn_hover_plus m-none" @click="showMore">
        <span v-if="$i18n.locale === 'zh'">{{
          hiddenPart ? "收起" : "显示更多"
        }}</span>
        <span v-else>{{ hiddenPart ? "Less" : "More" }}</span>

        <span
          class="arrow"
          :class="hiddenPart ? 'el-icon-arrow-up' : 'el-icon-arrow-down'"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { apiService, HTTP_TYPE } from "@/services/api";
import { BASE_URL, requestHttpName } from "@/services/config";
// import Vidage from "vidage";
import AOS from "aos";
import $ from "jquery";

export default {
  layout: "none",
  components: {},
  props: {},
  data() {
    return {
      locale: this.$i18n.locale,
      allTags: [],
      baseUrl: BASE_URL,
      countDownNum: 45,
      countDownInit: 0,
      current: 0,
      swiperAnimate: false,
      cFirst: 100,
      cSecond: 0,
      cThird: 10,
      cFourth: 10,
      topoffsetX: 0,
      topoffsetY: 0,
      secondMX: 0,
      secondMY: 0,
      thirdMX: 0,
      thirdMY: 0,
      pData: [
        // {
        //   name: "英科医疗",
        //   nameSM: "（SZ:300677）",
        //   day: "2015-06-25",
        //   msg: "全球最大的一次性手套生产商之一。2020上半年A股“涨幅王”，净利润预计为19-21亿元",
        //   imgUrl: 4
        // },
        //  {
        //   name: "新松投资",
        //   day: "2020-07-01",
        //   msg: "达成产业战略合作和LP投资，共推中国机器人产业及工业4.0产业综合发展",
        //   imgUrl: 8
        // },
        // {
        //   name: "360金融",
        //   nameSM: "（NASDAQ:QFIN）",
        //   day: "2015-02-11",
        //   msg: "第一个在资本市场上市的互联网巨头系金融科技企业",
        //   imgUrl: 1
        // },
        // {
        //   name: "百布",
        //   day: "2017-04-24",
        //   msg: "国内最大的纺织品智慧供应链平台",
        //   imgUrl: 3
        // },
        // {
        //   name: "酷家乐",
        //   day: "2014-09-11",
        //   msg: "构建全球最大的虚拟家居商品库",
        //   imgUrl: 2
        // },
      ],
      pDataEn: [
        // {
        //   name: "360 Finance",
        //   nameSM: "（NASDAQ:QFIN）",
        //   day: "2015-02-11",
        //   msg: "The first listed Fintech company backed by internet giant.",
        //   imgUrl: 1
        // },
        // {
        //   name: "PingCAP",
        //   day: "2016-07-26",
        //   msg:
        //     "World Wide Best-in-Class Cloud Database Software, deployed by over 1000 global enterprises.",
        //   imgUrl: 5
        // },
        // {
        //   name: "Kujiale",
        //   day: "2014-09-11",
        //   msg:
        //     "Most widely adopted designing SaaS by interior designers worldwide.",
        //   imgUrl: 2
        // },
        // {
        //   name: "IceKredit",
        //   day: "2015-10-08",
        //   msg:
        //     'AI + Fintech for credit rating, and nominated as one of the "CB Insights Global Fintech 250" for two consecutive years.',
        //   imgUrl: 7
        // },
        // {
        //   name: "Baibu",
        //   day: "2017-04-24",
        //   msg: "The largest B2B fabrics trading platform in China.",
        //   imgUrl: 3
        // }
      ],
      hiddenPart: false,
    };
  },
  watch: {},
  created() {
    this.findAll();

    // apiService(
    //   HTTP_TYPE.POST,
    //   `${requestHttpName}/api/v1/portfolios/findAllTags`,
    //   {
    //     queryInfo: {
    //       language: this.locale,
    //       visible: true
    //     }
    //   },
    //   false
    // )
    // .then(res => {
    //   let alltags = res.data.result.data;
    //   let arr = [];
    //   if (this.locale === "zh") {
    //     for (let i in alltags) {
    //       switch (alltags[i]._id) {
    //         case "物联网、机器人、硬科技":
    //           arr[0] = alltags[i]._id;
    //           break;
    //         case "大数据、云计算":
    //           arr[1] = alltags[i]._id;
    //           break;
    //         case "金融科技":
    //           arr[2] = alltags[i]._id;
    //           break;
    //         case "企业互联网、B2B服务":
    //           arr[3] = alltags[i]._id;
    //           break;
    //         case "其他":
    //           arr[4] = alltags[i]._id;
    //           break;
    //       }
    //     }
    //   } else if (this.locale === "en") {
    //     for (let i in alltags) {
    //       switch (alltags[i]._id) {
    //         case "Internet of Things":
    //           arr[0] = alltags[i]._id;
    //           break;
    //         case "big data、cloud computing":
    //           arr[1] = alltags[i]._id;
    //           break;
    //         case "Financial technology":
    //           arr[2] = alltags[i]._id;
    //           break;
    //         case "Internet、B2Bserve":
    //           arr[3] = alltags[i]._id;
    //           break;
    //         case "other":
    //           arr[4] = alltags[i]._id;
    //           break;
    //       }
    //     }
    //   }
    //   this.allTags = arr;
    // })
    // .catch(err => {
    //   console.error(err);
    // });
    // apiService(
    //   HTTP_TYPE.POST,
    //   `${requestHttpName}/api/v1/portfolios/findStared`,
    //   {
    //     queryInfo: {
    //       language: this.locale,
    //       visible: true
    //     }
    //   },
    //   false
    // )
    //   .then(res => {
    //     if (res.data.status == "success") {
    //       this.allStared = res.data.result.data;
    //     } else {
    //       this.$message.error(res.data.error);
    //     }
    //   })
    //   .catch(err => {
    //     this.$message.error(err.status + err.statusText);
    //   });
  },
  mounted() {
    if (process.client) {
      AOS.init();
    }
    document.addEventListener("touchstart", function () {}, false);
    const browser = this.myBrowser();
    // new Vidage("#vidage");
    this.move();
    this.topRef = this.$refs.top;
    window.addEventListener("scroll", this.handleScroll);

    //解决IE里数字为0的问题
    if (process.browser) {
      var userAgent1 = navigator.userAgent; //取得浏览器的userAgent字符串
      var isIE1 = userAgent1.indexOf("Trident");
    }
    let sTop = 0;

    if (isIE1 > -1) {
      // ?
      如果是IE浏览器;

      let func1 = setInterval(() => {
        const screenHeight =
          document.documentElement.clientHeight + document.body.clientHeight;
        let topScroll =
          document.getElementsByClassName("third")[0].parentNode.offsetTop;
        let height =
          document.getElementsByClassName("third")[0].parentNode.offsetHeight;
        let deltaHeight = screenHeight - height;
        let bottomScroll =
          document.getElementById("title-box").offsetTop - deltaHeight;

        sTop = document.body.scrollTop + document.documentElement.scrollTop;
        if (sTop > bottomScroll && sTop < topScroll) {
          this.thirdAction();
        }
      }, 800);
    }
  },
  methods: {
    findAll() {
      apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/slideShow/findAll`,
        {
          queryInfo: {
            language: this.locale,
            visible: true,
            pageInfo: {
              currentPage: 1,
            },
          },
        }
      )
        .then((res) => {
          if (res.data.status == "success") {
            let contents = res.data.result.data.rows;
            let data = [];
            for (let i = 0; i < contents.length; i++) {
              this.pData.push({
                key: contents[i]._id,
                id: contents[i].id,
                name: contents[i].name,
                nameSM: contents[i].nameSM ? contents[i].nameSM : "",
                day: contents[i].day,
                msg: contents[i].msg,
                imgUrl: contents[i].imgUrl,
                sort: contents[i].sort,
              });
            }
            this.pData = this.pData.sort((a, b) => b.sort - a.sort);
            console.log(this.pData.map((item) => item.name));
          } else {
            this.$message.error(res.data.error);
          }
        })
        .catch((err) => {
          this.$message.error(err.status + err.statusText);
        });
    },
    myBrowser() {
      var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
      var isOpera = userAgent.indexOf("Opera") > -1;
      if (isOpera) {
        return "Opera";
      } //判断是否Opera浏览器
      if (userAgent.indexOf("Firefox") > -1) {
        return "FF";
      } //判断是否Firefox浏览器
      if (userAgent.indexOf("Chrome") > -1) {
        return "Chrome";
      }
      if (userAgent.indexOf("Safari") > -1) {
        return "Safari";
      } //判断是否Safari浏览器
      if (
        userAgent.indexOf("compatible") > -1 &&
        userAgent.indexOf("MSIE") > -1 &&
        !isOpera
      ) {
        return "IE";
      } //判断是否IE浏览器
    },
    onSlideStart(current) {
      this.swiperAnimate = true;
    },
    onSlideEnd(current) {
      this.swiperAnimate = false;
    },
    topmove(e) {
      // this.topoffsetX = (e.layerX / this.$refs.top.offsetWidth) * 100;
      this.topoffsetY = (e.layerY / this.$refs.top.offsetHeight) * 100;

      // this.secondMX = this.topoffsetX * 0.1 - 5;
      // this.secondMY = this.topoffsetY * 0.05 - 2.5;

      // this.thirdMX = this.topoffsetX * 0.55 - 3;
      // this.thirdMY = this.topoffsetY * 0.3 - 2;
    },

    handleScroll(e) {
      var scrollTop =
        window.pageYOffset ||
        document.documentElement.scrollTop ||
        document.body.scrollTop;
      this.topoffsetY = (scrollTop / this.topRef.offsetTop) * 90 - 50;
      this.secondMY = this.topoffsetY * 0.2 - 10;
      if (this.topRef.offsetTop <= scrollTop + 300) {
        this.thirdAction();
      }
    },
    move() {
      $(function () {
        var $this = $("#new");
        var scrollTimer;
        $this
          .hover(
            function () {
              clearInterval(scrollTimer);
            },
            function () {
              scrollTimer = setInterval(function () {
                scrollNews($this);
              }, 2000);
            }
          )
          .trigger("mouseleave");

        function scrollNews(obj) {
          var $self = obj.find(".starcom");
          var lineWidth = $self.find(".starcom-img:first").outerWidth();
          $self.animate(
            {
              marginLeft: -lineWidth + "px",
            },
            600,
            function () {
              $self
                .css({
                  marginLeft: 0,
                })
                .find(".starcom-img:first")
                .appendTo($self);
            }
          );
        }
      });
    },
    showMore() {
      this.hiddenPart = !this.hiddenPart;
    },
    thirdAction() {
      if (this.thirHasAction) return;
      this.thirHasAction = true;
      setTimeout(() => {
        let num = 0;
        let t = setInterval(() => {
          num += 10;
          this.cFirst = num;
          this.cSecond = num;
          if (num == 150) {
            clearInterval(t);
          }
        }, 30);
      }, 300);
      setTimeout(() => {
        let num = 0;
        let t = setInterval(() => {
          num++;
          this.cThird = num;
          if (num == 30) {
            clearInterval(t);
          }
        }, 30);
      }, 300);
      setTimeout(() => {
        let num = 0;
        let t = setInterval(() => {
          num++;
          this.cFourth = num;
          if (num == 10) {
            clearInterval(t);
          }
        }, 30);
      }, 300);
    },
  },
};
</script>
<style scoped lang="scss">
@import "~aos/src/sass/aos";

@media (min-width: 767px) {
  .btn_hover_plus {
    margin: 5.5vw auto 0;
    position: relative;
  }
  .head {
    overflow: hidden;
    // padding-top: 91px;
    .swiper-box {
      width: 100vw;
      height: calc(100vh - 90px);
      position: relative;
      background-color: #fff;
      overflow: hidden;
      margin-top: 90px;
      .inside {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 45vw;
        width: 55vw;
      }
      .inside-ani {
        width: 60vw;
        right: 45vw;
        transition-property: right, width;
        transition-delay: 0s, 1s;
        transition-duration: 1s, 2s;
      }
      .middle {
        position: absolute;
        width: 100vw;
        height: calc(100vh - 90px);
        z-index: 10;
        background: url("/index/second/2_cover.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center right 45vw;
        transition-duration: 1s;
        .msg {
          position: absolute;
          left: 55vw;
          background-color: #fff;
          height: calc((100vh - 90px) * 0.145);
          padding-top: 10vh;
          padding-left: 5vw;
          top: 0;
          width: 45vw;
        }
        .title {
          font-size: 2.125vw;
          color: #414141;
          letter-spacing: 1.24px;
        }
        .date {
          // opacity: 0.6;
          font-family: DINPro-Light;
          font-size: 4.2vw;
          color: rgba(9, 50, 100, 1);
          letter-spacing: 0;
          text-align: left;
        }
        .hr {
          width: 12.6vw;
          height: 3px;
          background: rgba(9, 50, 100, 0.31);
          border-radius: 3px;
          div {
            background: rgba(9, 50, 100, 0.63);
            box-shadow: 0 6px 27px 0 rgba(9, 50, 100, 0.41);
            border-radius: 3px;
            height: 100%;
            width: 0;
          }
          .hr-ani {
            width: 100%;
            transition: all 5s;
            -ms-transition: all 5s; /* IE 9 */
            -moz-transition: all 5s; /* Firefox */
            -webkit-transition: all 5s; /* Safari 和 Chrome */
            -o-transition: all 5s; /* Opera */
          }
        }
      }
      .middle-ani {
        background-position: center right 45vw;
        transition-duration: 1s;
      }
      .outside {
        position: absolute;
        right: 0;
        top: 33vh;
        z-index: 11;
        width: 30vw;
        font-size: 1.354vw;
        color: #414141;
        letter-spacing: 0;
        transition: all 1.2s;
        -ms-transition: all 1.2s; /* IE 9 */
        -moz-transition: all 1.2s; /* Firefox */
        -webkit-transition: all 1.2s; /* Safari 和 Chrome */
        -o-transition: all 1.2s; /* Opera */
        .title {
          font-size: 3.7vw;
          font-weight: 300;
          color: #414141;
          display: flex;
          align-items: baseline;
          .titleSm {
            font-size: 1.2vw;
            color: #414141;
          }
        }
        .date {
          font-weight: bold;
        }
        .text {
          color: #414141;
          font-size: 1.7vw;
          height: 20vh;
          line-height: 1.3;
          font-weight: 300;
          margin-top: 2vh;
        }
        .foot {
          letter-spacing: 0.89px;
          /* margin-top: 1.875vw; */
          color: #666;
        }
        .day {
          font-family: DINPro-Regular;
          color: rgba(9, 50, 100, 1);
          letter-spacing: 0.89px;
          font-size: 2.8vw;
          margin-top: 1.875vw;
          letter-spacing: -1px;
          margin-right: 1vw;
        }
      }

      .outside-ani {
        right: 10vw;
        transition: all 1.2s;
        -ms-transition: all 1.2s; /* IE 9 */
        -moz-transition: all 1.2s; /* Firefox */
        -webkit-transition: all 1.2s; /* Safari 和 Chrome */
        -o-transition: all 1.2s; /* Opera */
      }
    }
    .swiper-box /deep/ .carousel-caption {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      text-align: left;
    }
  }
  .lanheng {
    content: "";
    margin: 0 auto;
    width: 3.25rem;
    height: 5px;
    background: #093264;
  }

  .mo {
    display: none;
  }

  .top {
    position: relative;
    .first {
      width: 100vw;
      height: 30vw;
      background-image: url("http://image.lemonbox.com.cn/tmp/3_BG.png");
      background-repeat: no-repeat;
      background-size: 120% 120%;
      background-position: center center;
      transition: all 0.15s;
      -ms-transition: all 0.15s; /* IE 9 */
      -moz-transition: all 0.15s; /* Firefox */
      -webkit-transition: all 0.15s; /* Safari 和 Chrome */
      -o-transition: all 0.15s; /* Opera */
    }
    .second,
    .third {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.15s;
      -ms-transition: all 0.15s; /* IE 9 */
      -moz-transition: all 0.15s; /* Firefox */
      -webkit-transition: all 0.15s; /* Safari 和 Chrome */
      -o-transition: all 0.15s; /* Opera */
      .box {
        width: 25vw;
        height: 13vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        .title {
          font-size: 1.458vw;
          color: #ffffff;
          letter-spacing: 1px;
          text-align: center;
          flex-grow: 1;
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transition: all 0.15s;
          -ms-transition: all 0.15s; /* IE 9 */
          -moz-transition: all 0.15s; /* Firefox */
          -webkit-transition: all 0.15s; /* Safari 和 Chrome */
          -o-transition: all 0.15s; /* Opera */
        }

        .btn-bg {
          width: 14.63vw;
          height: 2.7vw;
          background: rgba(9, 50, 100, 0.63);
          box-shadow: 0 6px 27px 0 rgba(0, 46, 188, 0.41);
          border-radius: 26px;
          margin-bottom: 1vw;
        }
        .btn-msg {
          display: flex;
          align-items: baseline;
        }
        .s {
          font-size: 1.875vw;
          color: #ffffff;
          letter-spacing: 0.67px;
        }
        .m {
          font-size: 60px;
          color: #ffffff;
          letter-spacing: 0;
          text-align: center;
        }
        .l {
          font-size: 4vw;
          color: #ffffff;
          letter-spacing: 0;
          text-align: center;
          align-self: flex-start;
        }
        .xl {
          font-family: DINPro-Regular;
          font-size: 6.77vw;
          color: #ffffff;
          letter-spacing: 0;
          text-align: center;
        }
      }
    }
  }

  .title-box {
    text-align: center;
    margin: 6vw;
  }

  .inves {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // height: calc(100vh - 60px);
    .htitle {
      font-size: 3.3vw;
      color: #414141;
      letter-spacing: 1.2px;
      text-align: center;
    }
    .heng {
      font-size: 1.6vw;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0vh;
      color: #414141;
      font-weight: 300;
    }
  }
  .accordion {
    width: 78.125vw;
    height: 35.78vw;
    overflow: hidden;
    margin-bottom: 3vw;
    .item-box {
      // width: 116.67%;
      width: 100%;
      display: flex;
      height: 100%;
    }
    .item {
      position: relative;
      // margin-left: -14.35%;
      width: 50%;
      height: 100%;
      transition: all 0.5s;
      -ms-transition: all 0.5s; /* IE 9 */
      -moz-transition: all 0.5s; /* Firefox */
      -webkit-transition: all 0.5s; /* Safari 和 Chrome */
      -o-transition: all 0.5s; /* Opera */
    }
    .item:first-child {
      margin-left: 0;
    }
    .item-bg {
      width: 100%;
      height: 100%;
    }
    .mark {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.42);
    }
    .msg {
      position: absolute;
      left: 3vw;
      top: 3vw;
      display: flex;
      flex-direction: column;
      transition: all 0.5s;
      -ms-transition: all 0.5s; /* IE 9 */
      -moz-transition: all 0.5s; /* Firefox */
      -webkit-transition: all 0.5s; /* Safari 和 Chrome */
      -o-transition: all 0.5s; /* Opera */
      .title {
        margin-bottom: 4vh;
      }
      .title_there_box {
        display: flex;
        align-items: flex-end;
        height: 20vh;
        margin-bottom: 2vh;
        .title_there_e {
          font-size: 4vw;
        }
      }
      .title_four {
        cursor: pointer;
        display: inline-block;
        padding: 0px 5px 0px 5px;
      }
      .title_four:hover {
        background-color: white;
        color: rgba(9, 50, 100, 1);
        box-shadow: 0 8px 16px 0 rgba(9, 50, 100, 0.3);
        border-radius: 2vw;
        transition: all 0.5s;
        -ms-transition: all 0.5s; /* IE 9 */
        -moz-transition: all 0.5s; /* Firefox */
        -webkit-transition: all 0.5s; /* Safari 和 Chrome */
        -o-transition: all 0.5s; /* Opera */
        padding: 0px 5px 0px 5px;
      }
      .hr {
        width: 5vw;
        height: 2px;
        background-color: #fff;
      }
    }
    .know-btn {
      background: rgba(255, 255, 255, 0.83);
      box-shadow: 0 8px 16px 0 rgba(9, 50, 100, 0.3);
      border-radius: 2vw;
      font-size: 1.35vw;
      color: rgba(9, 50, 100, 1);
      letter-spacing: 1.6px;
      text-align: center;
      width: 11vw;
      line-height: 3.1vw;
      margin-bottom: -5vw;
      margin-top: 3vw;
      transition: all 0.5s;
      -ms-transition: all 0.5s; /* IE 9 */
      -moz-transition: all 0.5s; /* Firefox */
      -webkit-transition: all 0.5s; /* Safari 和 Chrome */
      -o-transition: all 0.5s; /* Opera */
      cursor: pointer;
      position: absolute;
      top: 34vw;
      left: 31vw;
    }
    .item:hover .mark {
      background: rgba(9, 50, 100, 0.55);
      box-shadow: 0 3px 41px 0 rgba(9, 50, 100, 0.55);
    }
    .item:hover + .item {
      margin-left: 0;
    }
    .item:hover .know-btn {
      top: 27vw;
    }
  }

  .exccom {
    font-size: 3.3vw;
    color: #414141;
    letter-spacing: 1.2px;
    text-align: center;
  }
  .encom {
    font-size: 0.6vw;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0vw;
    color: #999999;
  }
  .ant-carousel {
    display: none;
  }
  .starcom-box {
    width: 90.2vw;
    overflow-x: hidden;
    padding-bottom: 6vw;
    margin-top: -3vw;
    .starcom {
      display: flex;
      align-items: center;
      .starcom-img {
        height: 10vh;
        padding: 0 3vw;
        max-width: auto;
      }
    }
    .starcom /deep/ .img-fluid {
      max-width: auto;
    }
  }
  .starcom-box-m {
    display: none;
  }

  // en
  .page-e {
    .top .second .box .btn-bg {
      width: 20vw;
    }
    .top .third .box .l-e {
      position: absolute;
      left: 14vw;
    }
  }
}

@media (max-width: 767px) {
  .btn_hover_plus {
    position: relative;
  }
  .head {
    overflow: hidden;
    .swiper-box {
      width: 100vw;
      height: 237.6vw;
      position: relative;
      background-color: #fff;
      overflow: hidden;
      margin-top: 7.5vh;
      .inside {
        position: absolute;
        top: 42vw;
        transform: translateY(-50%);
        right: 8.33vw;
        width: 87vw;
      }
      .inside-ani {
        width: 92vw;
        right: 13.3vw;
        transition-property: right, width;
        transition-delay: 0s, 1s;
        transition-duration: 1s, 2s;
      }
      .middle {
        position: absolute;
        width: 100vw;
        height: 88vw;
        z-index: 10;
        background: url(/index/second/2_cover.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center right 8.33vw;
        transition-duration: 1s;
        .msg {
          position: absolute;
          left: 0vw;
          background-color: #fff;
          top: 88vw;
          width: 100vw;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .title {
          font-size: 8vw;
          color: #414141;
          letter-spacing: 1.24px;
          margin-bottom: 3vw;
        }
        .date {
          // opacity: 0.6;
          font-family: DINPro-Light;
          font-size: 16vw;
          color: rgba(9, 50, 100, 1);
          letter-spacing: 0;
          text-align: left;
        }
        .hr {
          width: 56vw;
          height: 3px;
          background: rgba(9, 50, 100, 0.31);
          border-radius: 3px;
          div {
            background: rgba(9, 50, 100, 0.63);
            box-shadow: 0 6px 27px 0 rgba(9, 50, 100, 0.41);
            border-radius: 3px;
            height: 100%;
            width: 0;
          }
          .hr-ani {
            width: 100%;
            transition: all 5s;
            -ms-transition: all 5s; /* IE 9 */
            -moz-transition: all 5s; /* Firefox */
            -webkit-transition: all 5s; /* Safari 和 Chrome */
            -o-transition: all 5s; /* Opera */
          }
        }
      }
      .middle::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100vw;
        width: 13.3vw;
        background-color: #fff;
      }
      .middle-ani {
        background-position: center right 13.3vw;
        transition-duration: 1s;
      }
      .outside {
        position: absolute;
        right: -20vw;
        top: 140vw;
        z-index: 11;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 1.2s;
        -ms-transition: all 1.2s; /* IE 9 */
        -moz-transition: all 1.2s; /* Firefox */
        -webkit-transition: all 1.2s; /* Safari 和 Chrome */
        -o-transition: all 1.2s; /* Opera */
        .title {
          font-size: 8.8vw;
          font-weight: 300;
          color: #414141;
        }
        .titleSm {
          font-size: 4vw;
          color: #414141;
        }
        .date {
          font-weight: bold;
        }
        .text {
          color: #414141;
          font-size: 5.3vw;
          height: 30vw;
          line-height: 1.6;
          margin: 5vw 10vw;
          display: flex;
          align-items: center;
          text-align: center;
        }
        .foot {
          letter-spacing: 0.89px;
          color: #666;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 4.8vw;
        }
        .day {
          font-family: DINPro-Regular;
          color: rgba(9, 50, 100, 1);
          letter-spacing: 0.89px;
          font-size: 10.67vw;
          margin-top: 1.875vw;
          letter-spacing: -1px;
          margin-right: 1vw;
        }
      }

      .outside-ani {
        right: 0;
        transition: all 1.2s;
        -ms-transition: all 1.2s; /* IE 9 */
        -moz-transition: all 1.2s; /* Firefox */
        -webkit-transition: all 1.2s; /* Safari 和 Chrome */
        -o-transition: all 1.2s; /* Opera */
      }
    }
    .swiper-box /deep/ .carousel-caption {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      text-align: left;
    }
  }
  .lanheng {
    content: "";
    margin: 0 auto;
    width: 3.25rem;
    height: 5px;
    background: #093264;
  }

  .mo {
    display: none;
  }

  .top {
    position: relative;
    .first {
      width: 100vw;
      height: 190.267vw;
      background-image: url("http://image.lemonbox.com.cn/tmp/3_BG.png");
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center center;
      transition: all 0.15s;
      -ms-transition: all 0.15s; /* IE 9 */
      -moz-transition: all 0.15s; /* Firefox */
      -webkit-transition: all 0.15s; /* Safari 和 Chrome */
      -o-transition: all 0.15s; /* Opera */
    }
    .second,
    .third {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all 0.15s;
      -ms-transition: all 0.15s; /* IE 9 */
      -moz-transition: all 0.15s; /* Firefox */
      -webkit-transition: all 0.15s; /* Safari 和 Chrome */
      -o-transition: all 0.15s; /* Opera */
      .box {
        width: 50vw;
        height: 35vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        margin: 10vw;
        .title {
          font-size: 4.267vw;
          color: #ffffff;
          letter-spacing: 1px;
          text-align: center;
          flex-grow: 1;
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transition: all 0.15s;
          -ms-transition: all 0.15s; /* IE 9 */
          -moz-transition: all 0.15s; /* Firefox */
          -webkit-transition: all 0.15s; /* Safari 和 Chrome */
          -o-transition: all 0.15s; /* Opera */
        }

        .btn-bg {
          width: 37.467vw;
          height: 6.933vw;
          background: rgba(9, 50, 100, 0.63);
          box-shadow: 0 6px 27px 0 rgba(0, 46, 188, 0.41);
          border-radius: 26px;
          margin-bottom: 1vw;
        }
        .btn-msg {
          display: flex;
          align-items: baseline;
        }
        .s {
          font-size: 4.8vw;
          color: #ffffff;
          letter-spacing: 0.67px;
        }
        .m {
          font-size: 10vw;
          color: #ffffff;
          letter-spacing: 0;
          text-align: center;
          margin-right: -6vw;
        }
        .l {
          font-size: 10vw;
          color: #ffffff;
          letter-spacing: 0;
          text-align: center;
          align-self: flex-start;
        }
        .xl {
          font-family: DINPro-Regular;
          font-size: 17.33vw;
          color: #ffffff;
          letter-spacing: 0;
          text-align: center;
        }
      }
    }
  }

  .title-box {
    text-align: center;
    margin: 13vw;
  }

  .inves {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 16vw;
    .htitle {
      font-size: 3.3vw;
      color: #414141;
      letter-spacing: 1.2px;
      text-align: center;
    }
    .heng {
      font-size: 1.6vw;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0vh;
      color: #414141;
      font-weight: 300;
    }
  }
  .accordion {
    width: 100vw;
    overflow: hidden;
    margin-bottom: 3vw;
    .item {
      position: relative;
      width: 100%;
      height: 100%;
      transition: all 0.5s;
      -ms-transition: all 0.5s; /* IE 9 */
      -moz-transition: all 0.5s; /* Firefox */
      -webkit-transition: all 0.5s; /* Safari 和 Chrome */
      -o-transition: all 0.5s; /* Opera */
    }
    .item:first-child {
      margin-left: 0;
    }
    .item-bg {
      width: 100%;
      height: 100%;
    }
    .mark {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.3);
    }
    .msg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.5s;
      -ms-transition: all 0.5s; /* IE 9 */
      -moz-transition: all 0.5s; /* Firefox */
      -webkit-transition: all 0.5s; /* Safari 和 Chrome */
      -o-transition: all 0.5s; /* Opera */
      .title_there_box {
        display: flex;
        margin-bottom: 2vh;
        .title_there_e {
          font-size: 8vw;
        }
      }
      .title_four {
        cursor: pointer;
        display: inline-block;
        padding: 0px 5px 0px 5px;
      }
      .title_four:active {
        background-color: white;
        color: rgba(9, 50, 100, 1);
        box-shadow: 0 8px 16px 0 rgba(9, 50, 100, 0.3);
        border-radius: 2vw;
        transition: all 0.5s;
        -ms-transition: all 0.5s; /* IE 9 */
        -moz-transition: all 0.5s; /* Firefox */
        -webkit-transition: all 0.5s; /* Safari 和 Chrome */
        -o-transition: all 0.5s; /* Opera */
        padding: 0px 5px 0px 5px;
      }
      .hr {
        width: 5vw;
        height: 2px;
        background-color: #fff;
      }
    }
    .know-btn {
      background: rgba(255, 255, 255, 0.83);
      box-shadow: 0 8px 16px 0 rgba(9, 50, 100, 0.3);
      border-radius: 2vw;
      font-size: 1.35vw;
      color: rgba(9, 50, 100, 1);
      letter-spacing: 1.6px;
      text-align: center;
      width: 11vw;
      line-height: 3.1vw;
      margin-bottom: -5vw;
      margin-top: 3vw;
      transition: all 0.5s;
      -ms-transition: all 0.5s; /* IE 9 */
      -moz-transition: all 0.5s; /* Firefox */
      -webkit-transition: all 0.5s; /* Safari 和 Chrome */
      -o-transition: all 0.5s; /* Opera */
      cursor: pointer;
      position: absolute;
      top: 34vw;
      left: 31vw;
    }
    .item:active .mark {
      background: rgba(9, 50, 100, 0.55);
      box-shadow: 0 3px 41px 0 rgba(9, 50, 100, 0.55);
    }
    .item:active + .item {
      margin-left: 0;
    }
    .item:active .know-btn {
      top: 27vw;
    }
  }

  .exccom {
    font-size: 3.3vw;
    color: #414141;
    letter-spacing: 1.2px;
    text-align: center;
  }
  .encom {
    font-size: 0.6vw;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0vw;
    color: #999999;
  }
  .ant-carousel {
    display: none;
  }
  .starcom-box {
    overflow-y: hidden;
    transition: 0.3s;
    .starcom {
      display: grid;
      grid-template-columns: repeat(2, 40vw);
      align-items: center;
      justify-content: center;
      .starcom-img {
        width: 30vw;
        margin: 6vw auto;
      }
    }
    .starcom /deep/ .img-fluid {
      max-width: auto;
    }
  }
  .starcom-box-hide {
    height: 155vw;
  }
  .starcom-box-p {
    display: none;
  }
  // en
  .page-e {
    .top .second .box .btn-bg {
      width: 52vw;
    }
    .top .third .box .l-e {
      position: absolute;
      left: 29vw;
    }
  }
}
</style>
