<template functional>
  <a-sub-menu :key="props.menuInfo.key">
    <span slot="title">
      <!-- <a-icon :type="props.menuInfo.icon" /> -->
      <nuxt-link :to="props.menuInfo.url" v-if="props.menuInfo.url" class="tag" />
      <span>{{ props.menuInfo.title }}</span>
    </span>
    <template v-for="item in props.menuInfo.children">
      <a-menu-item v-if="!item.children" :key="item.key">
        <nuxt-link :to="item.url" v-if="item.url" />
        <!-- <a-icon :type="item.icon" v-if="item.icon" /> -->
        <span>{{ item.title }}</span>
      </a-menu-item>
      <sub-menu v-else :key="item.key" :menu-info="item" />
    </template>
  </a-sub-menu>
</template>
<script>
export default {
  props: ["menuInfo"]
};
</script>

<style scoped>
.tag::before {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
}
</style>
