<template>
  <div :class="$i18n.locale === 'zh' ? '' : 'page-e'">
    <div class="team-box">
      <div class="title-box">
        <div class="title_one" style="margin-bottom:1rem">
          {{
            $i18n.locale === "zh"
              ? "创业成长 伴你同行"
              : "Entrepreneurship Companion"
          }}
        </div>
        <div class="heng"></div>
      </div>
      <div class="title_two p-none" style="margin-top:1.5rem" :class="[$i18n.locale === 'zh'?'':'title_two_e']" v-html=' $i18n.locale === "zh"? "云启团队拥有丰富的投资、创业、技术经验和行业背景，是To B创业者长期的陪跑者": "Yunqi builds a diverse team with rich experience<br/>in investment, entrepreneurship and technology development.<br/>We would like to support and partner with entrepreneurs<br/>from day one."'>
      </div>
      <div class="title_two m-none" style="margin-top:1.5rem" :class="[$i18n.locale === 'zh'?'':'title_two_e']" v-html=' $i18n.locale === "zh"? "云启团队拥有丰富的投资、创业、技术经验和行业背景，是To B创业者长期的陪跑者": "Yunqi builds a diverse team with rich experience in investment, entrepreneurship and technology development. We would like to support and partner with entrepreneurs from day one."'>
      </div>
      <div class="team-content">
        <div class="b-box">
          <img class="logo-img" src="http://image.lemonbox.com.cn/tmp/index/shengtai/logo_group.png" />
          <b-img class="logo-img-m" fluid src="http://image.lemonbox.com.cn/tmp/index/shengtai/logo_group-m.png"></b-img>
          <div class="blue-box1"></div>
          <div class="blue-box2"></div>
          <div class="blue-box3"></div>
          <div class="blue-box4"></div>
        </div>

        <!-- <button @click="divmove">click</button> -->
      </div>
      <nuxt-link :to="$i18n.path('team/teamShow')">
        <div class="btn_hover_plus">
          {{ $i18n.locale === "zh" ? "团队成员" : "Team" }}
        </div>
      </nuxt-link>
    </div>
    <!-- <div class="content">
      <div class="team-msg">
        <div class="bigTitle">创业者的同行者</div>
        <div
          class="smallTitle"
        >云启团队拥有丰富的投资、创业、技术经验和行业背景，来自IDG、GGV、谷歌、微软亚洲研究院、百度、富士康集团、施耐德电气、IBM、BDA等，是创业者成长之路上值得信赖的同行者。</div>
        <div>
          <nuxt-link :to="{path:'/'+this.locale+'/team/teamShow'}" style="display:inline-block">
            <b-img src="@/assets/img/women.png" class="women"></b-img>
          </nuxt-link>
        </div>
      </div>
    </div>
    <div class="kongbai"></div>-->
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
// import { move } from "@/assets/js/move.js";
export default {
  layout: "none",
  data() {
    return {
      locale: this.$i18n.locale
    };
  },
  computed: {},
  watch: {
    locale() {}
  },
  mounted() {
    // move()
  },
  methods: {
    // move()
    divmove: function() {
      move();
    }
  }
};
</script>

<style scoped lang="scss">
/* pc */

.heng {
  content: "";
  margin: 0 auto;
  width: 3.25rem;
  height: 5px;
  background: #093264;
}

.team-msg {
  position: absolute;
  left: 61vw;
  right: 9vw;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bigTitle {
  font-size: 4vw;
  font-weight: bold;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #222222;
}
.smallTitle {
  font-size: 0.8vw;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.4vw;
  letter-spacing: 0vw;
  color: #222222;
  margin: 5vh 0 10vh;
}
.teamIntro {
  font-size: 1vw;
  font-weight: bold;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #ffffff;
}
.arrow {
  display: inline-block;
  position: absolute;
  left: 5.8vw;
  background-color: #ffffff;
  width: 1.1vw;
  height: 0.1vw;
}
.women {
  width: 8.1vw;
  height: 3.5vw;
}
@media (min-width: 767px) {
  .team-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f7f7f7;
    padding-bottom: 6vw;
    .title-box {
      text-align: center;
      margin-top: 5vw;
      .htitle {
        font-size: 3.3vw;
        color: #414141;
        letter-spacing: 1.2px;
        text-align: center;
      }
    }
    .msg {
      font-size: 1.6vw;
      color: #414141;
      font-weight: 300;
      margin-top: -4vw;
    }

    .aboutus-btn {
      width: 19.53vw;
      line-height: 4.167vw;
      text-align: center;
      background: rgba(70, 104, 160, 1);
      border: 4px solid rgba(70, 104, 160, 1);
      box-shadow: 0 8px 16px 0 rgba(0, 46, 188, 0.3);
      border-radius: 3vw;
      font-size: 1.46vw;
      color: #ffffff;
      cursor: pointer;
      transition: 0.3s;
    }
    .aboutus-btn:hover {
      background: #fff;
      color: #000;
    }
  }
  .logo-img {
    position: absolute;
    width: 78.125vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .logo-img-m {
    display: none;
  }
  .team-content {
    width: 100%;
    height: 35.78vw;
    // height: 694px;
    margin: 3vw 0 2vw;

    .logo-bg {
      width: 100%;
    }

    .b-box {
      width: 100%;
      height: 35.78vw;
      overflow: hidden;
      position: relative;
      background: #f7f7f7;

      .blue-box1 {
        background-image: url("~@/assets/img/move/bulebar02.png");
        background-repeat: no-repeat;
        background-position: left;
        padding-top: 12%;
        background-size: contain;
        position: relative;
        right: -85%;
        animation: move1 35s linear infinite;
        @keyframes move1 {
          0% {
            right: -85%;
          }
          100% {
            // transition: 20s;
            right: 100%;
          }
        }
      }
      .blue-box2 {
        background-image: url("~@/assets/img/move/bulebar02.png");
        background-repeat: no-repeat;
        background-position: right;
        padding-top: 8%;
        background-size: contain;
        margin-top: -5%;
        margin-bottom: 3%;
        position: relative;
        right: -100%;
        animation: move2 20s linear infinite;
        // animation-delay: 4s;
        @keyframes move2 {
          0% {
            right: -100%;
          }
          100% {
            right: 100%;
          }
        }
      }
      .blue-box3 {
        background-image: url("~@/assets/img/move/bulebar01.png");
        background-repeat: no-repeat;
        padding-top: 12%;
        background-size: contain;
        position: relative;
        animation: move3 30s linear infinite;
        // animation-delay: 2s;
        left: -100%;
        @keyframes move3 {
          0% {
            left: -100%;
          }
          100% {
            left: 100%;
          }
        }
      }
      .blue-box4 {
        background-image: url("~@/assets/img/move/bulebar01.png");
        background-repeat: no-repeat;
        padding-top: 8%;
        background-size: contain;
        margin-top: -5%;
        left: -100%;
        position: relative;
        animation: move4 25s linear infinite;
        // animation-delay: 6s;
        @keyframes move4 {
          0% {
            left: -100%;
          }
          100% {
            left: 100%;
          }
        }
      }
    }
  }
  // en
  .page-e{
    .title_two{
      text-align: left;
    }
  }
}
/* mobile */
@media (max-width: 768px) {
  .team-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f7f7f7;
    padding-bottom: 13vw;
    .title-box {
      text-align: center;
      margin-top: 12vw;
      .htitle {
        font-size: 3.3vw;
        color: #414141;
        letter-spacing: 1.2px;
        text-align: center;
      }
    }
    .msg {
      font-size: 1.6vw;
      color: #414141;
      font-weight: 300;
      margin-top: -4vw;
    }

    .aboutus-btn {
      width: 19.53vw;
      line-height: 4.167vw;
      text-align: center;
      background: rgba(70, 104, 160, 1);
      border: 4px solid rgba(70, 104, 160, 1);
      box-shadow: 0 8px 16px 0 rgba(0, 46, 188, 0.3);
      border-radius: 3vw;
      font-size: 1.46vw;
      color: #ffffff;
      cursor: pointer;
      transition: 0.3s;
    }
    .aboutus-btn:active {
      background: #fff;
      color: #000;
    }
  }
  .title_two {
    width: 80vw;
  }
  .title_two_e{
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .logo-img {
    display: none;
  }
  .logo-img-m {
    width: 78.125vw;
    height: 102.65vw;
  }
  .team-content {
    width: 100%;
    margin: 3vw 0 2vw;
    overflow: hidden;
    .logo-bg {
      width: 100%;
    }

    .b-box {
      width: 100vw;
      position: relative;
      background: #f7f7f7;
      display: flex;
      justify-content: center;
      margin: 10vw 0;
      .blue-box1 {
        background-image: url("~@/assets/img/move/bulebar02.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: auto 100%;
        position: absolute;
        right: -85%;
        animation: move1 35s linear infinite;
        width: 100vw;
        height: 15vh;
        z-index: 11;
        top: 0vh;
        @keyframes move1 {
          0% {
            right: -85%;
          }
          100% {
            // transition: 20s;
            right: 100%;
          }
        }
      }
      .blue-box2 {
        background-image: url("~@/assets/img/move/bulebar02.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: auto 100%;
        position: absolute;
        right: -100%;
        animation: move2 20s linear infinite 10s;
        width: 100vw;
        height: 15vh;
        z-index: 12;
        top: 29vh;
        @keyframes move2 {
          0% {
            right: -100%;
          }
          100% {
            right: 100%;
          }
        }
      }
      .blue-box3 {
        background-image: url("~@/assets/img/move/bulebar01.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 100%;
        position: absolute;
        left: -100%;
        animation: move3 35s linear infinite;
        width: 100vw;
        height: 15vh;
        z-index: 12;
        top: 20vh;
        @keyframes move3 {
          0% {
            left: -100%;
          }
          100% {
            left: 100%;
          }
        }
      }
      .blue-box4 {
        background-image: url("~@/assets/img/move/bulebar01.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 100%;
        position: absolute;
        left: -100%;
        animation: move3 20s linear infinite 10s;
        width: 100vw;
        height: 15vh;
        z-index: 12;
        top: 43vh;
        @keyframes move4 {
          0% {
            left: -100%;
          }
          100% {
            left: 100%;
          }
        }
      }
    }
  }
  .title-one {
    margin-top: 10vw;
  }
  .page-e {
    .team-box .title-box{
    width: 70vw;
    word-break: break-word;
  }
  }
}
</style>
