<template>
  <div :class="$i18n.locale === 'zh' ? '' : 'page-e'">
    <div class="tinktank-box">
      <div class="title-box">
        <div class="title_one" style="margin-bottom:1rem">
          {{
            $i18n.locale === "zh" ? "科技互联 共建生态" : "Investment Ecosystem"
          }}
        </div>
        <div class="heng"></div>
        <div
          class="title_two"
          style="margin-top:1.5rem"
          :class="[$i18n.locale === 'zh' ? '' : 'title_two_e']"
          v-html="
            $i18n.locale === 'zh'
              ? ''
              : 'Co-built by top-notched academic and industry peers.'
          "
        ></div>
      </div>
      <div class="swiper-box p-none">
        <b-carousel class="swiper-items" ref="myCarousel">
           <b-carousel-slide v-for="(item,index) in homePageLogo" v-bind:key="index" class="item" :img-src="item.imgUrl">

          </b-carousel-slide>
          <!-- <b-carousel-slide
            class="item"
            :img-src="
              'http://image.lemonbox.com.cn/tmp/index/shengtai/1' +
                ($i18n.locale === 'zh' ? '' : '-English') +
                '.jpg'
            "
          >
          </b-carousel-slide>
          <b-carousel-slide
            class="item"
            :img-src="
              'http://image.lemonbox.com.cn/tmp/index/shengtai/2' +
                ($i18n.locale === 'zh' ? '' : '-English') +
                '.jpg'
            "
          >
          </b-carousel-slide>
          <b-carousel-slide
            class="item"
            :img-src="
              'http://image.lemonbox.com.cn/tmp/index/shengtai/3' +
                ($i18n.locale === 'zh' ? '' : '-English') +
                '.jpg'
            "
          >
          </b-carousel-slide> -->
        </b-carousel>
        <div class="icon-box">
          <div class="icon" v-on:click="prev">
            <b-img class="icon-bg" src="@/assets/img/left.png" fluid></b-img>
          </div>
          <div class="icon" v-on:click="next">
            <b-img class="icon-bg" src="@/assets/img/right.png" fluid></b-img>
          </div>
        </div>
      </div>
      <div class="swiper-box m-none">
        <b-carousel class="swiper-item">
          <b-carousel-slide v-for="(item,index) in homePageLogo" v-bind:key="index" class="item" :img-src="item.imgUrl_m">

          </b-carousel-slide>
          <!-- <b-carousel-slide
            class="item"
            :img-src="
              'http://image.lemonbox.com.cn/tmp/index/shengtai/1' +
                ($i18n.locale === 'zh' ? '' : '-English') +
                '-m.jpg'
            "
          >
          </b-carousel-slide>
          <b-carousel-slide
            class="item"
            :img-src="
              'http://image.lemonbox.com.cn/tmp/index/shengtai/2' +
                ($i18n.locale === 'zh' ? '' : '-English') +
                '-m.jpg'
            "
          >
          </b-carousel-slide>
          <b-carousel-slide
            class="item"
            :img-src="
              'http://image.lemonbox.com.cn/tmp/index/shengtai/3' +
                ($i18n.locale === 'zh' ? '' : '-English') +
                '-m.jpg'
            "
          >
          </b-carousel-slide> -->
        </b-carousel>
      </div>
      <nuxt-link :to="$i18n.path('thinkTank/more')">
        <div class="btn_hover_plus" style="margin: 6vw auto;">
          {{ $i18n.locale === "zh" ? "查看更多" : "More" }}
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { apiService, HTTP_TYPE } from "@/services/api";
import { YOU_ZAN, BASE_URL, requestHttpName } from "@/services/config";
import { mapState, mapActions } from "vuex";
import { formatDate, HTMLEnCode, HTMLDeCode } from "@/services/util";
export default {
  layout: "none",
  data() {
    return {
      homePageLogo:[],
      locale: this.$i18n.locale,
      moreInfo: false,
      content: [],
      current: 1,
      size: 3,
      allStared: ["1", "2", "3"],
      tagChoose: [
        {
          class: "zhiku",
          chooseName: "云启智库"
        },
        {
          class: "celue",
          chooseName: "融资策略"
        },
        {
          class: "neixun",
          chooseName: "云启内训"
        },
        {
          class: "jiazu",
          chooseName: "云启家族"
        },
        {
          class: "gongguan",
          chooseName: "品牌公关"
        },
        {
          class: "BBQ",
          chooseName: "云启BBQ"
        },
        {
          class: "ziben",
          chooseName: "人力资本"
        },
        {
          class: "meihui",
          chooseName: "云媒汇"
        },
        {
          class: "guanli",
          chooseName: "运营管理"
        }
      ]
    };
  },
  created() {
    this.getAllHomePageLogo();
  },
  mounted() {
    document.addEventListener("touchstart", function() {}, false);
    this.getTank(this.locale, true, 1, 3);
  },
  computed: {},
  watch: {
    locale() {
      this.getTank(this.locale, true, 1, 3);
    }
  },
  methods: {
    getAllHomePageLogo(){
      apiService(HTTP_TYPE.POST, `${requestHttpName}/api/v1/common/home_page_logo/findAll`, {
        "queryInfo": {
            "language": this.locale,
            "visible": true,
            "pageInfo": {
                "currentPage": 1,
                "pageSize":99999
            }
        }
    })
        .then(res => {
          if (res.data.status == "success") {
            let contents = res.data.result.data.rows;
            let data = [];
            for (let i = 0; i < contents.length; i++) {
              data.push({
                sort: contents[i].sort,
                imgUrl: contents[i].logo_url,
                imgUrl_m : contents[i].logo_url_m
              });
            }
            this.homePageLogo = data;
          } else {
            this.$message.error(res.data.error);
          }
        })
        .catch(err => {
          console.log(err)
          this.$message.error(err.status + err.statusText);
        });
    },
    // 轮播前一个
    prev() {
      this.$refs.myCarousel.prev();
    },

    next() {
      this.$refs.myCarousel.next();
    },
    async getTank(language, visible, currentPage, pageSize) {
      let that = this;
      let param = {
        queryInfo: {
          language: language, //语言
          visible: visible, //option, 可见文章，不可见文章，不传返回全部文章
          tag: that.tagToEn(this.locale),
          pageInfo: {
            currentPage: currentPage, //
            pageSize: pageSize //可选，默认为6
          }
        }
      };
      // try {
      //   let res = await apiService(
      //     HTTP_TYPE.POST,
      //     `${requestHttpName}/api/v1/article/findByTag`,
      //     param,
      //     false
      //   );
      //   if (res.data.status == "success") {
      //     let tmpData = res.data.result.data.rows;
      //     this.content = tmpData.map(item => ({
      //       url: "/" + this.locale + "/thinkTank/" + item.id,
      //       id: item.id,
      //       src: that.wwwOrNot(item.picture),
      //       title1: item.title,
      //       time: formatDate(item.update_time)
      //     }));
      //   } else {
      //     this.$message.error(res.data.error);
      //   }
      // } catch (err) {
      //   this.$message.error(err.status + err.statusText);
      // }
    },
    tagToEn(language) {
      if (language == "en") {
        return "NEWS";
      }
      if (language == "zh") {
        return "新闻";
      }
    },
    wwwOrNot(str) {
      if (str.substring(0, 4) == "http") {
        return str;
      } else {
        return "http://www.yunqi.vc" + str;
      }
    }
  }
};
</script>

<style scoped lang="scss">
// pc
@media (min-width: 767px) {
  .heng {
    content: "";
    margin: 0 auto;
    width: 3.25rem;
    height: 5px;
    background: #093264;
  }
  .btn_hover {
    border: 2px solid #093264;
    background-color: #093264;
    color: #fff;
    width: 15vw;
    text-align: center;
    font-size: 1.6vw;
    letter-spacing: 0.5vw;
    border-radius: 2vw;
    line-height: 2;
    margin: 6vw auto;
    transition: 0.5s;
    cursor: pointer;
  }
  .btn_hover:hover {
    color: rgba(9, 50, 100, 1);
    background-color: #fff;
  }
  .tinktank-box {
    .title-box {
      text-align: center;
      margin: 4vw;
      .htitle {
        font-size: 3.3vw;
        color: #414141;
        letter-spacing: 1.2px;
        text-align: center;
      }
    }
    .swiper-box {
      width: 100vw;
      height: 42.1875vw;
      position: relative;
      overflow: hidden;

      .icon-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        cursor: pointer;
        .icon {
          padding: 2vw;
          margin: 2vw;
          border-radius: 4vw;
          .icon-bg {
            width: 3.64vw;
          }
        }
        .icon:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      .mark {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }
      .swiper-item {
        width: 100vw;
        height: calc(100vh - 90px);
        position: relative;
      }
    }
    .see-btn {
      margin: 5.7vw auto;
      width: 19.53vw;
      line-height: 4.167vw;
      background: rgba(0, 58, 180, 0.68);
      box-shadow: 0 8px 16px 0 rgba(0, 46, 188, 0.3);
      border-radius: 5vw;
      text-align: center;
      font-size: 1.458vw;
      color: #ffffff;
      cursor: pointer;
    }
  }
  .swiper-item-m {
    display: none;
  }
  // en
  .page-e {
    .tinktank-box .title-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
// mobie
@media (max-width: 767px) {
  .heng {
    content: "";
    margin: 0 auto;
    width: 3.25rem;
    height: 5px;
    background: #093264;
  }
  .btn_hover {
    border: 2px solid #093264;
    background-color: #093264;
    color: #fff;
    width: 15vw;
    text-align: center;
    font-size: 1.6vw;
    letter-spacing: 0.5vw;
    border-radius: 2vw;
    line-height: 2;
    margin: 6vw auto;
    transition: 0.5s;
    cursor: pointer;
  }
  .btn_hover:active {
    color: rgba(9, 50, 100, 1);
    background-color: #fff;
  }
  .tinktank-box {
    .title-box {
      text-align: center;
      margin: 4vw 4vw 1.5rem;
      .htitle {
        font-size: 3.3vw;
        color: #414141;
        letter-spacing: 1.2px;
        text-align: center;
      }
    }
    .swiper-box {
      width: 100vw;
      position: relative;
      overflow: hidden;
      .icon-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        cursor: pointer;
        .icon {
          padding: 2vw;
          margin: 2vw;
          border-radius: 4vw;
          .icon-bg {
            width: 3.64vw;
          }
        }
        .icon:active {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      .mark {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }
      .swiper-item {
        width: 100vw;
        position: relative;
      }
    }
    .see-btn {
      margin: 5.7vw auto;
      width: 19.53vw;
      line-height: 4.167vw;
      background: rgba(0, 58, 180, 0.68);
      box-shadow: 0 8px 16px 0 rgba(0, 46, 188, 0.3);
      border-radius: 5vw;
      text-align: center;
      font-size: 1.458vw;
      color: #ffffff;
      cursor: pointer;
    }
  }
  .title_one {
    margin-top: 16vw;
  }
  .swiper-item-p {
    display: none;
  }
}
</style>
