<template>
  <div style="background:#F7F7F7">
    <Header />
    <div class="box">
      <nuxt-link :to="$i18n.path('thinkTank/more')" class="box-title"
        ><b-img
          src="/news/left_arrow.png"
          fluid
          class="box-title-img"
        ></b-img
        >全部动态</nuxt-link
      >
      <div class="content">
        <div class="date">{{ update_time }}</div>
        <div v-html="tmpData.title" class="title"></div>
        <div v-html="content" class="msg"></div>
      </div>
    </div>

    <Footer />
  </div>
</template>

<script>
import { apiService, HTTP_TYPE } from "@/services/api";
import { YOU_ZAN, requestHttpName } from "@/services/config";
import { formatDate, HTMLEnCode, HTMLDeCode } from "@/services/util";
import Header from "@/components/Header";
import Footer from "@/components/Footer.vue";

export default {
  layout: "none",
  components: { Header, Footer },
  data() {
    return {
      content: "",
      title: "",
      tmpData: {},
      update_time: ""
    };
  },
  created() {
    let id = this.$route.params.id;
    this.getTank(id);
  },
  mounted() {},
  computed: {
    mapState: function() {
      locale: state => state.locale;
    }
  },

  watch: {
    locale() {}
  },
  methods: {
    async getTank(id) {
      let param = {
        queryInfo: {
          id
        }
      };
      try {
        let res = await apiService(
          HTTP_TYPE.POST,
          `${requestHttpName}/api/v1/article/findOne`,
          param,
          false
        );
        if (res.data.status == "success") {
          let tmpData = res.data.result.data;
          this.tmpData = tmpData;
          this.content = HTMLDeCode(tmpData.content);
          var date = new Date(tmpData.update_time);
          var Y = date.getFullYear() + "/";
          var M =
            (date.getMonth() + 1 < 10
              ? "0" + (date.getMonth() + 1)
              : date.getMonth() + 1) + "/";
          var D = date.getDate() + " ";
          var h = date.getHours() + ":";
          var m = date.getMinutes() + ":";
          var s = date.getSeconds();

          this.update_time = Y + M + D + h + m + s;
        } else {
          this.$message.error(res.data.error);
        }
      } catch (err) {
        this.$message.error(err.status + err.statusText);
      }
    }
  }
};
</script>

<style scoped lang="scss">
// @media (min-width: 767px) {
.content /deep/ img{
width:100%;
}
.box {
  margin-top: 90px;
  min-height: calc(100vh - 14.53vw);
  padding: 0 8.177vw;
  .box-title {
    height: 100px;
    display: flex;
    align-items: center;
        color: #000;
    .box-title-img {
      width: 0.46875vw;
      height: 0.833vw;
      margin-right: 0.4vw;
    }
  }
  .content {
    background-color: #fff;
    padding: 48px 6.5625vw;
    margin-bottom: 67.5px;
    .date {
      font-family: DINPro-Light;
      font-size: 0.78125vw;
      color: #454545;
      letter-spacing: 0.5px;
    }
    .title {
      font-size: 2.604vw;
      color: #222222;
      letter-spacing: 0.48px;
      margin-top: 37.5px;
      margin-bottom: 56.5px;
    }
    .msg {
      font-size: 0.9375vw;
      color: #000000;
      
      img{
        width: 100%；
      }
    }
  }
}

// }

//phone
// @media only screen and (max-width: 767px) {
//   .content {
//     text-align: center;
//     padding: 0 10vw 15vh;
//   }
//   .title {
//     font-weight: bold;
//     display: inline-block;
//     font-size: 6vw;
//     margin-bottom: 4vh;
//     margin-top: 7vh;
//     color: #212121;
//   }
//   .msg {
//     display: inline-block;
//     text-align: justify;
//     font-size: 4vw;
//     color: #585858;
//   }
// }
</style>
