<template>
  <div class="mostout" style="background:#FBFBFB">
    <Header/>
    <div class="contains">
      <div class="secondContains">
        <div
          class="tag_item"
          :class="selected == index ? 'tag_item_check' : ''"
          v-for="(item, index) in btnData"
          :key="index"
          @click="btnChoose(index)"
        >
          <span>{{ item }}</span>
        </div>
      </div>

      <a
        :href="focusThinkTank.out_link?focusThinkTank.out_link:focusThinkTank.url"
        v-if="anotherTags"
      >
        <div class="real_news">
          <div class="news_left">
            <!-- <div class="name_box">
              <h3 class="name_left">新闻</h3>
              <span class="name_bottom"></span>
            </div>-->
            <div
              class="theme_left"
              v-html="focusThinkTank.title"
            ></div>
            <div
              class="content_left"
              v-html="focusThinkTank.description"
            ></div>
            <div class="time_left"
              v-html="focusThinkTank && focusThinkTank.create_time
                ? focusThinkTank.create_time.slice(0, 10).replace(/-/g, '/')
                : ''"></div>
          </div>
          <div class="images_right">
            <img :src="focusThinkTank.src" alt class="ForbesPicture">
          </div>
        </div>
      </a>

      <div class="images">
        <div
          @click="jumpTo(item)"
          v-for="(item, index) in articles"
          :style="{ 'margin':(index%3==1?'0vw 1.7vw 1.667vw 1.7vw':'0 0 1.667vw 0') }"
          :key="index"
          class="pictureShow"
        >
          <div class="onePicture-box">
            <img :src="item.src" alt class="detailPicture">
            <div class="tag" v-for="(tag, index2) in item.tag" :key="index2">{{ tag }}</div>
            <!-- <b-img fluid :src="item.src" class="onePicture"></b-img> -->
          </div>
          <div class="details">
            <div style="flex-grow:1">{{ item.title }}</div>
            <div class="update_time">{{ item.time.split(" ")[0] }}</div>
          </div>
          <div>
            <img :src="enlogo(item)" alt="" class="mylogo" >
          </div>
        </div>
      </div>

      <div class="overflow-auto" v-if="showPages" ref="overflow">
        <!-- <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          style="white-space:nowrap;color:rgba(9, 50, 100, 1)"
          :first-text="this.locale == 'zh' ? '首页' : 'first'"
          :prev-text="this.locale == 'zh' ? '上一页' : 'prev'"
          :next-text="this.locale == 'zh' ? '下一页' : 'next'"
          :last-text="this.locale == 'zh' ? '尾页' : 'last'"
          align="center"
          limit="10"
          :hide-ellipsis="true"
          :pills="true"
        ></b-pagination>-->
        <el-pagination
          :current-page.sync="currentPage"
          @current-page="currentPage"
          :page-size="perPage"

          layout="prev, pager, next"
          :total="rows"
        ></el-pagination>
      </div>
    </div>

    <Footer/>
  </div>
</template>
<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import Vue from "vue";
import { apiService, HTTP_TYPE } from "@/services/api";
import { YOU_ZAN, BASE_URL, requestHttpName } from "@/services/config";
import { mapState, mapActions } from "vuex";
import { formatDate, HTMLEnCode, HTMLDeCode } from "@/services/util";
import { format } from "path";
import { Pagination } from "element-ui";

export default {
  layout: "none",
  data() {
    return {
      anotherTags: true,
      btnData: ["全部", "云启报告", "新闻", "云启家族", "投后集锦"],
      selected: 0,
      articles: [],
      currentPage: 1,
      locale: this.$i18n.locale,
      rows: 100,
      perPage: 1,
      showPages: false,
      btnNow: this.$i18n.locale == "zh" ? "全部" : "ALL",
      isMobile: false,
      // imgForbes:this.$i18n.locale == "zh"? require("../../../static/news/1.png"): require("../../../static/news/realNew.jpeg"),
      throttle: true,
      focusThinkTank:{},
      obj:
        this.$i18n.locale == "zh"
          ? {
              "风物长宜放眼量":
                "https://mp.weixin.qq.com/s/nRA1ll2P2lmVx0dXb6BigA",
              "云启资本2019年度获奖成绩单":
                "https://mp.weixin.qq.com/s/6k47yOLVPnjIFxE9MlSTGg",
              "融资获奖，年度复盘，沉淀2019，期待2020":
                "https://mp.weixin.qq.com/s/PNgR9gYfLvPu9_BJcK4D5w",
              "云启资本黄榆镔、毛丞宇三度蝉联“福布斯中国最佳创投人”":
                "https://mp.weixin.qq.com/s/8mRjcRmWdayAaLvOqCm_ZA",
              "御雪滑行，自由前进":
                "https://mp.weixin.qq.com/s/qnkksGhW88AiKnaiJI0Vig",
              "云启资本获评“2019中国产业互联网投资机构十强”":
                "https://mp.weixin.qq.com/s/woT3xunjlj0d2rE-s_sjPw",
              "云启资本陈昱：高速无人驾驶时代，将在未来五年内到来":
                "https://mp.weixin.qq.com/s/5ztwJ-7Blup7xK7o53fnlw",
              "中国智造点亮世界最高建筑，新石器无人车落地迪拜":
                "https://mp.weixin.qq.com/s/tMtuYOH8vfiN_dfr6-gWyA",
              "云启资本获华兴资本、亿欧、猎云网、母基金联盟、铅笔道等八项大奖":
                "https://mp.weixin.qq.com/s/C6Fi_ksdSo1xrf4JGG2qNw",
              "百布完成3亿美元D轮融资，云启连续多轮支持":
                "https://mp.weixin.qq.com/s/5HgEIpW-e4rrdpI9Raxkpg",
              "人工智能数据服务公司Graviti完成千万级美元Pre-A轮融资":
                "https://mp.weixin.qq.com/s/BRF2fvSkoJLidgHCIw0_oA",
              "云启资本荣获界面新闻“2019中国顶级风险投资机构TOP50”":
                "https://mp.weixin.qq.com/s/ZMBCXBV0IG-qgYOC5Jd2AQ",
              "2019年度峰会召开，17个奖项满载而归":
                "https://mp.weixin.qq.com/s/uew80iXi1NeN04As1furdw",
              云启资本荣获36氪2019年中国最受关注创业投资机构:
                "https://mp.weixin.qq.com/s/Xf3djXtA60uI0ERyGhh77A",
              "致To B创业的同行者":
                "https://mp.weixin.qq.com/s/wjoPtN2qEXQWX_eEz4R8xg",
              科技创新产业升级:
                "https://mp.weixin.qq.com/s/kDGrGz0UHWfWrQuRJzAy9g",
              "4家云启家族成员获新一轮融资，自动驾驶助力国庆阅兵、世界军运会 | 云启月刊·10月":
                "https://mp.weixin.qq.com/s/QzBF00q0BAVtjcyqVaBqWg",
              "酷家乐完成D+轮融资，投后估值超10亿美元":
                "https://mp.weixin.qq.com/s/H0PortQi7g5qsRMM6bFHdA",
                '元戎启行与武汉签订自动驾驶战略合作协议，携手建设“智慧城市”':"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313645&idx=2&sn=70514386690320b81eea982a370e9ada&chksm=813ae0adb64d69bb12dabb6de53c0150179be7efd7c20d2855c8bc8f53257f67f1e38e1d828c&token=349446239&lang=zh_CN#rd",
                "云启资本黄榆镔：4大领域，5个独角兽，我们看好什么样的新基建公司？":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313620&idx=1&sn=41b204cd41f172a45f8d38b1ba42631b&chksm=813ae094b64d698275d3c101806ce16bfed0e08e7b52c02fb04c1399f0ae16a1238f40258b9b&token=349446239&lang=zh_CN#rd",
                "30+行业奖项认可，赋能日本首家智慧图书馆| 云启月刊·6月":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313606&idx=1&sn=d1cb28bc85f4c6ecc0f715cad14c1f63&chksm=813ae086b64d699056ad8c917ee96224958bffa7fe2595c197400237a3cee2f2578e0e112fd9&token=349446239&lang=zh_CN#rd",
                "云启资本毛丞宇：金融科技创业需夯实核心能力，把握边界创造长期价值":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313566&idx=1&sn=3c35555fa90497845d764e8c551fac23&chksm=813ae0deb64d69c816b86c04f67d4d252245deec365bd559808c07340b9003ca2f4db96c0967&token=349446239&lang=zh_CN#rd",
                "云启资本 X 阿里：后疫情下的科技创业之路":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313529&idx=1&sn=0229a53556539d7e60f2f7f1d17011ca&chksm=813ae039b64d692fd0345768615d4d06dec3793918fe770d88dd82ee0bdac4f70694f91cae88&token=349446239&lang=zh_CN#rd",
                "专注“基建”工业互联网，“德风科技”完成A轮8000万融资":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313504&idx=1&sn=fce8a99f4fe9b0762ba7c1bba161a1ab&chksm=813ae020b64d693613a6164bd5e610ae9d1c8ed49d453c88812bb477baccfc150ceb82507aef&token=349446239&lang=zh_CN#rd",
                "百布：年GMV百亿元，产业数字化独角兽如何炼成？ | 云启To B学院":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313450&idx=1&sn=93f9ce010bad17dee72badfd2f49b6fe&chksm=813ae06ab64d697cff1934cc14ecf9d6a3f1e545af5c878e5f37aa86a88dc9ba14b11efc7343&token=349446239&lang=zh_CN#rd",
                "云启资本携被投企业获投中信息6项年度认可":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313396&idx=1&sn=cafb8880c2e991bf7154ef07d4d48980&chksm=813ae1b4b64d68a20d48960bb4cad14bc7d9d6ad45160f0683b941550de1641bd43791c2f4de&token=349446239&lang=zh_CN#rd",
                "「百布」并购「巨细」和「织联网」，成为行业内AIoT设备覆盖规模最大的服务商":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313359&idx=1&sn=a0ebcac67dca8fd911562e57d9c8e386&chksm=813ae18fb64d689988a672fe6019d57bf9980ec44357a8ed49743373986ed4229437a2f4b3a5&token=349446239&lang=zh_CN#rd",
                "入选《财富》商界精英榜，助力全国首个5G智慧码头| 云启月刊·5月":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313343&idx=1&sn=5444c0e99f5646c769e5165b28f26033&chksm=813ae1ffb64d68e99c54d00cda79633e67b247503c25028825fd5352401a495bd2af35203afb&token=349446239&lang=zh_CN#rd",
                "「智齿科技」获用友领投2.1亿C轮战略投资，全面领跑智能客服赛道":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313297&idx=1&sn=fe73fae28e2579fe5ac0df5636e3531e&chksm=813ae1d1b64d68c70105ce87e79a289f4e541888fa070f4381790e67ac4a465df815e3ccc9ca&token=349446239&lang=zh_CN#rd",
                "3位云启被投企业创始人入选《财富》“中国40位40岁以下的商界精英”":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313273&idx=1&sn=499b3de980c837a3f16d6a1dc3897492&chksm=813ae139b64d682f6e39b3da28a3352fb767fd5c4ab566b7b4ab8a49b26ccf032f7cf0dff44f&token=349446239&lang=zh_CN#rd",
                "云启资本获评36氪“2019-2020年度中国企业服务投资机构TOP20”":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313240&idx=1&sn=d6866089b7bbddf922be953fd11c12da&chksm=813ae118b64d680eb55cbdbc9c8b30630220d4a2bfadf331db8a1d94b99748adb824fd7fdff6&token=349446239&lang=zh_CN#rd",
                "2周4场的“云路演”是一种什么体验 ？| 云际会Yunqi Demo Day":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313230&idx=1&sn=e8cf04a23af976a009e4f4335ed4670d&chksm=813ae10eb64d68183be43284538add06aeedca6d24883da2f12230ad3005b2c5a44c6fe0abcd&token=349446239&lang=zh_CN#rd",
                "2家融资喜讯，7场线上活动，8个奖项认可 | 云启月刊·4月":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313224&idx=1&sn=c702a63ae90b3ffb53a2f150d238e288&chksm=813ae108b64d681eb0f6cde82ffa4154cc92c5d8b059c291b76a235c558b03ffdccbeb2964bd&token=349446239&lang=zh_CN#rd",
                "云启资本陈昱：开源模式是用多倍杠杆撬动企业服务赛道":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313202&idx=1&sn=5dd8feca41b47729dfee78462f528d53&chksm=813ae172b64d6864b0b00efbf6e985e69f5f079776d14ff506cf5aa5cb6401e18961cf8b3ae8&token=349446239&lang=zh_CN#rd",
                "垂直行业企业服务投资，路在何方？":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313183&idx=2&sn=1a202edb6d401c6b7bb69cd81dc3691b&chksm=813ae15fb64d684963c7860e5abd34c6f6c1632a727762f5d263056e431cd115492663bfb47c&token=349446239&lang=zh_CN#rd",
                "云启资本郑瑞庭：5G时代的“新基建”机会":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313177&idx=1&sn=a4cceabfdaafed2c95a012070fd9e7a5&chksm=813ae159b64d684f8217826ae65f64868c472ef11d81cb52943846a0cfed883d657f5883709c&token=349446239&lang=zh_CN#rd",
                "云启资本陈昱：“新基建”浪潮下，技术产业化新机遇":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313170&idx=1&sn=7dc6778a5f6e75a564f7bdbfadf27830&chksm=813ae152b64d6844aad08c05562c6045ea33e98c1a4494fcbfb35f1c1af067e5c49361382a2b&token=349446239&lang=zh_CN#rd",
                "光通信厂商「圣治光电Crowntech Photonics」获云启资本领投B+轮数千万融资，助推5G未来发展":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313158&idx=1&sn=a06052a503d248ddb889af544a047684&chksm=813ae146b64d6850f5c594b34eab42f5796e618ce4f4967ba5c94795e90b7da636f064e491f4&token=349446239&lang=zh_CN#rd",
                "云启资本 X i黑马：“新基建、新数据、新服务”产业独角兽在线沙龙":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313129&idx=1&sn=64e193733b02575fe7ca720425264650&chksm=813ae6a9b64d6fbfeeee45c4cdd2768295ff494109c64724f3a71cab68f3c4abd0e6673793be&token=349446239&lang=zh_CN#rd",
                "冰鉴科技CEO顾凌云入选全球科学企业家G200人物榜单":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313121&idx=2&sn=6a7e6b58badb45f1a0b102cd05fd33ac&chksm=813ae6a1b64d6fb7f244aff15a10ddd8fd0323c88a657065f3a677e101565ad932d14b93c52f&token=349446239&lang=zh_CN#rd",
                "智能云管理平台「骞云科技」完成B+轮融资，3个月内获2笔数千万融资":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313116&idx=1&sn=a9abd5db3411f11ad648737e489c3720&chksm=813ae69cb64d6f8affdb707611140c89e6c365d34cfaf44a77e5e06b960707ede7fdfdbe6098&token=349446239&lang=zh_CN#rd",
                "Zilliz向量搜索引擎Milvus加入LF AI孵化，致力成为最流行的AI数据平台":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313116&idx=2&sn=63e1919baf45d196eeef37db84f2054d&chksm=813ae69cb64d6f8a4f7f862dae274c1a2ffddf80d7dbc2fa04c14ea29bb23bb6a8a0f9c78845&token=349446239&lang=zh_CN#rd",
                "聚焦To B赛道，25家云启被投企业，4场专场线上路演 | 云际会":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313114&idx=1&sn=ac13cb52b1f3f92cd2a5f6879f4212a8&chksm=813ae69ab64d6f8c9b0fcced914d0cba9420c6343548ec69e2730beda9f6849525a92ce6990e&token=349446239&lang=zh_CN#rd",
                "PingCAP 成立五周年：数据库的未来如何进化":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313114&idx=2&sn=d56b986371e9652c4d61c94a2b9ec00c&chksm=813ae69ab64d6f8cfb004ffa1e9c9b073055df881df9b5a6cad180736961c4c62b9bdd4f2282&token=349446239&lang=zh_CN#rd",
                "4家被投企业完成新一轮融资，携手新华社、华为、联通等合作 | 云启月刊·3月":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313085&idx=1&sn=1924b6b0c7597916b1d9b4d7eb744876&chksm=813ae6fdb64d6febf3668161a95baf5f79e830b8bd61c28c5d15b40511eaeb7b0c59ed495305&token=349446239&lang=zh_CN#rd",
                "半导体设备公司「普莱信智能」完成4000万Pre-B轮融资，力推半导体关键设备国产化":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313063&idx=1&sn=cd623ffa245c6dc462df80223807f7c7&chksm=813ae6e7b64d6ff1824d22f6453e1bba2b1febdab4cb2137589e8e7b9d68f01ac9ef720fc9e5&token=349446239&lang=zh_CN#rd",
                "云启资本X腾讯：5G未来新生态趋势":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313063&idx=2&sn=c5ef06a83b8775b1286b589d2450c55c&chksm=813ae6e7b64d6ff1e17a896f9767ac8726a37a38016424986c962830d5b1b661279f190bb97c&token=349446239&lang=zh_CN#rd",
                "无人车公司「新石器」完成近2亿元A+轮融资，加速AI无人车全面落地":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313052&idx=1&sn=98a1030978b1b79d01b109178f051967&chksm=813ae6ddb64d6fcb572ab785387989e11e7f55f4781dd1badfbfc497&token=349446239&lang=zh_CN#rd",
                "智能云管理平台「骞云科技」完成5000万B轮融资":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313044&idx=1&sn=4c24600dff83a389c399acdd283610df&chksm=813ae6d4b64d6fc2c578e09d35bdbedf0fc7f3cacd81d8535477befefab125df44f5ca36ca53&token=349446239&lang=zh_CN#rd",
                "擎朗智能完成2亿元B系列融资，中国智造无人配送机器人点亮20国400城":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313034&idx=1&sn=59fd4926cadc00ffe5af352c918fec12&chksm=813ae6cab64d6fdc1cade89692f65958a46290e83ec4ded54ac519b1e239144d7883c7256ab4&token=349446239&lang=zh_CN#rd",
                "疫情之后，企业服务如何进化？ | 云启报告":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313020&idx=1&sn=b44a5f21d85d3c9f482f6843a50013c7&chksm=813ae63cb64d6f2ac2f3dc71ca7164fce1c68c18ee2b6b3cf2ac18a19d07353d39e5a3bb7866&token=349446239&lang=zh_CN#rd",
                "战“疫”2个月，我们在路上 | 云启月刊·疫情特刊":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651313006&idx=1&sn=3af1e17aed1707056e99f0f174e72054&chksm=813ae62eb64d6f38abd66c7bc009dc380bf3c187c1f805715a568d8e9d788fe7ef76b7ec892d&token=349446239&lang=zh_CN#rd",
                "云启圆桌：突发疫情下，To B销售如何应对新挑战？":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651312979&idx=1&sn=4c9772c78b45a46f2e22d503d995d391&chksm=813ae613b64d6f055973e4d2ec6cbfa20ea6272d5d7e51c92f58c09913d35fdf64c0e49efafe&token=349446239&lang=zh_CN#rd",
                "融资战略指引：疫情之下，To B和科技类创业公司如何进行债权融资？":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651312970&idx=1&sn=f1a6b0c0607a739f6614960d4bb6a481&chksm=813ae60ab64d6f1cec82b3c9449a8d2d08d9d4aa5c79c5f100ff7f6d1b378fbf9695c460e670&token=349446239&lang=zh_CN#rd",
                "科技驰援进行时：云启资本和被投企业在行动":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651312957&idx=1&sn=f4c24490dd16335e740d673efc1872d3&chksm=813ae67db64d6f6b61fcfa7acca7675aa5e170cea80b31cb1f467f51c60c3c4b3a26174ceb9a&token=349446239&lang=zh_CN#rd",
                "战疫30天，我们复盘了投后服务的三个关键点":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651312944&idx=1&sn=02f2f9bbf4e075f5d7fe2351d1721395&chksm=813ae670b64d6f66ea809ed128ea15be8930f7fda5a83067aea6195586dd8c37ff312e0760b7&token=349446239&lang=zh_CN#rd",
                "CFO操盘指导：疫情之下，To B企业如何进行现金流管理和预测":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651312936&idx=1&sn=4a0bc7496a6e58b54aaf24145022af48&chksm=813ae668b64d6f7ec4e44d62dde4e9df3b45e53110c493d42f6dd2cfadd5a6655820f8e624f1&token=349446239&lang=zh_CN#rd",
                "连线PingCAP：创业公司远程办公管理哲学":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651312925&idx=1&sn=a09e9bf962eadc8f6c3c84599c6ac0dc&chksm=813ae65db64d6f4b10bc4bac801547cca7ed0808fd0bd8c60fb0a60068d1542b730f9b7f467e&token=349446239&lang=zh_CN#rd",
                "人力资源实操指引：疫情冲击下，企业如何提升团队效能和加强成本管控":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651312916&idx=1&sn=4124ba5dd68e7aeb06b53a3e7c92c9e5&chksm=813ae654b64d6f42a81ccdfc9de4bcc5774a2c93bac923c40f762fab0e540d9e7bb3ad602435&token=349446239&lang=zh_CN#rd",
                "金杜法律答疑：企业在疫情影响下的劳动合规实操建议":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651312905&idx=1&sn=6d3b20f3b53f6ebc5f9f750be6beaa88&chksm=813ae649b64d6f5f8ab250a1face6ae8a9971b6bf1f48a75dfb5eb31d5e448a96bfd8791ff65&token=349446239&lang=zh_CN#rd",
                "众志成城，共克时艰 | 云启资本和被投企业驰援一线":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651312847&idx=1&sn=b34a719315614fef0c508f7c00150ee1&chksm=813ae78fb64d6e9910e91e17ccf4e233e08c1a2a5a010a8a9aa89addc5462429198cee6b694d&token=349446239&lang=zh_CN#rd",
                "暖心口罩“供应链” | 云启二十四时辰":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651312829&idx=1&sn=f51c1e0b958201617322118d2a1eda20&chksm=813ae7fdb64d6eeb2da3320d10f8dd541c5237cab076af065a20a0dba95666935e6c5d006149&token=349446239&lang=zh_CN#rd",
                "云启资本及家族成员收获B2B内参、上海科创投、融资中国多项肯定":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651312793&idx=1&sn=7f12bfedb1d554dd9c05c6ceea5a397a&chksm=813ae7d9b64d6ecfb847ad21dcc959c72ac54143f898a8e99b414cbe3ebd8f7a11dd3a9b101b&token=349446239&lang=zh_CN#rd",
                "家装建材B2B交易平台小胖熊完成数千万战略融资":"https://mp.weixin.qq.com/s?__biz=MzAwMjQ5MTQzOQ==&mid=2651312780&idx=1&sn=abcafd5089ed887379348d086001ea7f&chksm=813ae7ccb64d6eda07aa34765e974d8318fed32590ddf8d6ac75bd6d75b53c5d21c70a7e0454&token=349446239&lang=zh_CN#rd"
            }
          : {
              "Deal focus: Kujiale embraces SaaS":
                "https://www.avcj.com/avcj/official-record/3017522/deal-focus-kujiale-embraces-saas",
                "UPDATE 1-China’s Neolix to trial autonomous vehicles in Saudi, UAE":"https://www.cnbc.com/2019/07/23/reuters-america-update-1-chinas-neolix-to-trial-autonomous-vehicles-in-saudi-uae.html",
                "Industrial intrigue: China's industry 4.0":"https://www.avcj.com/avcj/analysis/3016700/industrial-intrigue-chinas-industry-40?from=groupmessage&isappinstalled=0&scene=1&clicktime=1578502055&enterid=1578502055",
                "TigerGraph raises $32 million for graph database tools":"https://venturebeat.com/2019/09/25/tigergraph-raises-32-million-for-graph-database-tools/?from=groupmessage&isappinstalled=0&scene=1&clicktime=1578502124&enterid=1578502124",
                "Driverless delivery vans are here as production begins in China":"https://www.bloomberg.com/news/articles/2019-05-27/watch-out-mr-postman-robo-deliveries-are-now-reality-in-china",
             "Exploring the world of investing with Yipin Ng, Co-founder and Managing Partner at Yunqi Partners":"http://chinainnovationdecoded.buzzsprout.com/264100/1379965-exploring-the-world-of-investing-with-yipin-ng-co-founder-and-managing-partner-at-yunqi-partners?from=groupmessage&isappinstalled=0&scene=1&clicktime=1578502157&enterid=1578502157",
            "Yunqi Report: Post-epidemic, what are some of the opportunities that would favor growth in China's corporate services sector":"https://seekingalpha.com/pr/17813471-yunqi-report-post-epidemic-what-are-of-opportunities-favor-growth-in-chinas-corporate",
            "Deal focus: Neolix finds its self-driving niche":"https://www.avcj.com/avcj/official-record/3018704/deal-focus-neolix-finds-its-self-driving-niche",
            "Chinese restaurant robot supplier raises $28m Series B":"https://www.avcj.com/avcj/news/3018583/chinese-restaurant-robot-supplier-raises-usd28m-series-b",
            "VC-backed Chinese driverless delivery start-up gets $28m":"https://www.avcj.com/avcj/news/3018623/vc-backed-chinese-driverless-delivery-start-up-gets-usd28m"
            },

    };
  },
  components: {
    Header,
    Footer
  },
  created() {
    this.getArticles(this.locale, true, this.currentPage, 9);
  },
  mounted() {
    Vue.use(Pagination);

    if (window.screen.width < 768) {
      this.isMobile = true;
      window.addEventListener("scroll", this.handleScroll);
    }
  },
  computed: {
    mapState: function() {
      currentPage: this.currentPage;
    }
  },
  destroyed() {
    if(this.isMobile) {
      window.removeEventListener("scorll", this.handleScroll);
    }
  },
  watch: {
    currentPage() {
      this.throttle = false; // 节流
      if (this.btnNow === this.btnData[0]) {
        this.getArticles(this.locale, true, this.currentPage, 9);
      } else {
        this.getByTag(this.btnNow, this.locale, true, this.currentPage);
      }
    }
  },
  methods: {
    handleScroll() {
      if (this.$refs.overflow) {
        let overflowBottom = this.$refs.overflow.getBoundingClientRect().bottom;
        let maxBottom = window.screen.height * 0.6;
        if (typeof overflowBottom === "number" && overflowBottom < maxBottom) {
          if (this.throttle) {
            this.currentPage++;
          }
        }
      }
    },
    jumpTo(item) {
      if(item.out_link && item.out_link!="" && item.out_link!=" "){
          window.location.href = item.out_link;
      }else{
        let target_link = ''
        for (let i in this.obj) {
          if (item.title && item.title.indexOf(i) != -1) {
            target_link = this.obj[i];
            break;
          }
        }
        if(!target_link) {
          target_link = item.url
        }
        window.location.href = target_link;
      }

    },
    async btnChoose(index) {
      this.btnNow = this.btnData[index];
      this.selected = index;
      this.currentPage = 1;
      if (index != 0) {
        await this.getByTag(
          this.btnData[index],
          this.locale,
          true,
          this.currentPage
        );
        this.anotherTags = false;
      } else {
        await this.getArticles(this.locale, true, this.currentPage, 9);
        this.anotherTags = true;
      }
    },
    async getArticles(language, visible, currentPage, pageSize) {
      let that = this;

      if (this.locale == "en") {
        this.btnData = ["ALL", "Research", "News", "Portfolios News","Added Value"];
      } else {
        this.btnData = ["全部", "云启报告", "新闻", "云启家族", "中台赋能"];
      }
      let param = {
        queryInfo: {
          language: language, //语言
          visible: visible, //option, 可见文章，不可见文章，不传返回全部文章
          pageInfo: {
            currentPage: currentPage,
            pageSize: pageSize //可选，默认为6
          }
        }
      };
      let res = await apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/article/findAll`,
        param,
        false
      );

      if (res.data.status == "success") {
        let tmpData = res.data.result.data.rows;
        let tmpArticles = []
        for(let i=0;i<tmpData.length;i++){
          if(tmpData[i].focus && tmpData[i].focus==true){
            this.focusThinkTank = {
              src: that.wwwOrNot(tmpData[i].picture),
              title: HTMLDeCode(tmpData[i].title),
              description: tmpData[i].description,
              url: "",
              id: tmpData[i].id,
              tag: tmpData[i].tag,
              time: that.replaceDate(tmpData[i].create_time),
              logo:tmpData[i].logo?tmpData[i].logo:"",
              out_link:tmpData[i].out_link?tmpData[i].out_link:"",
              focus:tmpData[i].focus?tmpData[i].focus:"",
              create_time: tmpData[i].create_time
            };
          }else{
            tmpArticles.push({
              src: that.wwwOrNot(tmpData[i].picture),
              title: HTMLDeCode(tmpData[i].title),
              description: tmpData[i].description,
              url: "",
              id: tmpData[i].id,
              tag: tmpData[i].tag,
              time: that.replaceDate(tmpData[i].create_time),
              logo:tmpData[i].logo?tmpData[i].logo:"",
              out_link:tmpData[i].out_link?tmpData[i].out_link:"",
              focus:tmpData[i].focus?tmpData[i].focus:""
            })
          }
        }
        that.throttle = true;
        that.articles =
          this.isMobile && this.currentPage !== 1
            ? that.articles.concat(tmpArticles)
            : tmpArticles;
        that.rows = res.data.result.data.maxPageNum;
        that.showPages = true;
      } else {
        this.$message.error(res.data.error);
      }
      for (let i = 0; i < that.articles.length; i++) {
        that.articles[i].url = that.judgeGoToNewUrl(
          that.articles[i].title,
          that.articles[i].id,
          that.locale
        );
      }
    },
    // 判断是否进入跳转连接
    judgeGoToNewUrl(title, id, local) {
      for (let i in this.obj) {
        if (title.indexOf(i) != -1) {
          return this.obj[i];
        } else {
          return "/" + local + "/thinkTank/" + id;
        }
      }
    },
    async getByTag(tag, language, visible, currentPage) {
      let that = this;
      let param = {
        queryInfo: {
          tag: tag,
          language: language,
          visible: visible,
          pageInfo: {
            currentPage: currentPage,
            pageSize: 10 //可选，默认为6
          }
        }
      };
      try {
        let res = await apiService(
          HTTP_TYPE.POST,
          `${requestHttpName}/api/v1/article/findByTag`,
          param,
          false
        );
        if (res.data.status == "success") {
          let tmpData = res.data.result.data.rows;
          let tmpArticles = tmpData.map(item => ({
            src: that.wwwOrNot(item.picture),
            title: HTMLDeCode(item.title),
            description: item.description,
            url: "",
            id: item.id,
            tag: item.tag,
            time: that.replaceDate(item.create_time)
          }));
          that.articles =
            this.isMobile && this.currentPage !== 1
              ? that.articles.concat(tmpArticles)
              : tmpArticles;
          that.throttle = true;
          that.rows = res.data.result.data.maxPageNum;
          that.showPages = true;
        } else {
          this.$message.error(res.data.error);
        }
        for (let i = 0; i < that.articles.length; i++) {
          that.articles[i].url = that.judgeGoToNewUrl(
            that.articles[i].title,
            that.articles[i].id,
            that.locale
          );
        }
      } catch (err) {
        this.$message.error(err.status + err.statusText);
      }
    },
    wwwOrNot(str) {
      if (str.substring(0, 4) == "http") {
        return str;
      } else {
        return "http://www.yunqi.vc" + str;
      }
    },
    replaceDate(date) {
      let dataTime = formatDate(date)
        .split("-")
        .join("/")
        .split(":");
      dataTime.pop();
      return dataTime.join(":");
    },
    enlogo(item) {
      if(item.logo){
        return item.logo
      }else{
      if(item.title=="Deal focus: Kujiale embraces SaaS"){
        let src = require('../../../static/enlogo/avcj.png')
        return src
      }else if(item.title=="Deal focus: Neolix finds its self-driving niche"){
       let src = require('../../../static/enlogo/avcj.png')
        return src
      }else if(item.title=="Chinese restaurant robot supplier raises $28m Series B"){
       let src = require('../../../static/enlogo/avcj.png')
        return src
      }else if(item.title=="VC-backed Chinese driverless delivery start-up gets $28m"){
       let src = require('../../../static/enlogo/avcj.png')
        return src
      }else if(item.title=='UPDATE 1-China’s Neolix to trial autonomous vehicles in Saudi, UAE'){
       let src = require('../../../static/enlogo/vehicle.png')
        return src
      }else if(item.title=="Industrial intrigue: China's industry 4.0"){
        let src = require('../../../static/enlogo/avcj.png')
        return src
      }else if(item.title=="TigerGraph raises $32 million for graph database tools"){
        let src = require('../../../static/enlogo/VB.png')
        return src
      }else if(item.title=="Driverless delivery vans are here as production begins in China"){
        let src = require('../../../static/enlogo/bloomberg.png')
        return src
      }else if(item.title=="Exploring the world of investing with Yipin Ng, Co-founder and Managing Partner at Yunqi Partners"){
       let src = require('../../../static/enlogo/explore.png')
        return src
      }else{
        let src = require('../../../static/news/yunqi_color_logo.png')
        return src
      }
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "./mobile/more.scss";
/* @media (min-width: 767px) { */
.overflow-auto .el-pagination /deep/ * {
  background-color: #093264;
}
.overflow-auto .el-pagination /deep/ .btn-prev {
  border-radius: 50% 0 0 50%;
  color: #c0c4cc;
}
.overflow-auto .el-pagination /deep/ .btn-next {
  border-radius: 0 50% 50% 0;
  color: #c0c4cc;
}
.overflow-auto /deep/ li.active {
  color: #ddd !important;
  text-decoration: underline;
}
.overflow-auto /deep/ li.number:hover {
  color: #ddd !important;
}
.overflow-auto /deep/ li.number {
  color: #666;
}
.real_news {
  width: 100%;
  height: 30.52vw;
  display: flex;
  margin-bottom: 2.2vw;
}
.real_news:hover {
  border-radius: 5px;
  box-shadow: 0 2px 30px 0 rgba(79, 119, 202, 0.2);
  cursor: pointer;
}
.news_left {
  width: 26.614vw;
  height: 100%;
  background: #fff;
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  padding: 3vw 0;
}
.name_box {
  margin-top: 2.7vw;
  margin-left: 2.2vw;
  margin-bottom: 1.5vw;
  display: block;
}
.name_left {
  font-size: 1vw;
  width: 5.5vw;
  color: #5d82ce;
  height: 1.2vw;
}
.name_bottom {
  display: block;
  width: 4.7vw;
  height: 0.1vw;
  background: #5d82ce;
  margin-left: 0.3vw;
}
.theme_left {
  width: 22.8vw;
  display: block;
  margin-left: 2.2vw;
  color: #222;
  font-size: 1.7vw;
  line-height: 2.7vw;
  text-align: left;
}
.content_left {
  margin-top: 2.2vw;
  margin-left: 2.2vw;
  width: 22.8vw;
  font-weight: PingFangSC-Light;
  color: #000;
  font-size: 1vw;
  line-height: 2vw;
  text-align: left;
}
.time_left {
  margin-left: 2vw;
  margin-top: 6vw;
  color: #666;
  font-size: 1vw;
  line-height: 1.3vw;
  letter-spacing: 0.1vw;
  text-align: left;
  font-family: DINPro-Light;
}

.images_right {
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
  border-radius: 0 5px 5px 0;
  background-position: center center;
  overflow: hidden;
  width: 48vw;
}
.ForbesPicture {
  width: 100%;
  height: 100%;
  transition: transform 1.4s ease 0s;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.ForbesPicture:hover {
  transition-duration: 1.4s;
  transform: scale(1.07);
}
.secondContains {
  margin: 40px 0;
  display: flex;
  justify-content: flex-start;
}
button {
  border: none;
}
a {
  color: #222222;
}
.contains {
  text-align: center;
  padding: 90px 10.9895vw;
}
.locationStyle {
  font-size: 1vw;
}
.locationStyle2 {
  font-size: 1vw;
  font-weight: 600;
}
.btnStyle {
  color: #222222;
  padding: 0 1vw;
  line-height: 2vw;
  background: transparent;
  border-radius: 1vw;
  margin-right: 3.8vw;
}
.images {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: flex-start;
  /* grid-template-columns: repeat(3, 24.84375vw); */
}

.pictureShow {
  width: 24.84375vw;
  text-align: left;
  margin-right: 1vw;
  cursor: auto;
  background: #fff;
  margin-bottom: 1.667vw;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* } */
.pictureShow:hover {
  text-decoration: none;
}
.onePicture-box {
  width: 24.84375vw;
  height: 14.79167vw;
  border-radius: 5px 5px 0 0;
  align-items: center;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.detailPicture {
  width: 100%;
  height: 100%;
  transition: transform 1.4s ease 0s;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.detailPicture:hover {
  transition-duration: 1.4s;
  transform: scale(1.1);
}
.tag {
  position: absolute;
  top: 1.4vw;
  left: 1.9vw;
  background: rgba(9, 50, 100, 1);
  color: #fff;
  font-size: 0.8vw;
  border-radius: 1vw;
  padding: 0vw 0.5vw;
  min-width: 5vw;
  text-align: center;
}
.onePicture {
  width: 100%;
}
.pictureShow:hover {
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(79, 119, 202, 0.2);
  cursor: pointer;
}
.details {
  margin: 1.5vw 2vw;
  font-weight: PingFangSC-Medium;
  color: #222;
  font-size: 1.4vw;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.update_time {
  font-family: DINPro-Light;
  font-size: 0.9375vw;
  color: #666;
  margin-top: 1.3vw;
  letter-spacing: 0.1vw;
}
.mylogo {
  width: 6.2vw;
  height: 1.1vw;
  background-size: 100%;
  position: absolute;
  bottom: 1.8vw;
  right: 1vw;
}

.overflow-auto {
  margin-top: 4.3vw;
}
.page-link {
  position: relative;
  display: block;
  padding: 0vw 1.4vw;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border-radius: 2vw;
  border: 0;
}
/* } */
/* phone */
@media (max-width: 767px) {
}
</style>
