@media (max-width : 767px) {
  .dialog-body {
    width: 100vw !important;
    height: 100vh !important;
    padding: 8vw 12vw !important;
    overflow: scroll;

    .info-box {
      .logo-img {
        height: 44vw !important;
      }
      .info-container {
        border-top: none !important;
        display: block !important;
        padding-top: 0 !important;

        .detail-box {
          .title {
            text-align: center;
            font-size: 5.33vw;
            margin-bottom: 3.06vw;
            color: #222;
          }

          .desc {
            font-size: 4.26vw;
            text-align: center;
            margin-bottom: 10.53vw;
            color: #666;
          }

          .content {
            font-size: 4vw;
            text-align: center;
          }
        }

        .about-box {
          margin-top: 5.6vw;
          padding-top: 5.6vw;
          padding-left: 0;
          display: flex;
          border-top: 1px solid #c0c0c0;

          p, span {
            color: #9c9c9c;
          }

          .date-box {
            p:first-of-type {
              margin-bottom: 5vw;
              font-size: 3.46vw;
            }
            .date-count {
              border-bottom: none !important;

              span {
                font-size: 8vw !important;
              }
            }
          }

          .about-site {
            margin-left: auto;

            p {
              font-size: 3.46vw;
              text-align: right;
              margin-bottom: 9.3vw;
            }

            a > span {
              color: #093264;
              font-size: 2.93vw;
            }
          }
        }
      }
    }
    .close-btn {
      width: 9vw !important;
      height: 9vw !important;
      background-color: #093264;
      color: white !important;
      font-size: 7.5vw !important;
      top: 5vw !important;
      right: 5vw !important;
    }
  }
}
