<template>
  <div>
    <!-- <a-layout
      hasSider="true"
      id="components-layout-demo-side"
      style="min-height: 100vh"
    >
      <LeftNav />
      <a-layout>
        <a-layout-header :style="{ background: 'white', padding: 0 }">
          <TopNav />
        </a-layout-header>
        <a-layout-content style="margin: 0 16px">
          <nuxt />
        </a-layout-content>
      </a-layout>
    </a-layout> -->
  </div>
</template>

<script>
import LeftNav from "./left";
import TopNav from "./top";
import { debuglog } from "util";

export default {
  components: {
    LeftNav,
    TopNav
  },
  created() {
    let path = this.$route.path;
    if (path.indexOf("/admin/") >= 0 && path !== "/admin/auth/login") {
      if (process.client) {
        const logined = sessionStorage.getItem("login");
        if (logined !== "true") {
          const subString = path.slice(path.indexOf("/admin/") + 7);
          const directUrl = path.replace(subString, "auth/login");
          this.$router.push(directUrl);
        }
      }
    }
  },
  mounted() {
    document.addEventListener("touchstart", function() {}, false);
  }
};
</script>

<style>
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "PingFang-SC", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC",
    "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a:link {
  text-decoration: none;
}
　　 a:active {
  text-decoration: none;
}
　　 a:hover {
  text-decoration: none;
}
　　 a:visited {
  text-decoration: none;
}

@media (min-width: 767px) {
  /* 按钮 */
  .btn_hover {
    border: 2px solid rgba(9, 50, 100, 1);
    background-color: rgba(9, 50, 100, 1);
    color: #fff;
    width: 10vw;
    text-align: center;
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
    border-radius: 1vw;
    line-height: 1.5;
    margin-top: 2vh;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 0.8vw;
  }
  .btn_hover:hover {
    color: rgba(9, 50, 100, 1);
    background-color: #fff;
    font-size: 1.2vw;
  }

  .btn_hover_plus {
    border: 2px solid #093264;
    background-color: #093264;
    color: #fff;
    width: 13vw;
    font-size: 1.5vw;
    border-radius: 2vw;
    height: 3.5vw;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.3vw;
  }
  .btn_hover_plus:hover {
    color: rgba(9, 50, 100, 1);
    background-color: #fff;
    font-size: 1.6vw;
  }
  /* 标签 */
  .tag_item {
    font-size: 18px;
    padding: 0 20px;
    margin: 0;
    height: 36px;
    color: #222222;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    cursor: pointer;
    transition: 0.3s;
  }

  .tag_item_check {
    background: rgb(9, 50, 100);
    color: rgb(255, 255, 255);
  }
  /* 标题 */
  .title_one {
    font-size: 3.3vw;
    color: #414141;
    letter-spacing: 1.2px;
    text-align: center;
  }
  .title_two {
    font-size: 1.6vw;
    color: #414141;
    font-weight: 300;
    text-align: center;
  }
  .title_there {
    font-size: 4.167vw;
    color: #ffffff;
    letter-spacing: 1.78px;
  }
  .title_four {
    font-size: 1.5vw;
    color: #ffffff;
    letter-spacing: 0.71px;
    line-height: 1.8;
  }
  .m-none {
    display: none;
  }
  .arrow {
    position: absolute;
    right: 1vw;
    font-size: 1.2vw;
    top: 1vw;
  }
}
@media (max-width: 767px) {
  /* 按钮 */
  .btn_hover {
    border: 2px solid rgba(9, 50, 100, 1);
    background-color: rgba(9, 50, 100, 1);
    color: #fff;
    width: 10vw;
    text-align: center;
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
    border-radius: 1vw;
    line-height: 1.5;
    margin-top: 2vh;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 0.8vw;
  }
  .btn_hover:active {
    color: rgba(9, 50, 100, 1);
    background-color: #fff;
    font-size: 1.2vw;
  }

  .btn_hover_plus {
    border: 2px solid #093264;
    background-color: #093264;
    color: #fff;
    width: 30vw;
    font-size: 3.5vw;
    border-radius: 10vw;
    height: 10vw;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.3vw;
  }
  .btn_hover_plus:active {
    color: rgba(9, 50, 100, 1);
    background-color: #fff;
    font-size: 3.8vw;
  }
  /* 标签 */
  .tag_item {
    font-size: 18px;
    padding: 0 20px;
    margin: 0;
    height: 36px;
    color: #222222;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    cursor: pointer;
    transition: 0.3s;
  }

  .tag_item_check {
    background: rgb(9, 50, 100);
    color: rgb(255, 255, 255);
  }
  /* 标题 */
  .title_one {
    font-size: 8vw;
    color: #414141;
    letter-spacing: 1.2px;
    text-align: center;
  }
  .title_two {
    font-size: 4.53vw;
    color: #414141;
    font-weight: 300;
    text-align: center;
  }
  .title_there {
    font-size: 9.067vw;
    color: #ffffff;
    letter-spacing: 1.78px;
    text-align: center;
    word-break: break-word;
    margin: 0 2vw;
  }
  .title_four {
    font-size: 4vw;
    color: #ffffff;
    letter-spacing: 0.71px;
    line-height: 2;
  }
  .p-none {
    display: none;
  }
  .arrow {
    position: absolute;
    right: 1vw;
    font-size: 3vw;
    top: 3vw;
  }
}
</style>
