<template>
  <div>
    <a-layout hasSider="true" id="components-layout-hide-top" style="min-height: 100vh">
      <LeftNav :style="{ position: 'fixed', zIndex: 1, height: '100%' }"/>
      <a-layout>
        <a-layout-header style="padding: 0 16px 0 220px !important; margin: 0 !important; background-color: #f0f2f5;">
          <a-button @click="$router.back(-1)">返回</a-button>
        </a-layout-header>
        <a-layout-content style="margin: 0 16px 0 200px !important">
          <nuxt />
        </a-layout-content>
      </a-layout>
    </a-layout>
  </div>
</template>

<script>
import LeftNav from "./left";

export default {
  components: {
    LeftNav
  },
  created() {
    let path = this.$route.path;
    if (path.indexOf("/admin/") >= 0 && path !== "/admin/auth/login") {
      if (process.client) {
        const logined = sessionStorage.getItem("login");
        if (logined !== "true") {
          const subString = path.slice(path.indexOf("/admin/") + 7);
          const directUrl = path.replace(subString, "auth/login");
          this.$router.push(directUrl);
        }
      }
    }
  }
};
</script>

<style>
html {
  font-family:-apple-system,BlinkMacSystemFont,'Helvetica Neue','PingFang-SC','Microsoft YaHei','Source Han Sans SC','Noto Sans CJK SC','WenQuanYi Micro Hei',sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
