<template>
  <a-layout-sider collapsible v-model="collapsed">
    <div class="logo">
      <img src="@/assets/img/logo.png" />
    </div>
    <a-menu mode="inline" theme="dark" :inlineCollapsed="collapsed">
      <template v-for="item in routeView">
        <a-menu-item v-if="!item.children" :key="item.key">
          <nuxt-link :to="item.url" v-if="item.url" />
          <!-- <a-icon :type="item.icon" v-if="item.icon" /> -->
          <span>{{item.title}}</span>
        </a-menu-item>
        <sub-menu v-else :menu-info="item" :key="item.key" />
      </template>
    </a-menu>
  </a-layout-sider>
</template>
<script>
import SubMenu from "~/components/SubMenu";
import { apiService, HTTP_TYPE } from "@/services/api";
import { BASE_URL, requestHttpName } from "@/services/config";
import { mapState, mapActions } from "vuex";

export default {
  name: "left-nav",
  components: {
    "sub-menu": SubMenu
  },
  data() {
    return {
      collapsed: false,
      portfolios_tags: [],
      team_tags: [],
      artical_tags: [],
      routeView: [
        {
          title: "用户管理",
          url: "",
          icon: "user",
          key: "1",
          children: [
            {
              title: "管理员列表",
              url: "/admin/user/userList",
              icon: "",
              key: "1.1"
            }
          ]
        },
        {
          title: "页面管理",
          url: "",
          key: "2",
          icon: "layout",
          children: [
            {
              title: "首页",
              url: "",
              key: "2.1",
              icon: "home",
              children: [
                {
                  title: "关于我们",
                  url: "/admin/page/home/aboutUs",
                  key: "2.1.1",
                  icon: ""
                }
              ]
            },
            {
              title: "被投企业",
              url: "",
              key: "2.2",
              icon: "export",
              children: []
            },
            {
              title: "云启团队",
              url: "",
              key: "2.3",
              icon: "team",
              children: []
            },
            {
              title: "云启智库",
              url: "",
              key: "2.4",
              icon: "global",
              children: []
            }
          ]
        },
        {
          title: "文章管理",
          url: "/admin/article",
          key: "3",
          icon: "book"
        },
        {
          title: "商业计划书管理",
          url: "/admin/page/sendBusinessPlan",
          key: "4",
          icon: "project"
        }
      ]
    };
  },
  created() {
    this.findAllTags();
  },
  computed: mapState({
    locale: state => state.locale
  }),
  watch: {
    locale() {
      this.findAllTags();
    }
  },
  mounted() {},
  methods: {
    async findAllTags() {
      const param = {
        queryInfo: {
          language: this.locale,
          visible: true
        }
      };
      const res1 = apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/portfolios/findAllTags`,
        param
      );

      const res2 = apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/team/findAllTags`,
        param
      );

      const res3 = apiService(
        HTTP_TYPE.POST,
        `${requestHttpName}/api/v1/article/findAllTags`,
        param
      );
      const res = await Promise.all([res1, res2, res3]);
      if (
        res[0].data.status == "success" &&
        res[1].data.status == "success" &&
        res[2].data.status == "success"
      ) {
        let allTags = res[0].data.result.data;
        for (let i in allTags) {
          allTags[i].tag = allTags[i]._id.split("、").join("/");
        }
        this.portfolios_tags = allTags;
        this.team_tags = res[1].data.result.data;
        this.artical_tags = res[2].data.result.data;
        let routeView = this.routeView;
        let locale = this.locale === "zh" ? "" : "/en";
        routeView[1].children[1].children = [];
        routeView[1].children[1].children.push({
          title: "全部",
          key: `2.2.0`,
          url: `${locale}/admin/page/portfolios/?tag=all`,
          icon: ""
        });
        this.portfolios_tags.forEach((item, index, array) => {
          routeView[1].children[1].children.push({
            title: item.tag,
            key: `2.2.${index + 1}`,
            url: `${locale}/admin/page/portfolios/?tag=${item._id}`,
            icon: ""
          });
        });

        routeView[1].children[2].children = [];
        routeView[1].children[2].children.push({
          title: "全部",
          key: `2.3.0`,
          url: `${locale}/admin/page/team/?tag=all`,
          icon: ""
        });
        this.team_tags.forEach((item, index, array) => {
          routeView[1].children[2].children.push({
            title: item._id,
            key: `2.3.${index + 1}`,
            url: `${locale}/admin/page/team/?tag=${item._id}`,
            icon: ""
          });
        });

        routeView[1].children[3].children = [];
        this.artical_tags.forEach((item, index, array) => {
          routeView[1].children[3].children.push({
            title: item._id,
            key: `2.4.${index + 1}`,
            url: `${locale}/admin/page/thinkTank/?tag=${item._id}`,
            icon: ""
          });
        });
        this.routeView = routeView;
      }
    }
  }
};
</script>

<style lang="scss">
.logo {
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 12px;
  img {
    height: 40px;
  }
}

.ant-menu-submenu-title span {
  display: flex;
  align-items: center;
}
.ant-menu-item {
  display: flex;
  align-items: center;
}
</style>