<template>
  <div>
    <a-select
      :defaultValue="$i18n.locale==='zh' ? '中文' : 'ENGLISH'"
      class="right"
      style="width: 110px"
    >
      <a-select-option value="en" style="position: relative;">
        <NuxtLink v-if="$i18n.locale==='zh'" :to="`/en` + $route.path+tagParam" class="fill"/>
          <div style="width:100%;">ENGLISH</div>
      </a-select-option>
      <a-select-option value="zh" style="position: relative;">
        <NuxtLink v-if="$i18n.locale==='en'" :to="$route.path.replace(/^\/[^\/]+/, '')+tagParam" class="fill"/>
          <div style="width:100%;">中文</div>
      </a-select-option>
    </a-select>
    <a-button class="right" @click="logOut">退出登陆</a-button>
  </div>
</template>

<script>
export default {
  data(){
    return {
      tagParam: ''
    }
  },
  created() {},
  mounted(){
    this.tagParam = this.$route.query.tag ? "?tag=all" : "";
  },
  watch:{
    $route(){
    this.tagParam = this.$route.query.tag ? "?tag=all" : "";
    }
  },
  methods: {
    logOut() {
      sessionStorage.removeItem("login");
      let path = this.$route.path;
      const subString = path.slice(path.indexOf("/admin/") + 7);
      const directUrl = path.replace(subString, "auth/login");
      this.$router.push(directUrl);
    }
  }
};
</script>

<style >
.right {
  float: right;
  margin-top: 12px;
  margin-right: 15px;
}

.fill{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
</style>
